<template>
    <div class="pretime-countdown" :style="{
        background: `linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.4) 40%, rgba(0,0,0,0.4) 60%, rgba(255,255,255,0) 100%), url('https://media.hitmaps.com/img/hitmaps-roulette/artbook-levels/${locationFilename}.png') center center / cover no-repeat`
    }">
        <div class="stats left" :class="showStats ? 'slide-from-left' : ''">
            <div class="inner-stats">
                <div class="map-record">
                    {{ participant0Lifetime }}
                </div>
                <div class="caption">Lifetime Performance <span class="subcaption">(W-L-T)</span></div>
                <div class="map-record personal-best">
                    {{ participant0PersonalBest ? participant0PersonalBest : 'None' }}
                </div>
                <div class="caption">Personal Best <span class="subcaption">(min:sec)</span></div>
            </div>
        </div>
        <div class="content" :class="showStats ? 'with-stats' : ''">
            <div class="travel">
                <div class="travel-icon">
                    <game-icon icon="location" font-style="solid" />
                </div>
                <div class="travel-text">
                    <h2>Traveling to</h2>
                    <h1>{{ location }}</h1>
                </div>
                <hr>
            </div>
            <div class="timer">
                <div class="time">
                    {{ getFormattedTime(this.remainingPretimeInSeconds) }}
                </div>
            </div>
        </div>
        <div class="stats right" :class="{
            'slide-from-right': showStats
        }">
            <div class="inner-stats">
                <div class="map-record">
                    {{ participant1Lifetime }}
                </div>
                <div class="caption">Lifetime Performance <span class="subcaption">(W-L-T)</span></div>
                <div class="map-record personal-best">
                    {{ participant1PersonalBest ? participant1PersonalBest : 'None' }}
                </div>
                <div class="caption">Personal Best <span class="subcaption">(min:sec)</span></div>
            </div>
        </div>
        <div class="stats map-record" :class="showStats ? 'slide-from-bottom' : ''">
            <div>Map Record: <template v-if="!mapRecordEvents.length">No current record</template>
                <template v-else>{{ mapRecordTime }} by
                    <template v-for="(name, index) in mapRecordNames">
                        <template v-if="index > 0">, </template>
                        {{ name }} ({{ mapRecordEvents[index] }})</template>
                </template>
            </div>
            <div class="source">
                <img src="https://media.hitmaps.com/img/hitmaps-custom/rrstats-logo.png" alt="RRStats Logo">
            </div>
            <div>
                Head-to-Head: {{ headToHeadLeaderInfo }}
            </div>
        </div>
    </div>
</template>

<script>
    import GameIcon from '@/components/GameIcon.vue';
    import PlayerTile from '../../components/HitmapsTournaments/PlayerTile.vue';
    export default {
        name: 'PretimeCountdown',
        components: {PlayerTile, GameIcon},
        props: {
            location: null,
            remainingPretimeInSeconds: null,
            mapSelections: Array,
            participants: Array,
            matchId: Number,
            slug: String,
            mapStats: null
        },
        data() {
            return {
                participant0Lifetime: null,
                participant0HeadToHead: null,
                participant0PersonalBest: null,
                participant1Lifetime: null,
                participant1HeadToHead: null,
                participant1PersonalBest: null,
                mapRecordTime: null,
                mapRecordNames: [],
                mapRecordEvents: [],
                showStats: false
            };
        },
        computed: {
            chosenBy() {
                const selectedMaps = this.mapSelections.filter(x => x.hitmapsSlug === this.slug).map(x => x.chosenByName);
                if (selectedMaps.length === 1) {
                    // tslint:disable-next-line
                    return selectedMaps[0] ?? 'HITMAPS™';
                }

                return selectedMaps.join(' & ');
            },
            locationFilename() {
                return this.location ?
                    this.location.toLowerCase()
                        .replace(/[ ]/g, '-')
                        .replace('à', 'a') :
                    '';
            },
            headToHeadLeaderInfo() {
                if (!this.participant0HeadToHead || !this.participant1HeadToHead) {
                    return 'No previous matches';
                }

                let prefix = 'Tied at '
                let formattedRecord = `${this.participant0HeadToHead.wins} - ${this.participant0HeadToHead.losses} - ${this.participant0HeadToHead.ties}`;
                if (this.participant0HeadToHead.wins > this.participant1HeadToHead.wins) {
                    prefix = `${this.participants[0].name.substring(0, 3).toUpperCase()} leads `;
                } else if (this.participant1HeadToHead.wins > this.participant0HeadToHead.wins) {
                    prefix = `${this.participants[1].name.substring(0, 3).toUpperCase()} leads `;
                    formattedRecord = `${this.participant1HeadToHead.wins} - ${this.participant1HeadToHead.losses} - ${this.participant1HeadToHead.ties}`
                }

                return `${prefix}${formattedRecord}`;
            }
        },
        methods: {
            getFormattedTime(time) {
                const minutes = parseInt((time + 1) / 60, 10);
                const seconds = parseInt((time + 1) % 60, 10);

                return `${this.formatTimerValue(minutes)}:${this.formatTimerValue(seconds)}`;
            },
            formatTimerValue(value) {
                if (value < 0) {
                    return '00';
                }
                const formattedValue = Math.abs(value);

                return formattedValue < 10 ? `0${formattedValue}` : formattedValue;
            },
            clearStats() {
                this.showStats = false;
                this.participant0Lifetime = null;
                this.participant0PersonalBest = null;
                this.participant1Lifetime = null;
                this.participant1PersonalBest = null;
                this.mapRecordTime = null;
                this.mapRecordNames = [];
                this.mapRecordEvents = [];
            },
            parseStatsResponse() {
                if (!this.mapStats) {
                    return;
                }

                if (this.mapStats.mapRecord.player !== null) {
                    this.mapRecordTime = `${parseInt(this.mapStats.mapRecord.time / 60, 10)}:${(this.mapStats.mapRecord.time % 60).toString().padStart(2, 0)}`;
                    this.mapRecordNames = this.mapStats.mapRecord.players;
                    this.mapRecordEvents = this.mapStats.mapRecord.competitions;
                }

                if (this.mapStats.player0Stats !== null) {
                    this.participant0Lifetime = `${this.mapStats.player0Stats.winsGlobal} - ${this.mapStats.player0Stats.lossesGlobal} - ${this.mapStats.player0Stats.tiesGlobal}`;
                    this.participant0HeadToHead = {
                        wins: this.mapStats.player0Stats.winsVsOpponent,
                        losses: this.mapStats.player0Stats.lossesVsOpponent,
                        ties: this.mapStats.player0Stats.tiesVsOpponent,
                    }
                } else {
                    this.participant0Lifetime = '0 - 0 - 0';
                    this.participant0HeadToHead = {
                        wins: 0,
                        losses: 0,
                        ties: 0,
                    }
                }

                if (this.mapStats.player1Stats !== null) {
                    this.participant1Lifetime = `${this.mapStats.player1Stats.winsGlobal} - ${this.mapStats.player1Stats.lossesGlobal} - ${this.mapStats.player1Stats.tiesGlobal}`;
                    this.participant1HeadToHead = {
                        wins: this.mapStats.player1Stats.winsVsOpponent,
                        losses: this.mapStats.player1Stats.lossesVsOpponent,
                        ties: this.mapStats.player1Stats.tiesVsOpponent,
                    }
                } else {
                    this.participant1Lifetime = '0 - 0 - 0';
                    this.participant1HeadToHead = {
                        wins: 0,
                        losses: 0,
                        ties: 0,
                    }
                }

                if (this.mapStats.player0PersonalBest !== null) {
                    this.participant0PersonalBest = `${parseInt(this.mapStats.player0PersonalBest / 60, 10)}:${(this.mapStats.player0PersonalBest % 60).toString().padStart(2, 0)}`
                }
                if (this.mapStats.player1PersonalBest !== null) {
                    this.participant1PersonalBest = `${parseInt(this.mapStats.player1PersonalBest / 60, 10)}:${(this.mapStats.player1PersonalBest % 60).toString().padStart(2, 0)}`
                }

                // This helps keep the scrolling animation in place.  Seems dumb, but needed.
                setTimeout(() => this.showStats = true, 0);
            },
            getRrStatsLocationForFullLocation() {
                const map = {
                    'Paris': 'PAR',
                    'Sapienza': 'SAP',
                    'Marrakesh': 'MAR',
                    'Bangkok': 'BKK',
                    'Colorado': 'COL',
                    'Hokkaido': 'HOK',
                    'Miami': 'MIA',
                    'Santa Fortuna': 'SF',
                    'Mumbai': 'MUM',
                    'Whittleton Creek': 'WC',
                    'Isle of Sgàil': 'SGA',
                    'New York': 'NY',
                    'Haven Island': 'HAV',
                    'Dubai': 'DUB',
                    'Dartmoor': 'DAR',
                    'Berlin': 'BER',
                    'Chongqing': 'CHO',
                    'Mendoza': 'MEN'
                };

                return map[this.location];
            },
            centerPadValue(value, max) {
                if (!value) {
                    return value;
                }

                value = value.replace('%', '');
                if (value.length === max) {
                    return value;
                }

                const padAmount = Math.floor((max - value.length) / 2);

                let retVal = value;
                for (let i = 0; i < padAmount; i++) {
                    retVal += ' ';
                }
                retVal = retVal.padStart(max, ' ');

                return retVal;
            }
        },
        mounted() {
            this.clearStats();
            this.parseStatsResponse();
        },
        watch: {
            mapStats() {
                this.parseStatsResponse();
            }
        }
    };
</script>

<style lang="scss" scoped>
    @font-face {
        font-family: 'ArcadeRR';
        src: url('../../assets/css/arcade.regular.ttf');
    }

    .pretime-countdown {
        width: 1920px;
        height: 260px;
        position: relative;

        .stats {
            position: absolute;
            background: #666;
            text-align: center;

            .map-record {
                font-family: 'Teko', 'Arial', sans-serif;
                font-weight: 700;
                display: flex;
                flex-direction: column;
                justify-content: center;

                background: #171717;
                color: #fff;
                font-size: 4rem;
                height: 99px;

                &.personal-best {
                    letter-spacing: 5px;
                }
            }

            .caption {
                background: #fff;
                display: flex;
                justify-content: center;
                color: #000;
                font-size: 25px;
                font-weight: bolder;
                line-height: 31px;

                .subcaption {
                    font-size: .6em;
                    padding-left: 5px;
                }
            }

            &.map-record {
                bottom: -31px;
                left: 400px;
                height: 31px;
                width: 1120px;
                text-align: center;
                font-size: 20px;
                line-height: 31px;
                background: #fff;
                color: #000;
                display: flex;
                justify-content: center;
                transition: bottom 2s ease-in-out;

                > div {
                    flex-grow: 1;
                }

                .source {
                    font-size: .8rem;
                    display: flex;
                    justify-content: center;

                    img {
                        margin-left: 5px;
                        height: 30px;
                        width: 30px;
                    }
                }

                &.slide-from-bottom {
                    bottom: 0;
                }
            }

            &.left {
                top: 0;
                left: -400px;
                height: 260px;
                width: 400px;
                box-shadow: 2px 5px 5px black;
                transition: left 2s ease-in-out;

                &.slide-from-left {
                    left: 0;
                }
            }

            &.right {
                display: flex;
                top: 0;

                right: -400px;
                height: 260px;
                width: 400px;
                box-shadow: -2px 5px 5px black;
                transition: right 2s ease-in-out;

                &.slide-from-right {
                    right: 0;
                }

                .inner-stats {
                    flex-grow: 1;
                }
            }
        }

        .content {
            /* 180 */
            height: 250px;
            text-shadow: 2px 2px #000;
            display: flex;
            justify-content: center;
            align-items: center;

            /*&.with-stats {
                height: 140px;
                transition: height 2s ease-in-out;
            }*/

            p {
                height: 75px;
            }

            .travel {
                display: flex;

                .travel-icon {
                    /* Animation */
                    animation: 1s ease-out 0s 1 slideFromLeft;

                    i {
                        color: white;
                        font-size: 86px;
                    }
                }

                .travel-text {
                    margin-left: 10px;
                    color: white;
                    h2 {
                        margin-bottom: 0;
                        animation: .5s ease 0s 1 flashInChosenBy;
                    }

                    h1 {
                        margin-bottom: 0;
                        animation: 1s ease 0s 1 flashInLocation;
                    }
                }
            }

            hr {
                background: white;
                box-shadow: 2px 2px #000;
                height: 80px;
                width: 2px;
                margin: 0 10px;
                display: flex;
                align-self: center;

                animation: 1s ease-in-out 0s 1 expandDivider;
            }

            .timer {
                display: flex;
                color: white;
                font-size: 40px;

                animation: 1s ease-in-out 0s 1 showTimer;

                .next-map {
                    margin-left: 10px;
                    font-size: 20px;
                }
            }
        }
    }

    /* region Keyframes */
    @keyframes slideFromLeft {
        0% {
            transform: translateX(-50px);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes flashInChosenBy {
        0% {
            opacity: 0;
        }
        33% {
            opacity: 1;
        }
        67% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes flashInLocation {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0;
        }
        67% {
            opacity: 1;
        }
        83% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes expandDivider {
        0% {
            height: 0;
        }
        100% {
            height: 80px;
        }
    }

    @keyframes showTimer {
        0% {
            opacity: 0;
            transform: translateX(-25px);
        }
        50% {
            opacity: 0;
            transform: translateX(-25px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    /* endregion */
</style>
