<template>
    <div class="body" v-if="matchLoadComplete && missionInfoLoadComplete === 3">
        <div class="map-picks">
            <div class="pick-one">
                <map-pick-display v-if="playerOneHasOnlyOneBan" align="center" :location="playerOneBan" :index="0" banned :style="'visibility:' + (playerOneBan ? 'visible' : 'hidden' )" />
                <map-pick-display v-if="playerOneHasOnlyOnePick" align="center" :location="playerOnePick" :index="0" />
            </div>
            <div class="pick-two">
                <map-pick-display v-if="playerTwoHasOnlyOneBan" align="center" :location="playerTwoBan" :index="1" banned :style="'visibility:' + (playerTwoBan ? 'visible' : 'hidden' )" />
                <map-pick-display v-if="playerTwoHasOnlyOnePick" align="center" :location="playerTwoPick" :index="1" />
            </div>
        </div>
        <div class="score-bug">
            <div class="participant left" :class="players[0].completeTime ? 'finished' : ''">
                <div class="avatar"
                     :class="useObjectivesTracker ? 'berlin' : ''"
                     @click="refreshStream('leftStream')">
                    <img class="frame"
                         src="https://media.hitmaps.com/img/hitmaps-tournaments/rr14/player-frame.png"
                         alt="Frame">
                    <img class="actual-avatar"
                         :src="getUnanimatedAvatarUrl(players[0].avatarUrl)" alt="Player One Avatar">
                </div>
                <div class="finished" :class="players[0].completeTime ? 'active' : ''">
                    <span class="text">
                        {{ getTimeDisplay(players[0].completeTime) }}
                    </span>
                </div>
<!--                <div class="flag" v-if="tourneyCompetitors.length">
                    <country-flag :country="tourneyCompetitors[0].countryCode" size="big" />
                </div>-->
                <div class="name-and-title">
                    <p class="name">
                        <fitty v-if="true" :options="fittyOptions">{{ playerOneName }}</fitty>
                        <span class="fixed-width" v-else>{{ playerOneName }}</span>
                    </p>
                    <div class="title" v-if="tourneyCompetitors.length">
                        <div>
                            <fitty :options="accoladeFittyOptions">{{ tourneyCompetitors[0].accolade }}</fitty>
                        </div>
                    </div>
                </div>
                <div class="score">
                    <rr10-lottie-score :score="playerOneScore" />
                </div>
            </div>
            <div class="first-to-x">
                <div class="logo" style="visibility: hidden">
                    <img src="https://media.hitmaps.com/img/hitmaps-tournaments/rr11-overlay-logo.png" alt="Logo">
                </div>
            </div>
            <div class="participant right" :class="players[1].completeTime ? 'finished' : ''">
                <div class="score">
                    <rr10-lottie-score :score="playerTwoScore" />
                </div>
                <div class="finished" :class="players[1].completeTime ? 'active' : ''">
                    <span class="text">
                        {{ getTimeDisplay(players[1].completeTime) }}
                    </span>
                </div>
<!--                <div class="flag" v-if="tourneyCompetitors.length">
                    <country-flag :country="tourneyCompetitors[1].countryCode" size="big" />
                </div>-->
                <div class="name-and-title">
                    <p class="name">
                        <fitty v-if="true" :options="fittyOptions">{{ playerTwoName }}</fitty>
                        <span class="fixed-width" v-else>{{ playerTwoName }}</span>
                    </p>
                    <div class="title" v-if="tourneyCompetitors.length">
                        <div>
                            <fitty :options="accoladeFittyOptions">{{ tourneyCompetitors[1].accolade }}</fitty>
                        </div>
                    </div>
                </div>
                <div class="avatar"
                     :class="useObjectivesTracker ? 'berlin' : ''"
                     @click="refreshStream('rightStream')">
                    <img class="frame"
                         :style="`visibility: ${players[1].avatarUrl ? 'visible' : 'hidden'}`"
                         src="https://media.hitmaps.com/img/hitmaps-tournaments/rr14/player-frame.png"
                         alt="Frame">
                    <img class="actual-avatar"
                         :style="`visibility: ${players[1].avatarUrl ? 'visible' : 'hidden'}`"
                         :src="getUnanimatedAvatarUrl(players[1].avatarUrl)" alt="Player Two Avatar">
                </div>
            </div>
        </div>
        <div class="stream-embeds" v-if="tourneyCompetitors.length && !$route.query.includeStreams">
            <div class="embed-left">
                <stream-embed ref="leftStream" :stream-url="tourneyCompetitors[0].streamUrl" />
            </div>
            <div class="embed-right">
                <stream-embed ref="rightStream" :stream-url="tourneyCompetitors[1].streamUrl" />
            </div>
        </div>
        <div class="spin-conditions-and-timer">
            <lower-third :tourney-id="tournamentMatchId"
                         :elapsed-time-in-seconds="elapsedTimeInSeconds"
                         :remaining-time-in-seconds="remainingTimeInSeconds"
                         :matchup-data="matchupData"
                         :pretime="pretime"
                         :hitmaps-mission-info="hitmapsMissionInfo"
                         :objectives="objectives"
                         :players="players"
                         :player-one-name="playerOneName"
                         :player-two-name="playerTwoName"
                         :player-one-score="playerOneScore"
                         :player-two-score="playerTwoScore"
                         :map-selections="maps"
                         :points-for-victory="pointsForVictory"
                         :map-stats="mapStats" />
        </div>
    </div>
</template>

<style lang="scss" scoped>
/*
WIDTH: 1920px
HEIGHT: 1080px
 */
.body {
    background: url('https://media.hitmaps.com/img/hitmaps-tournaments/rr14/baseplate.png') no-repeat;
    font-family: 'playername-score', sans-serif;
    width: 1920px;
    height: 1080px;

    .overlay-logo {
        position: absolute;
        top: 5px;
        left: 0;
        display: flex;
        flex-grow: 1;
        width: 100%;
        justify-content: center;
        height: 100px;
    }

    .top {
        display: flex;
        height: 316px;
    }

    .map-picks {
        position: absolute;
        width: 1900px;
        height: 90px;

        .pick-one {
            position: absolute;
            top: 7px;
            left: 60px;
        }

        .pick-two {
            position: absolute;
            top: 7px;
            left: 1698px;
        }
    }

    .score-bug {
        position: absolute;
        top: 62px;

        .first-to-x {
            position: absolute;
            color: #a0ecff;
            font-size: 36px;
            width: 354px;
            top: -56px;
            left: 786px;
            text-align: center;
            text-transform: uppercase;
            font-family: 'playername-score', 'Arial', sans-serif;
            font-weight: 600;
            letter-spacing: 5px;

            .logo > img {
                /*width: 147px;*/
            }

            .first-to-text {
                margin-top: 43px;
                letter-spacing: 1px;
                font-size: 41px;
            }
        }

        .participant {
            display: flex;

            &.left {
                position: absolute;
                left: 30px;
                top: 3px;
                width: 903px;
                height: 210px;

                > .flag {
                    position: absolute;
                    left: 243px;
                    top: 0;
                }

                img {
                    border-color: red;
                    margin-left: 2px;
                }

                .berlin {
                    img.frame {
                        filter: sepia(100%) saturate(900%) brightness(60%) hue-rotate(290deg);
                    }
                }

                .name-and-title {
                    text-align: left;
                    width: 430px;
                    margin-left: 38px;
                }

                .avatar {
                    width: 217px;
                    margin-top: -6px;
                    margin-left: -12px;
                }

                .finished {
                    position: absolute;
                    left: 35px;
                    top: 141px;
                    background: #fff;
                    color: #333;
                    font-size: 34px;
                    width: 0;
                    text-align: center;
                    transition: width 1s ease-in-out, left 1s ease-in-out;
                    font-family: "finished-text", sans-serif;
                    overflow: hidden;
                    height: 51px;

                    > .text {
                        opacity: 0;
                        transition: opacity .3s ease-in-out;
                    }

                    &.active {
                        left: 195px;
                        width: 485px;

                        > .text {
                            opacity: 100%;
                        }
                    }
                }

                .score {
                    position: absolute;
                    left: 720px;
                    top: 30px;
                    width: 200px;
                }
            }

            &.right {
                position: absolute;
                left: 960px;
                top: 3px;
                width: 907px;
                height: 210px;

                > .flag {
                    position: absolute;
                    left: 646px;
                    top: 0;
                }

                img {
                    border-color: blue;
                    margin-right: 2px;
                }

                .berlin {
                    img.frame {
                        filter: sepia(100%) saturate(900%) brightness(60%) hue-rotate(170deg);
                    }
                }

                .score {
                    position: absolute;
                    left: 15px;
                    top: 30px;
                    width: 200px;
                }

                .finished {
                    position: absolute;
                    right: 170px;
                    top: 141px;
                    background: #fff;
                    color: #333;
                    font-size: 34px;
                    width: 0;
                    text-align: center;
                    transition: width 1s ease-in-out, right 1s ease-in-out;
                    font-family: "finished-text", sans-serif;
                    overflow: hidden;
                    height: 51px;

                    > .text {
                        opacity: 0;
                        transition: opacity .3s ease-in-out;
                    }

                    &.active {
                        width: 485px;
                        right: 160px;

                        > .text {
                            opacity: 100%;
                        }
                    }
                }

                .name-and-title {
                    text-align: right;
                    padding-right: 9px;
                    width: 463px;
                    margin-left: 289px;

                    .name {
                        margin-right: -6px;
                    }

                    .title {
                        margin-right: -3px;
                    }
                }

                .avatar {
                    margin-right: 10px;
                    width: 217px;
                    margin-top: -6px;

                    .frame {
                        -webkit-transform: scaleX(-1);
                        transform: scaleX(-1);
                    }

                    > .frame {
                        left: 17px;
                        top: 10px;
                    }

                    > .actual-avatar {
                        left: 36px;
                        top: 28px;
                    }
                }
            }

            .avatar {
                position: relative;

                > .frame {
                    position: absolute;
                    z-index: 2;
                    transition: filter 2s linear;
                    left: 23px;
                    top: 10px;
                }

                > .actual-avatar {
                    position: absolute;
                    z-index: 1;
                    top: 28px;
                    left: 40px;
                    height: 162px;
                    width: 162px;
                    background: #15153a;
                }
            }

            .name-and-title {
                font-family: 'playername-score', 'Arial', sans-serif;
                width: 652px;

                .name {
                    color: #ffc527;
                    margin-top: 85px;
                    margin-bottom: 0;
                    margin-left: -6px;
                    line-height: 22px;
                    height: 53px;
                    text-transform: uppercase;

                    > .fixed-width {
                        /* Larger widths handled by fitty, but letter spacing can confuse legit names */
                        font-size: 40px;
                    }
                }

                .title {
                    font-size: 15px;
                    color: #fff;
                    overflow: hidden;
                    margin-top: 3px;
                    margin-bottom: 0;
                    margin-left: -4px;
                    text-transform: uppercase;
                    line-height: 55px;

                    .finished-text {
                        color: #000;
                        -webkit-text-stroke: 1px #fff;
                    }
                }
            }

            .score {
                display: flex;
                align-items: center;
                width: 173px;
                height: 173px;
                justify-content: flex-start;
                font-family: 'playername-score', 'Arial', sans-serif;
                color: white;
                font-size: 170px;
            }
        }
    }

    .stream-embeds {
        position: absolute;
        top: 280px;

        .embed-right {
            position: absolute;
            top: 0;
            left: 960px;
        }

    }

    .spin-conditions-and-timer {
        position: absolute;
        top: 820px;
        left: 0;
        width: 1920px;
        height: 258px;
    }
}

@font-face {
    font-family: 'playername-score';
    src: url("/fonts/glitch.woff") format('woff'),
         url("/fonts/glitch.woff2") format('woff2');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'nimbus_sans_lbold';
    src: url('/fonts/NimbusSanL-Bol-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nimbus_sans_lregular';
    src: url('/fonts/NimbusSanL-Reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'finished-text';
    src: url('/fonts/Teko-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

/* region Teko */
@font-face {
    font-family: 'Teko';
    font-style: normal;
    font-weight: 400;
    src: local('Teko'), url('/fonts/Teko-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Teko';
    font-style: normal;
    font-weight: 700;
    src: local('Teko'), url('/fonts/Teko-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Teko';
    font-style: normal;
    font-weight: 600;
    src: local('Teko'), url('/fonts/Teko-SemiBold.woff') format('woff');
}


@font-face {
    font-family: 'Teko';
    font-style: normal;
    font-weight: 300;
    src: local('Teko'), url('/fonts/Teko-Light.woff') format('woff');
}

@font-face {
    font-family: 'Teko';
    font-style: normal;
    font-weight: 500;
    src: local('Teko'), url('/fonts/Teko-Medium.woff') format('woff');
}
/* endregion */
</style>

<script>
import GameIcon from '@/components/GameIcon.vue';
import LowerThird from '@/views/TournamentOverlay/LowerThird.vue';
import Fitty from '@/components/Fitty.vue';
import MapPickDisplay from './MapPickDisplay.vue';
import TimerHandler from '../../components/TimerHandler.ts';
import MatchHub from '../../components/MatchHub.ts';
import CurrentSpin from '../../components/HitmapsTournaments/CurrentSpin.ts';
import Rr10LottieScore from "@/components/TournamentOverlay/Rr10LottieScore.vue";
import StreamEmbed from "@/components/HitmapsTournaments/StreamEmbed.vue";
import moment from 'moment-timezone';

export default {
    name: 'rr14-overlay',
    components: {
        StreamEmbed,
        Rr10LottieScore,
        MapPickDisplay,
        Fitty,
        LowerThird,
        GameIcon
    },
    props: {
        matchupId: String,
        eventSlug: String
    },
    data() {
        return {
            matchLoadComplete: false,
            missionInfoLoadComplete: 0,
            matchHub: null,
            matchupData: null,
            previousTimerFingerprint: null,
            timerDelta: null,
            spinTime: null,
            endTime: null,
            currentTime: null,
            timerInterval: null,
            objectivesInterval: null,
            remainingTimeInSeconds: null,
            elapsedTimeInSeconds: null,
            pretime: {
                inPretime: false,
                remainingPretimeInSeconds: 0
            },
            tournamentMatchId: null,
            playerOneScore: 0,
            playerTwoScore: 0,
            playerOneName: null,
            playerTwoName: null,
            tourneyMapSelections: [],
            tourneyMapBans: [],
            tourneyCompetitors: [],
            hitmapsMissionInfo: {},
            players: [],
            maps: [],
            fittyOptions: {
                minSize: 11,
                maxSize: 85
            },
            accoladeFittyOptions: {
                minSize: 11,
                maxSize: 37
            },
            objectives: {
                '0|1': false,
                '0|2': false,
                '1|1': false,
                '1|2': false,
                '2|1': false,
                '2|2': false,
                '3|1': false,
                '3|2': false,
                '4|1': false,
                '4|2': false
            },
            pointsForVictory: Number.MAX_SAFE_INTEGER,
            mapStats: null
        };
    },
    computed: {
        playerOneHasOnlyOnePick() {
            return this.tourneyMapSelections.filter(x => x.competitorName === this.players[0].name).length === 1;
        },
        playerOneHasOnlyOneBan() {
            return this.tourneyMapBans.filter(x => x.competitorName === this.players[0].name).length <= 1;
        },
        playerOnePick() {
            const selection = this.tourneyMapSelections.find(x => x.competitorName === this.players[0].name);

            return selection && this.hitmapsMissionInfo ? this.hitmapsMissionInfo[selection.mapSlug].location : null;
        },
        playerOneBan() {
            const selection = this.tourneyMapBans.find(x => x.competitorName === this.players[0].name);

            return selection && this.hitmapsMissionInfo ? this.hitmapsMissionInfo[selection.mapSlug].location : null;
        },
        playerTwoHasOnlyOnePick() {
            return this.tourneyMapSelections.filter(x => x.competitorName === this.players[1].name).length === 1;
        },
        playerTwoHasOnlyOneBan() {
            return this.tourneyMapBans.filter(x => x.competitorName === this.players[1].name).length <= 1;
        },
        playerTwoPick() {
            const selection = this.tourneyMapSelections.find(x => x.competitorName === this.players[1].name);

            return selection && this.hitmapsMissionInfo ? this.hitmapsMissionInfo[selection.mapSlug].location : null;
        },
        playerTwoBan() {
            const selection = this.tourneyMapBans.find(x => x.competitorName === this.players[1].name);

            return selection && this.hitmapsMissionInfo ? this.hitmapsMissionInfo[selection.mapSlug].location : null;
        },
        useObjectivesTracker() {
            return this.matchupData &&
                this.matchupData.currentSpin &&
                this.matchupData.currentSpin.mission.slug === 'apex-predator';
        },
        currentMap() {
            const currentMap = this.maps.find(x => !x.complete)?.hitmapsSlug;

            // Hack to trigger watcher when it populates
            if (!this.hitmapsMissionInfo || !this.hitmapsMissionInfo[currentMap]) {
                return null;
            }

            return currentMap;
        }
    },
    methods: {
        getTimeDisplay(completeTime) {
            if (!completeTime || !this.mapStats) {
                return;
            }

            const startTime = moment(this.matchupData.timer.startTime);

            const difference = moment.duration(moment(completeTime).diff(startTime));

            let minutes = parseInt(difference.asMinutes());
            minutes = minutes < 10 ? '0' + minutes : minutes;
            let seconds = parseInt(difference.asSeconds()) % 60;
            seconds = seconds < 10 ? '0' + seconds : seconds;

            return `Finished! — ${minutes}:${seconds}`;
        },
        initializeMatchup() {
            this.$http
                .get(`${this.$apiDomain}/api/matchups/${this.matchupId}`)
                .then(resp => {
                    this.handleResponse(resp.data);
                    this.matchLoadComplete = true;
                })
                .catch(err => {
                    console.error(err);
                });
        },
        loadMissionLocations() {
            for (const game of ['hitman', 'hitman2', 'hitman3']) {
                this.$http.get(`https://api.hitmaps.com/api/games/${game}/locations`).then(resp => {
                    for (const location of resp.data) {
                        for (const mission of location.missions) {
                            this.hitmapsMissionInfo[mission.slug] = {
                                location: location.destination,
                                mission: mission.name,
                                backgroundUrl: mission.backgroundUrl
                            };
                        }
                    }
                    this.missionInfoLoadComplete++;
                });
            }
        },
        handleResponse(resp) {
            this.tournamentMatchId = resp.hitmapsTournamentId;
            this.matchupData = {
                currentSpin: resp.currentSpin ? new CurrentSpin(resp.currentSpin) : null,
                matchupId: resp.matchupId,
                timer: resp.timer.fingerprint !== this.previousTimerFingerprint ?
                    resp.timer :
                    this.matchupData.timer
            };
            if (resp.timer.fingerprint !== this.previousTimerFingerprint) {
                this.timerDelta = new Date(this.matchupData.timer.serverTime).getTime() - new Date().getTime();
                this.updateTimer();
            }
            this.previousTimerFingerprint = this.matchupData.timer.fingerprint;

            this.players = resp.participants;
            this.maps = resp.mapSelections;
            this.pointsForVictory = resp.pointsForVictory;
            this.playerOneScore = 0;
            this.playerTwoScore = 0;
            this.playerOneName = resp.participants[0].name;
            this.playerTwoName = resp.participants[1].name;
            if (resp.participants.some(x => x.forfeit)) {
                if (resp.participants[0].forfeit) {
                    this.playerOneScore = 0;
                    this.playerTwoScore = 1;
                } else {
                    this.playerOneScore = 1;
                    this.playerTwoScore = 0;
                }
            } else {
                resp.mapSelections.filter(x => x.complete).forEach(x => {
                    if (x.winnerName === null) {
                        this.playerOneScore++;
                        this.playerTwoScore++;
                    } else if (x.winnerName === this.playerOneName) {
                        this.playerOneScore += 2;
                    } else {
                        this.playerTwoScore += 2;
                    }
                });
            }

            for (let i = 0; i < 5; i++) {
                this.objectives[`${i}|1`] = false;
                this.objectives[`${i}|2`] = false;
            }
            resp.completedObjectives.forEach(x => {
                const playerIndex = this.players.findIndex(y => y.name === x.playerName);
                this.objectives[`${x.objectiveIndex}|${playerIndex + 1}`] = true;
            });

            this.updateTimer(true);
        },
        handleObjectives(resp) {
            for (let i = 0; i < 5; i++) {
                this.objectives[`${i}|1`] = false;
                this.objectives[`${i}|2`] = false;
            }
            resp.objectives.forEach(x => {
                console.log(x);
                const playerIndex = this.players.findIndex(y => y.name === x.playerName);
                this.objectives[`${x.objectiveIndex}|${playerIndex + 1}`] = x.completed;
            });
        },
        processSpinCompleteForPlayer(wsPlayer) {
            const player = this.players.find(x => x.publicId === wsPlayer.publicId);
            player.completeTime = wsPlayer.completeTime;
        },
        calculateEndTime(spinTime, matchLength) {
            if (matchLength === 'NO TIME LIMIT') {
                return undefined;
            }

            const actualMatchLengthMinutes = parseInt(matchLength.substr(0, 2), 10);
            const endTime = new Date(spinTime.getTime());
            endTime.setMinutes(endTime.getMinutes() + actualMatchLengthMinutes);

            return endTime;
        },
        getFormattedTime(time) {
            const minutes = parseInt(time / 60, 10);
            const seconds = parseInt(time % 60, 10);

            return `${this.formatTimerValue(minutes)}:${this.formatTimerValue(seconds)}`;
        },
        formatTimerValue(value) {
            if (value < 0) {
                return '00';
            }
            const formattedValue = Math.abs(value);

            return formattedValue < 10 ? `0${formattedValue}` : formattedValue;
        },
        setupWebsocketsConnection() {
            this.matchHub = new MatchHub(this.$apiDomain);
            this.matchHub.start();
            this.matchHub.joinMatch(this.matchupId);
            this.matchHub.adminJoinMatch(this.matchupId);
            this.matchHub.on('MatchChange', (args) => this.handleResponse(args));
            this.matchHub.on('SpinComplete', (player) => this.processSpinCompleteForPlayer(player));
            this.matchHub.on('ObjectiveUpdate', (args) => this.handleObjectives(args));

            this.matchHub.onReconnected(_ => {
                // Disconnect from everything just to have a clean slate
                this.matchHub.leaveMatch(this.matchupId);
                this.matchHub.adminLeaveMatch(this.matchupId);
                this.matchHub.off('MatchChange');
                this.matchHub.off('SpinComplete');
                this.matchHub.off('ObjectiveUpdate');

                // And now let's reconnect
                this.matchHub.joinMatch(this.matchupId);
                this.matchHub.adminJoinMatch(this.matchupId);
                this.matchHub.on('MatchChange', (args) => this.handleResponse(args));
                this.matchHub.on('SpinComplete', (player) => this.processSpinCompleteForPlayer(player));
                this.matchHub.on('ObjectiveUpdate', (args) => this.handleObjectives(args));
            });
        },
        updateTimer() {
            this.currentTime = new Date(new Date().getTime() + this.timerDelta);

            // tslint:disable-next-line
            this.pretime.inPretime = new Date(this.matchupData.timer.startTime).getTime() - this.currentTime.getTime() > 0;
            this.pretime.remainingPretimeInSeconds = this.getRemainingPretimeInSeconds();
            this.remainingTimeInSeconds = this.getRemainingTimeInSeconds();
            this.elapsedTimeInSeconds = this.getElapsedTimeInSeconds();
            this.timerInterval = TimerHandler.setTimeout(this.updateTimer, 100);
        },
        getRemainingTimeInSeconds() {
            if (this.matchupData.timer.endTime === null) {
                return null;
            }

            const diff = new Date(this.matchupData.timer.endTime).getTime() - this.currentTime.getTime();
            return diff / 1000;
        },
        getElapsedTimeInSeconds() {
            const diff = this.currentTime.getTime() - new Date(this.matchupData.timer.startTime).getTime();
            return diff / 1000;
        },
        getRemainingPretimeInSeconds() {
            return (new Date(this.matchupData.timer.startTime).getTime() - this.currentTime.getTime()) / 1000;
        },
        getUnanimatedAvatarUrl(avatarUrl) {
            if (!avatarUrl) {
                return 'https://media.hitmaps.com/img/hitman2/actors/mongoose_unknown_man.png?w=165';
            }

            return avatarUrl.replace('.gif', '.png');
        },
        refreshStream(theStream) {
            const ref = this.$refs[theStream];
            if (!ref) {
                return;
            }

            ref.reload();
        },
        getLocationForSlug(slug) {
            if (!slug || !this.hitmapsMissionInfo || !this.hitmapsMissionInfo[slug]) {
                return '';
            }

            return this.hitmapsMissionInfo[slug].location;
        },
        initializeTest() {
            this.tournamentMatchId = 0;
            this.tourneyCompetitors = [
                {
                    countryCode: 'US',
                    accolade: 'RR Finalist'
                },
                {
                    countryCode: 'US',
                    accolade: 'RR12 Winner'
                }
            ];
            this.matchupData = {
                currentSpin: null,
                matchupId: 'abc123',
                timer: {
                    endTime: null,
                    fingerprint: '00000000-0000-0000-0000-000000000000',
                    matchDurationInMinutes: null,
                    paused: false,
                    serverTime: '2022-11-11T11:11:11Z',
                    startTime: null
                }
            };

            this.players = [
                {
                    avatarUrl: 'https://media.hitmaps.com/img/hitmaps-roulette/berlin-1.jpg',
                    completeTime: null,
                    forfeit: false,
                    lastPing: '2022-11-11T11:11:11Z',
                    name: 'ThatObserver',
                    publicId: ''
                },
                {
                    avatarUrl: 'https://media.hitmaps.com/img/hitmaps-roulette/berlin-2.jpg',
                    completeTime: null,
                    forfeit: false,
                    lastPing: '2022-11-11T11:11:11Z',
                    name: 'Mando',
                    publicId: ''
                }
            ];
            this.maps = [
                {
                    chosenByName: 'ThatObserver',
                    complete: false,
                    hitmapsSlug: 'the-showstopper',
                    id: 0,
                    winnerName: null
                },
                {
                    chosenByName: 'Mando',
                    complete: false,
                    hitmapsSlug: 'the-farewell',
                    id: 0,
                    winnerName: null
                },
            ];
            this.pointsForVictory = null;
            this.playerOneScore = 10;
            this.playerTwoScore = 10;
            this.playerOneName = 'ThatObserver';
            this.playerTwoName = 'Mando';
            this.matchLoadComplete = true;
        }
    },
    mounted() {
        this.loadMissionLocations();

        if (this.matchupId === 'TESTING') {
            this.initializeTest();
        } else {
            this.initializeMatchup();
            this.setupWebsocketsConnection();
        }
    },
    watch: {
        tournamentMatchId(newId, oldId) {
            if (this.matchupId === 'TESTING') {
                return;
            }

            this.$http.get(`${this.$tourneyDomain}/api/matches/${newId}/metadata`)
                .then(resp => {
                    this.tourneyMapSelections = resp.data.mapSelections.filter(x => x.selectionType === 'Pick');
                    this.tourneyMapBans = resp.data.mapSelections.filter(x => x.selectionType === 'Ban');
                    this.tourneyCompetitors = resp.data.competitors;
                }).catch(console.err);
        },
        currentMap(newLocation, oldLocation) {
            if (!this.getLocationForSlug(newLocation)) {
                return;
            }

            this.$http.get(`${this.$tourneyDomain}/api/matches/${this.tournamentMatchId}/map-stats?location=${this.getLocationForSlug(newLocation)}`)
                .then(resp => this.mapStats = resp.data)
                .catch(err => console.error(err));
        }
    }
};
</script>
