<template>
    <div class="body" v-if="!matchLoadComplete || missionInfoLoadComplete !== 3">
        <p>Uhhhh</p>
    </div>
    <div class="body" v-else>
        <div class="overlay-logo">
            <img src="https://media.hitmaps.com/img/hitmaps-tournaments/rr9-logo-black.png?h=100&w=332">
        </div>
        <div class="map-picks">
            <div class="pick-one">
                <map-pick-display v-if="playerOneHasOnlyOnePick" :location="playerOneBan" :index="0" banned :style="'visibility:' + (playerOneBan ? 'visible' : 'hidden' )" />
                <map-pick-display v-if="playerOneHasOnlyOneBan" :location="playerOnePick" :index="0" />
            </div>
            <div class="pick-two">
                <map-pick-display v-if="playerTwoHasOnlyOnePick" :location="playerTwoBan" :index="1" banned :style="'visibility:' + (playerTwoBan ? 'visible' : 'hidden' )" />
                <map-pick-display v-if="playerTwoHasOnlyOneBan" :location="playerTwoPick" :index="1" />
            </div>
        </div>
        <div class="score-bug">
            <div class="participant left" :class="players[0].completeTime ? 'finished' : ''">
                <div class="avatar" :class="useObjectivesTracker ? 'berlin' : ''">
                    <img :style="`visibility: ${players[0].avatarUrl ? 'visible' : 'hidden'}`" :src="getUnanimatedAvatarUrl(players[0].avatarUrl)" alt="Player One Avatar">
                </div>
                <div class="name-and-title">
                    <p class="name">
                        <fitty :options="fittyOptions">{{ playerOneName }}</fitty>
                    </p>
                    <p class="title">
                        <transition name="drop-away">
                            <div :key="'finished'" v-if="players[0].completeTime" class="finished-text">
                                Finished!
                            </div>
                            <div :key="'title'" v-else>
                                {{ playerOneAccolade }}
                            </div>
                        </transition>
                    </p>
                </div>
                <div class="score">
                    <lottie-score :score="playerOneScore" />
                </div>
            </div>
            <div class="first-to-x">
                First to {{ pointsForVictory }}
            </div>
            <div class="participant right" :class="players[1].completeTime ? 'finished' : ''">
                <div class="score">
                    <lottie-score :score="playerTwoScore" />
                </div>
                <div class="name-and-title">
                    <p class="name">
                        <fitty :options="fittyOptions">{{ playerTwoName }}</fitty>
                    </p>
                    <p class="title">
                        <transition name="drop-away">
                    <div :key="'finished'" v-if="players[1].completeTime" class="finished-text">
                        Finished!
                    </div>
                    <div :key="'title'" v-else>
                        {{ playerTwoAccolade }}
                    </div>
                    </transition>
                    </p>
                </div>
                <div class="avatar" :class="useObjectivesTracker ? 'berlin' : ''">
                    <img :style="`visibility: ${players[1].avatarUrl ? 'visible' : 'hidden'}`" :src="getUnanimatedAvatarUrl(players[1].avatarUrl)" alt="Player Two Avatar">
                </div>
            </div>
        </div>
        <div class="spin-conditions-and-timer">
            <lower-third :tourney-id="tournamentMatchId"
                         :elapsed-time-in-seconds="elapsedTimeInSeconds"
                         :remaining-time-in-seconds="remainingTimeInSeconds"
                         :matchup-data="matchupData"
                         :pretime="pretime"
                         :hitmaps-mission-info="hitmapsMissionInfo"
                         :objectives="objectives"
                         :players="players"
                         :player-one-name="playerOneName"
                         :player-two-name="playerTwoName"
                         :player-one-score="playerOneScore"
                         :player-two-score="playerTwoScore"
                         :map-selections="maps"
                         :points-for-victory="pointsForVictory" />
        </div>
    </div>
</template>

<style lang="scss" scoped>
/*
WIDTH: 1920px
HEIGHT: 1080px
 */
.body {
    background: url('https://media.hitmaps.com/img/hitmaps-tournaments/rr9-background.png') no-repeat;
    font-family: 'nimbus_sans_lbold', sans-serif;
    width: 1920px;
    height: 1080px;

    .overlay-logo {
        position: absolute;
        top: 5px;
        left: 0;
        display: flex;
        flex-grow: 1;
        width: 100%;
        justify-content: center;
        height: 100px;
    }

    .top {
        display: flex;
        height: 316px;
    }

    .map-picks {
        position: absolute;
        width: 1900px;
        height: 90px;

        .pick-one {
            position: absolute;
            top: 10px;
            left: 55px;
        }

        .pick-two {
            position: absolute;
            top: 10px;
            left: 1695px;
        }
    }

    .score-bug {
        position: absolute;
        top: 100px;

        .first-to-x {
            position: absolute;
            color: white;
            font-size: 36px;
            width: 354px;
            top: 126px;
            left: 783px;
            text-align: center;
            text-transform: uppercase;
            font-family: 'Teko', 'Arial', sans-serif;
            font-weight: 600;
            letter-spacing: 5px;
            -webkit-text-stroke: 2px #000;
        }

        .participant {
            display: flex;

            &.left {
                position: absolute;
                left: 53px;
                top: 3px;
                width: 903px;
                height: 180px;

                img {
                    border-color: red;
                    margin-left: 2px;
                }

                .berlin {
                    img {
                        border-width: 5px;
                    }
                }
            }

            &.right {
                position: absolute;
                left: 960px;
                top: 3px;
                width: 907px;
                height: 180px;

                img {
                    border-color: blue;
                    margin-right: 2px;
                }

                .berlin {
                    img {
                        border-width: 5px;
                    }
                }

                .score {
                    margin-left: 3px;
                }
            }

            .avatar {
                > img {
                    /*border-radius: 50%;*/
                    margin-top: 2px;
                    border-width: 0;
                    border-style: solid;
                    width: 170px;
                    height: 170px;
                    transition: border-width 1s linear;
                }
            }

            .name-and-title {
                text-align: center;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-family: 'Teko', 'Arial', sans-serif;
                width: 652px;

                .name {
                    /* Handled by fitty, but leaving here as reference */
                    /*font-size: 65px;*/
                    color: #fff;
                    -webkit-text-stroke: 2px #000;
                    font-weight: bolder;
                    margin-top: 14px;
                    margin-bottom: 0;
                }

                .title {
                    font-size: 40px;
                    color: #fff;
                    -webkit-text-stroke: 2px #000;
                    overflow: hidden;
                    font-weight: 500;
                    margin-top: 9px;
                    margin-bottom: 0;

                    .finished-text {
                        color: #000;
                        -webkit-text-stroke: 1px #fff;
                    }
                }
            }

            .score {
                display: flex;
                align-items: center;
                /*width: 173px;
                height: 173px;*/
                /* region RR7-specific */
                width: 204px;
                height: 114px;
                /* endregion */
                justify-content: flex-start;
                font-family: 'Teko', 'Arial', sans-serif;
                color: white;
                -webkit-text-stroke: 2px #500000;
                /* DISABLED FOR LOTTIE */
                /*font-size: 111px;*/
            }
        }
    }

    .spin-conditions-and-timer {
        position: absolute;
        top: 820px;
        left: 0;
        width: 1920px;
        height: 258px;
    }
}

.drop-away-enter-active {
    animation: slide-from-top 1s;
}

.drop-away-leave-active {
    animation: slide-to-bottom 1s;
}

/* Don't ask me why these numbers work... they just do. */
@keyframes slide-from-top {
    0% {
        transform: translateY(-120px);
    }

    100% {
        transform: translateY(-60px);
    }
}

@keyframes slide-to-bottom {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(60px);
    }
}

@font-face {
    font-family: 'Tamworth Gothic Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Tamworth Gothic Regular'), url('/fonts/tamworth.woff') format('woff');
}

/* region Teko */
@font-face {
    font-family: 'Teko';
    font-style: normal;
    font-weight: 400;
    src: local('Teko'), url('/fonts/Teko-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Teko';
    font-style: normal;
    font-weight: 700;
    src: local('Teko'), url('/fonts/Teko-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Teko';
    font-style: normal;
    font-weight: 600;
    src: local('Teko'), url('/fonts/Teko-SemiBold.woff') format('woff');
}


@font-face {
    font-family: 'Teko';
    font-style: normal;
    font-weight: 300;
    src: local('Teko'), url('/fonts/Teko-Light.woff') format('woff');
}

@font-face {
    font-family: 'Teko';
    font-style: normal;
    font-weight: 500;
    src: local('Teko'), url('/fonts/Teko-Medium.woff') format('woff');
}
/* endregion */

@font-face {
    font-family: 'nimbus_sans_lbold';
    src: url('/fonts/NimbusSanL-Bol-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nimbus_sans_lregular';
    src: url('/fonts/NimbusSanL-Reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GoBold';
    src: url('/fonts/gobold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
</style>

<script>
import GameIcon from '@/components/GameIcon.vue';
import LowerThird from '@/views/TournamentOverlay/LowerThird.vue';
import Fitty from '@/components/Fitty.vue';
import accolades from '@/assets/accolades.json';
import MapPickDisplay from './MapPickDisplay.vue';
import LottieScore from '../../components/TournamentOverlay/LottieScore.vue';
import TimerHandler from '../../components/TimerHandler.ts';
import MatchHub from '../../components/MatchHub.ts';
import CurrentSpin from '../../components/HitmapsTournaments/CurrentSpin.ts';

export default {
    name: 'tournament-overlay',
    components: {
        LottieScore,
        MapPickDisplay,
        Fitty,
        LowerThird,
        GameIcon
    },
    props: {
        matchupId: String,
        eventSlug: String
    },
    data() {
        return {
            matchLoadComplete: false,
            missionInfoLoadComplete: 0,
            matchHub: null,
            matchupData: null,
            previousTimerFingerprint: null,
            timerDelta: null,
            spinTime: null,
            endTime: null,
            currentTime: null,
            timerInterval: null,
            objectivesInterval: null,
            remainingTimeInSeconds: null,
            elapsedTimeInSeconds: null,
            pretime: {
                inPretime: false,
                remainingPretimeInSeconds: 0
            },
            tournamentMatchId: null,
            playerOneScore: 0,
            playerTwoScore: 0,
            playerOneName: null,
            playerTwoName: null,
            tourneyMapSelections: [],
            tourneyMapBans: [],
            hitmapsMissionInfo: {},
            players: [],
            maps: [],
            fittyOptions: {
                minSize: 11,
                maxSize: 65
            },
            objectives: {
                '0|1': false,
                '0|2': false,
                '1|1': false,
                '1|2': false,
                '2|1': false,
                '2|2': false,
                '3|1': false,
                '3|2': false,
                '4|1': false,
                '4|2': false
            },
            pointsForVictory: Number.MAX_SAFE_INTEGER
        };
    },
    computed: {
        playerOneHasOnlyOnePick() {
            return this.tourneyMapSelections.filter(x => x.competitorName === this.players[0].name).length === 1;
        },
        playerOneHasOnlyOneBan() {
            return this.tourneyMapBans.filter(x => x.competitorName === this.players[0].name).length === 1;
        },
        playerOnePick() {
            const selection = this.tourneyMapSelections.find(x => x.competitorName === this.players[0].name);

            return selection && this.hitmapsMissionInfo ? this.hitmapsMissionInfo[selection.mapSlug].location : null;
        },
        playerOneBan() {
            const selection = this.tourneyMapBans.find(x => x.competitorName === this.players[0].name);

            return selection && this.hitmapsMissionInfo ? this.hitmapsMissionInfo[selection.mapSlug].location : null;
        },
        playerTwoHasOnlyOnePick() {
            return this.tourneyMapSelections.filter(x => x.competitorName === this.players[1].name).length === 1;
        },
        playerTwoHasOnlyOneBan() {
            return this.tourneyMapBans.filter(x => x.competitorName === this.players[1].name).length === 1;
        },
        playerTwoPick() {
            const selection = this.tourneyMapSelections.find(x => x.competitorName === this.players[1].name);

            return selection && this.hitmapsMissionInfo ? this.hitmapsMissionInfo[selection.mapSlug].location : null;
        },
        playerTwoBan() {
            const selection = this.tourneyMapBans.find(x => x.competitorName === this.players[1].name);

            return selection && this.hitmapsMissionInfo ? this.hitmapsMissionInfo[selection.mapSlug].location : null;
        },
        playerOneAccolade() {
            return accolades[this.playerOneName] ?
                accolades[this.playerOneName] :
                'Returning Rival';
        },
        playerTwoAccolade() {
            return accolades[this.playerTwoName] ?
                accolades[this.playerTwoName] :
                'Returning Rival';
        },
        useObjectivesTracker() {
            return this.matchupData &&
                this.matchupData.currentSpin &&
                this.matchupData.currentSpin.mission.slug === 'apex-predator';
        }
    },
    methods: {
        initializeMatchup() {
            this.$http
                .get(`${this.$apiDomain}/api/matchups/${this.matchupId}`)
                .then(resp => {
                    this.handleResponse(resp.data);
                    this.matchLoadComplete = true;
                })
                .catch(err => {
                    console.error(err);
                });
        },
        loadMissionLocations() {
            for (const game of ['hitman', 'hitman2', 'hitman3']) {
                this.$http.get(`https://api.hitmaps.com/api/games/${game}/locations`).then(resp => {
                    for (const location of resp.data) {
                        for (const mission of location.missions) {
                            this.hitmapsMissionInfo[mission.slug] = {
                                location: location.destination,
                                mission: mission.name,
                                backgroundUrl: mission.backgroundUrl
                            };
                        }
                    }
                    this.missionInfoLoadComplete++;
                });
            }
        },
        handleResponse(resp) {
            this.tournamentMatchId = resp.hitmapsTournamentId;
            this.matchupData = {
                currentSpin: resp.currentSpin ? new CurrentSpin(resp.currentSpin) : null,
                matchupId: resp.matchupId,
                timer: resp.timer.fingerprint !== this.previousTimerFingerprint ?
                    resp.timer :
                    this.matchupData.timer
            };
            if (resp.timer.fingerprint !== this.previousTimerFingerprint) {
                this.timerDelta = new Date(this.matchupData.timer.serverTime).getTime() - new Date().getTime();
                this.updateTimer();
            }
            this.previousTimerFingerprint = this.matchupData.timer.fingerprint;

            this.players = resp.participants;
            this.maps = resp.mapSelections;
            this.pointsForVictory = resp.pointsForVictory;
            this.playerOneScore = 0;
            this.playerTwoScore = 0;
            this.playerOneName = resp.participants[0].name;
            this.playerTwoName = resp.participants[1].name;
            if (resp.participants.some(x => x.forfeit)) {
                if (resp.participants[0].forfeit) {
                    this.playerOneScore = 0;
                    this.playerTwoScore = 1;
                } else {
                    this.playerOneScore = 1;
                    this.playerTwoScore = 0;
                }
            } else {
                resp.mapSelections.filter(x => x.complete).forEach(x => {
                    if (x.winnerName === null) {
                        this.playerOneScore++;
                        this.playerTwoScore++;
                    } else if (x.winnerName === this.playerOneName) {
                        this.playerOneScore += 2;
                    } else {
                        this.playerTwoScore += 2;
                    }
                });
            }

            for (let i = 0; i < 5; i++) {
                this.objectives[`${i}|1`] = false;
                this.objectives[`${i}|2`] = false;
            }
            resp.completedObjectives.forEach(x => {
                const playerIndex = this.players.findIndex(y => y.name === x.playerName);
                this.objectives[`${x.objectiveIndex}|${playerIndex + 1}`] = true;
            });

            this.updateTimer(true);
        },
        processSpinCompleteForPlayer(wsPlayer) {
            const player = this.players.find(x => x.publicId === wsPlayer.publicId);
            player.completeTime = wsPlayer.completeTime;
        },
        calculateEndTime(spinTime, matchLength) {
            if (matchLength === 'NO TIME LIMIT') {
                return undefined;
            }

            const actualMatchLengthMinutes = parseInt(matchLength.substr(0, 2), 10);
            const endTime = new Date(spinTime.getTime());
            endTime.setMinutes(endTime.getMinutes() + actualMatchLengthMinutes);

            return endTime;
        },
        getFormattedTime(time) {
            const minutes = parseInt(time / 60, 10);
            const seconds = parseInt(time % 60, 10);

            return `${this.formatTimerValue(minutes)}:${this.formatTimerValue(seconds)}`;
        },
        formatTimerValue(value) {
            if (value < 0) {
                return '00';
            }
            const formattedValue = Math.abs(value);

            return formattedValue < 10 ? `0${formattedValue}` : formattedValue;
        },
        setupWebsocketsConnection() {
            this.matchHub = new MatchHub(this.$apiDomain);
            this.matchHub.start();
            this.matchHub.joinMatch(this.matchupId);
            this.matchHub.adminJoinMatch(this.matchupId);
            this.matchHub.on('MatchChange', (args) => this.handleResponse(args));
            this.matchHub.on('SpinComplete', (player) => this.processSpinCompleteForPlayer(player));
            this.matchHub.on('ObjectiveUpdate', (args) => this.handleResponse(args));

            this.matchHub.onReconnected(_ => {
                // Disconnect from everything just to have a clean slate
                this.matchHub.leaveMatch(this.matchupId);
                this.matchHub.adminLeaveMatch(this.matchupId);
                this.matchHub.off('MatchChange');
                this.matchHub.off('SpinComplete');
                this.matchHub.off('ObjectiveUpdate');

                // And now let's reconnect
                this.matchHub.joinMatch(this.matchupId);
                this.matchHub.adminJoinMatch(this.matchupId);
                this.matchHub.on('MatchChange', (args) => this.handleResponse(args));
                this.matchHub.on('SpinComplete', (player) => this.processSpinCompleteForPlayer(player));
                this.matchHub.on('ObjectiveUpdate', (args) => this.handleResponse(args));
            });
        },
        updateTimer() {
            this.currentTime = new Date(new Date().getTime() + this.timerDelta);

            // tslint:disable-next-line
            this.pretime.inPretime = new Date(this.matchupData.timer.startTime).getTime() - this.currentTime.getTime() > 0;
            this.pretime.remainingPretimeInSeconds = this.getRemainingPretimeInSeconds();
            this.remainingTimeInSeconds = this.getRemainingTimeInSeconds();
            this.elapsedTimeInSeconds = this.getElapsedTimeInSeconds();
            this.timerInterval = TimerHandler.setTimeout(this.updateTimer, 100);
        },
        getRemainingTimeInSeconds() {
            if (this.matchupData.timer.endTime === null) {
                return null;
            }

            const diff = new Date(this.matchupData.timer.endTime).getTime() - this.currentTime.getTime();
            return diff / 1000;
        },
        getElapsedTimeInSeconds() {
            const diff = this.currentTime.getTime() - new Date(this.matchupData.timer.startTime).getTime();
            return diff / 1000;
        },
        getRemainingPretimeInSeconds() {
            return (new Date(this.matchupData.timer.startTime).getTime() - this.currentTime.getTime()) / 1000;
        },
        getUnanimatedAvatarUrl(avatarUrl) {
            if (!avatarUrl) {
                return avatarUrl;
            }

            return avatarUrl.replace('.gif', '.png');
        }
    },
    mounted() {
        this.loadMissionLocations();
        this.initializeMatchup();
        this.setupWebsocketsConnection();
    },
    watch: {
        tournamentMatchId(newId, oldId) {
            this.$http.get(`${this.$tourneyDomain}/api/matches/${newId}/metadata`)
                .then(resp => {
                    this.tourneyMapSelections = resp.data.mapSelections.filter(x => x.selectionType === 'Pick');
                    this.tourneyMapBans = resp.data.mapSelections.filter(x => x.selectionType === 'Ban');
                }).catch(console.err);
        }
    }
};
</script>
