@font-face {
  font-family: 'hitman2-solid';
  src: url('../fonts/hitman2-solid.eot?61361433');
  src: url('../fonts/hitman2-solid.eot?61361433#iefix') format('embedded-opentype'),
       url('../fonts/hitman2-solid.woff2?61361433') format('woff2'),
       url('../fonts/hitman2-solid.woff?61361433') format('woff'),
       url('../fonts/hitman2-solid.ttf?61361433') format('truetype'),
       url('../fonts/hitman2-solid.svg?61361433#hitman2') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'hitman2';
    src: url('../font/hitman2.svg?61361433#hitman2') format('svg');
  }
}
*/
 
 [class^="hm-solid-"]:before, [class*=" hm-solid-"]:before {
  font-family: "hitman2-solid";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  /*margin-right: .2em;*/
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /*margin-left: .2em;*/
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.hm-solid-replay:before { content: '\e800'; } /* '' */
.hm-solid-reset:before { content: '\e801'; } /* '' */
.hm-solid-reset-back:before { content: '\e802'; } /* '' */
.hm-solid-save:before { content: '\e803'; } /* '' */
.hm-solid-save-auto:before { content: '\e804'; } /* '' */
.hm-solid-save-disabled:before { content: '\e805'; } /* '' */
.hm-solid-search:before { content: '\e806'; } /* '' */
.hm-solid-security:before { content: '\e807'; } /* '' */
.hm-solid-settings:before { content: '\e808'; } /* '' */
.hm-solid-shockwave-ammo:before { content: '\e809'; } /* '' */
.hm-solid-shop:before { content: '\e80a'; } /* '' */
.hm-solid-shotgun:before { content: '\e80b'; } /* '' */
.hm-solid-smg:before { content: '\e80c'; } /* '' */
.hm-solid-sniperrifle:before { content: '\e80d'; } /* '' */
.hm-solid-stable:before { content: '\e80e'; } /* '' */
.hm-solid-stable-2:before { content: '\e80f'; } /* '' */
.hm-solid-stable-3:before { content: '\e810'; } /* '' */
.hm-solid-stable-4:before { content: '\e811'; } /* '' */
.hm-solid-starting:before { content: '\e812'; } /* '' */
.hm-solid-stash-point-empty:before { content: '\e813'; } /* '' */
.hm-solid-stash-point-full:before { content: '\e814'; } /* '' */
.hm-solid-stats:before { content: '\e815'; } /* '' */
.hm-solid-steady-aim:before { content: '\e816'; } /* '' */
.hm-solid-steady-aim-2:before { content: '\e817'; } /* '' */
.hm-solid-steady-aim-3:before { content: '\e818'; } /* '' */
.hm-solid-steady-aim-4:before { content: '\e819'; } /* '' */
.hm-solid-story:before { content: '\e81a'; } /* '' */
.hm-solid-subsonic:before { content: '\e81b'; } /* '' */
.hm-solid-suitcase:before { content: '\e81c'; } /* '' */
.hm-solid-suppressor:before { content: '\e81d'; } /* '' */
.hm-solid-tag:before { content: '\e81e'; } /* '' */
.hm-solid-target:before { content: '\e81f'; } /* '' */
.hm-solid-timed:before { content: '\e820'; } /* '' */
.hm-solid-toggle-left:before { content: '\e821'; } /* '' */
.hm-solid-toggle-right:before { content: '\e822'; } /* '' */
.hm-solid-tool:before { content: '\e823'; } /* '' */
.hm-solid-trash:before { content: '\e824'; } /* '' */
.hm-solid-tutorial:before { content: '\e825'; } /* '' */
.hm-solid-unlocked:before { content: '\e826'; } /* '' */
.hm-solid-versatile-scope:before { content: '\e827'; } /* '' */
.hm-solid-variable:before { content: '\e828'; } /* '' */
.hm-solid-versatile-scope-1:before { content: '\e829'; } /* '' */
.hm-solid-versatile-scope-2:before { content: '\e82a'; } /* '' */
.hm-solid-versatile-scope-3:before { content: '\e82b'; } /* '' */
.hm-solid-versatile-scope-4:before { content: '\e82c'; } /* '' */
.hm-solid-versatile-scope-extended:before { content: '\e82d'; } /* '' */
.hm-solid-versus:before { content: '\e82e'; } /* '' */
.hm-solid-wall-piercing-ammo:before { content: '\e82f'; } /* '' */
.hm-solid-warning:before { content: '\e830'; } /* '' */
.hm-solid-witness:before { content: '\e831'; } /* '' */
.hm-solid-add-to-list:before { content: '\e832'; } /* '' */
.hm-solid-ammo:before { content: '\e833'; } /* '' */
.hm-solid-arrow-down:before { content: '\e834'; } /* '' */
.hm-solid-arrow-left:before { content: '\e835'; } /* '' */
.hm-solid-arrow-right:before { content: '\e836'; } /* '' */
.hm-solid-arrow-up:before { content: '\e837'; } /* '' */
.hm-solid-assault-rifle:before { content: '\e838'; } /* '' */
.hm-solid-audio:before { content: '\e839'; } /* '' */
.hm-solid-background:before { content: '\e83a'; } /* '' */
.hm-solid-benchmarks:before { content: '\e83b'; } /* '' */
.hm-solid-bullet-dancer:before { content: '\e83c'; } /* '' */
.hm-solid-challenge:before { content: '\e83d'; } /* '' */
.hm-solid-challenge-category-assassination:before { content: '\e83e'; } /* '' */
.hm-solid-challenge-category-discovery:before { content: '\e83f'; } /* '' */
.hm-solid-challenge-category-item:before { content: '\e840'; } /* '' */
.hm-solid-check:before { content: '\e841'; } /* '' */
.hm-solid-civilians:before { content: '\e842'; } /* '' */
.hm-solid-close-range:before { content: '\e843'; } /* '' */
.hm-solid-completion:before { content: '\e844'; } /* '' */
.hm-solid-completion-list:before { content: '\e845'; } /* '' */
.hm-solid-complication:before { content: '\e846'; } /* '' */
.hm-solid-complication-optional:before { content: '\e847'; } /* '' */
.hm-solid-concealed-weapon:before { content: '\e848'; } /* '' */
.hm-solid-contract:before { content: '\e849'; } /* '' */
.hm-solid-controller:before { content: '\e84a'; } /* '' */
.hm-solid-corrupt:before { content: '\e84b'; } /* '' */
.hm-solid-credits:before { content: '\e84c'; } /* '' */
.hm-solid-crowd-control:before { content: '\e84d'; } /* '' */
.hm-solid-cutscene:before { content: '\e84e'; } /* '' */
.hm-solid-damage:before { content: '\e84f'; } /* '' */
.hm-solid-difficulty-1:before { content: '\e850'; } /* '' */
.hm-solid-difficulty-2:before { content: '\e851'; } /* '' */
.hm-solid-difficulty-3:before { content: '\e852'; } /* '' */
.hm-solid-difficulty-casual:before { content: '\e853'; } /* '' */
.hm-solid-difficulty-level:before { content: '\e854'; } /* '' */
.hm-solid-difficulty-master:before { content: '\e855'; } /* '' */
.hm-solid-difficulty-professional:before { content: '\e856'; } /* '' */
.hm-solid-disguise:before { content: '\e857'; } /* '' */
.hm-solid-distraction:before { content: '\e858'; } /* '' */
.hm-solid-download:before { content: '\e859'; } /* '' */
.hm-solid-edit:before { content: '\e85a'; } /* '' */
.hm-solid-elevation:before { content: '\e85b'; } /* '' */
.hm-solid-elusive:before { content: '\e85c'; } /* '' */
.hm-solid-emote:before { content: '\e85d'; } /* '' */
.hm-solid-escalation:before { content: '\e85e'; } /* '' */
.hm-solid-exit:before { content: '\e85f'; } /* '' */
.hm-solid-explosive:before { content: '\e860'; } /* '' */
.hm-solid-extended-mag:before { content: '\e861'; } /* '' */
.hm-solid-extended-mag-1:before { content: '\e862'; } /* '' */
.hm-solid-extended-mag-2:before { content: '\e863'; } /* '' */
.hm-solid-extended-mag-3:before { content: '\e864'; } /* '' */
.hm-solid-extended-mag-4:before { content: '\e865'; } /* '' */
.hm-solid-eye-tracking:before { content: '\e866'; } /* '' */
.hm-solid-failed:before { content: '\e867'; } /* '' */
.hm-solid-fast-reload:before { content: '\e868'; } /* '' */
.hm-solid-fast-reload-2:before { content: '\e869'; } /* '' */
.hm-solid-fast-reload-3:before { content: '\e86a'; } /* '' */
.hm-solid-fast-reload-4:before { content: '\e86b'; } /* '' */
.hm-solid-favorite-contracts:before { content: '\e86c'; } /* '' */
.hm-solid-featured:before { content: '\e86d'; } /* '' */
.hm-solid-fiber-wire:before { content: '\e86e'; } /* '' */
.hm-solid-fixed:before { content: '\e86f'; } /* '' */
.hm-solid-frisk:before { content: '\e870'; } /* '' */
.hm-solid-full-auto:before { content: '\e871'; } /* '' */
.hm-solid-game:before { content: '\e872'; } /* '' */
.hm-solid-game-hud:before { content: '\e873'; } /* '' */
.hm-solid-gear:before { content: '\e874'; } /* '' */
.hm-solid-graphics:before { content: '\e875'; } /* '' */
.hm-solid-hail-storm:before { content: '\e876'; } /* '' */
.hm-solid-hidden:before { content: '\e877'; } /* '' */
.hm-solid-high-pressure:before { content: '\e878'; } /* '' */
.hm-solid-added-to-list:before { content: '\e879'; } /* '' */
.hm-solid-ica:before { content: '\e87a'; } /* '' */
.hm-solid-info:before { content: '\e87b'; } /* '' */
.hm-solid-intel:before { content: '\e87c'; } /* '' */
.hm-solid-inventory:before { content: '\e87d'; } /* '' */
.hm-solid-ioi-account:before { content: '\e87e'; } /* '' */
.hm-solid-key:before { content: '\e87f'; } /* '' */
.hm-solid-knock-down:before { content: '\e880'; } /* '' */
.hm-solid-language:before { content: '\e881'; } /* '' */
.hm-solid-leaderboard:before { content: '\e882'; } /* '' */
.hm-solid-leaderboard-friends:before { content: '\e883'; } /* '' */
.hm-solid-livetile-news:before { content: '\e884'; } /* '' */
.hm-solid-load:before { content: '\e885'; } /* '' */
.hm-solid-loadout:before { content: '\e886'; } /* '' */
.hm-solid-location:before { content: '\e887'; } /* '' */
.hm-solid-locked:before { content: '\e888'; } /* '' */
.hm-solid-long-range:before { content: '\e889'; } /* '' */
.hm-solid-map:before { content: '\e88a'; } /* '' */
.hm-solid-marksman:before { content: '\e88b'; } /* '' */
.hm-solid-marksman-2:before { content: '\e88c'; } /* '' */
.hm-solid-marksman-3:before { content: '\e88d'; } /* '' */
.hm-solid-marksman-4:before { content: '\e88e'; } /* '' */
.hm-solid-melee:before { content: '\e88f'; } /* '' */
.hm-solid-mission:before { content: '\e890'; } /* '' */
.hm-solid-mouse-keyboard:before { content: '\e891'; } /* '' */
.hm-solid-next-level:before { content: '\e892'; } /* '' */
.hm-solid-nodus:before { content: '\e893'; } /* '' */
.hm-solid-npc:before { content: '\e894'; } /* '' */
.hm-solid-nvidia:before { content: '\e895'; } /* '' */
.hm-solid-objective:before { content: '\e896'; } /* '' */
.hm-solid-one-man-army:before { content: '\e897'; } /* '' */
.hm-solid-online:before { content: '\e898'; } /* '' */
.hm-solid-opportunity-completed:before { content: '\e899'; } /* '' */
.hm-solid-opportunity-disabled:before { content: '\e89a'; } /* '' */
.hm-solid-opportunity-discovered:before { content: '\e89b'; } /* '' */
.hm-solid-opportunity-failed:before { content: '\e89c'; } /* '' */
.hm-solid-opportunity-search:before { content: '\e89d'; } /* '' */
.hm-solid-opportunity-tracked:before { content: '\e89e'; } /* '' */
.hm-solid-opportunity-undiscovered:before { content: '\e89f'; } /* '' */
.hm-solid-outbreak:before { content: '\e8a0'; } /* '' */
.hm-solid-piercing:before { content: '\e8a1'; } /* '' */
.hm-solid-play:before { content: '\e8a2'; } /* '' */
.hm-solid-point-shooting:before { content: '\e8a3'; } /* '' */
.hm-solid-poison:before { content: '\e8a4'; } /* '' */
.hm-solid-profile:before { content: '\e8a5'; } /* '' */
.hm-solid-publish:before { content: '\e8a6'; } /* '' */
.hm-solid-rate-of-fire:before { content: '\e8a7'; } /* '' */
.hm-solid-rate-of-fire-2:before { content: '\e8a8'; } /* '' */
.hm-solid-rate-of-fire-3:before { content: '\e8a9'; } /* '' */
.hm-solid-rate-of-fire-4:before { content: '\e8aa'; } /* '' */
.hm-solid-remote:before { content: '\e8ab'; } /* '' */
