<template>
    <div class="content">
        <div class="main-body">
            <h1>Message From Match Admin</h1>
            <div class="message">
                {{ message.content }}
            </div>
        </div>
        <div class="acknowledgement">
            <game-button @click="acknowledgeMessage">
                <game-icon icon="check" font-style="normal"/>
                Acknowledge
            </game-button>
            <i>You must acknowledge this message to return to your spin</i>
        </div>
    </div>
</template>

<script>
    import GameButton from '../GameButton.vue';
    import GameIcon from '../GameIcon.vue';
    export default {
        name: 'AdminMessage',
        components: {GameIcon, GameButton},
        props: {
            message: Object,
            matchId: String,
            playerId: String
        },
        methods: {
            acknowledgeMessage() {
                this.$http.patch(`${this.$apiDomain}/api/matchups/${this.matchId}/players/${this.playerId}/messages`, {
                    id: this.message.id,
                    action: 'Acknowledge'
                }).then(_ => {
                    this.$emit('acknowledged');
                    this.$toastr.s('Message acknowledged');
                }).catch(_ => this.$toastr.e('Failed to acknowledge message on the backend. Inform your match admin.'));
            }
        }
    };
</script>

<style lang="scss" scoped>
    .content {
        margin: 10px 20px 0 20px;
        background: $game-button-background;
        color: #fff;

        .main-body {
            padding: 10px;

            h1 {
                font-family: 'nimbus_sans_lbold', sans-serif;
                text-transform: uppercase;
            }

            .message {
                border: solid 1px #fff;
                border-radius: 5px;
                padding: 10px;
            }
        }

        .acknowledgement {
            padding: 10px;
        }
    }
</style>