<template>
    <div class="map-agenda container-fluid">
        <div class="row">
            <div class="map-pick col-lg-4 col-md-6 col-12" v-for="(map, index) in mapPicks" :key="index">
                <div class="image-and-name" :style="`background: url('${getImageForMission(map.hitmapsSlug)}') center center / cover no-repeat`">
                    <div class="score-result" v-if="isMapComplete(index)">
                        {{ scoreHistory[index].score0 }} - {{ scoreHistory[index].score1 }}
                    </div>
                    <div class="name" v-else>
                        Map {{ index + 1 }}: {{ getNameForMission(map.hitmapsSlug) }}
                        <span v-if="isMapRequiredForPlay(index)">(if necessary)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'MapAgenda',
    props: {
        mapPicks: Array,
        missions: Array,
        scoreHistory: Array,
        pointsForVictory: Number
    },
    methods: {
        isMapComplete(index) {
            return this.scoreHistory.length > index && !this.isMatchForfeit(this.scoreHistory[index]);
        },
        isMatchForfeit(historyRecord) {
            return (historyRecord.score0 === 0 && historyRecord.score1 === 1) ||
                (historyRecord.score0 === 1 && historyRecord.score1 === 0);
        },
        getImageForMission(slug) {
            if (!this.missions.find(x => x.slug === slug)) {
                return null;
            }

            return this.missions.find(x => x.slug === slug).locationTileUrl;
        },
        getNameForMission(slug) {
            if (!this.missions.find(x => x.slug === slug)) {
                return null;
            }

            return this.missions.find(x => x.slug === slug && ['professional','standard'].includes(x.variant)).name;
        },
        isMapRequiredForPlay(index) {
            return false;
            // TODO Re-evaluate the math
            // return 2 * (index + 1) >= this.pointsForVictory;
        }
    }
};
</script>

<style lang="scss" scoped>
    .map-agenda {
        .image-and-name {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            min-height: 75px;

            .name {
                background: rgba(0, 0, 0, .3);
                color: white;
                text-align: center;
            }

            .score-result {
                background: rgba(0, 0, 0, .3);
                color: white;
                text-align: center;
                flex-grow: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
                font-family: 'nimbus_sans_lbold', sans-serif;
            }
        }
    }
</style>