<template>
    <div class="match-selector">
        <div class="row">
            <div class="col-md-6 col-12">
                <h3>Select Tournament</h3>
                <loader v-if="openTourneys === null" />
                <p class="no-results" v-else-if="!openTourneys.length">There are no active tournaments.</p>
                <div class="tournament col-md-6 col-12" v-for="openTourney in openTourneys"
                     :style="`background: url('${openTourney.tileUrl}') center center / cover no-repeat`"
                     @click="selectTourney(openTourney)">
                    <div class="info-bar" :class="openTourney === selectedTourney ? 'selected' : ''">
                        <div class="selector">
                            <game-icon icon="completion-list" font-style="normal" v-if="openTourney !== selectedTourney" />
                            <game-icon icon="check" font-style="normal" v-else />
                        </div>
                        <div class="text">
                            <div class="mission-type">Roulette Rivals</div>
                            <div class="mission-name">{{ openTourney.name }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <h3>Select Match</h3>
                <p v-if="!selectedTourney"><i>Select a tournament before seeing a list of open matches.</i></p>
                <template v-else>
                    <loader v-if="openMatches === null" />
                    <p v-else-if="!openMatches.length">There are no upcoming matches, or you don't have permission to officiate matches for this event.</p>
                    <template v-else>
                        <div class="tournament col-md-6 col-12" v-for="openMatch in openMatches" @click="selectMatch(openMatch)">
                            <div class="competitors">
                                <div v-for="competitor in openMatch.competitors"
                                    :style="`background: url('${competitor.avatarUrl}') center center / cover no-repeat`"></div>
                            </div>
                            <div class="info-bar" :class="openMatch === selectedMatch ? 'selected' : ''">
                                <div class="selector">
                                    <game-icon icon="completion-list" font-style="normal" v-if="openMatch !== selectedMatch" />
                                    <game-icon icon="check" font-style="normal" v-else />
                                </div>
                                <div class="text">
                                    <div class="mission-type">
                                        <moment :value="openMatch.matchScheduledAt" format="ddd, D MMM | H:mm z" :timezone="Intl.DateTimeFormat().resolvedOptions().timezone"/>
                                    </div>
                                    <div class="mission-name">
                                        <template v-for="(competitor, index) in openMatch.competitors">
                                            {{ competitor.challongeName }}
                                            <template v-if="index !== openMatch.competitors.length - 1"> / </template>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <game-button @click="$emit('match-selected', { selectedMatch: selectedMatch, selectedTourney: selectedTourney })">
                            <game-icon icon="arrow-right" font-style="normal" />
                            Continue
                        </game-button>
                    </template>
                </template>
            </div>
        </div>
    </div>
</template>

<script>
    import GameIcon from '../GameIcon.vue';
    import GameButton from '@/components/GameButton.vue';
    import Alert from '@/components/Alert.vue';
    import {useCookies} from "vue3-cookies";
    import Moment from "@/components/Moment.vue";
    import Loader from "@/components/Loader.vue";
    export default {
        name: 'MatchSelector',
        setup() {
            const { cookies } = useCookies();
            return {
                cookies
            }
        },
        components: {Loader, Moment, Alert, GameButton, GameIcon},
        data() {
            return {
                openTourneys: null,
                selectedTourney: null,
                openMatches: null,
                selectedMatch: null
            };
        },
        mounted() {
            // 1. Grab list of open tourneys
            this.$http.get(`${this.$tourneyDomain}/api/events`, {
                headers: {
                    Authorization: `Bearer ${this.cookies.get('auth-token')}`
                }
            }).then(resp => {
                    this.openTourneys = [];
                    for (const event of resp.data) {
                        // Ended event
                        if (new Date(event.isoEventEndDate) < new Date()) {
                            continue;
                        }

                        this.openTourneys.push(event);
                    }

                    if (this.openTourneys.length !== 1) {
                        return;
                    }

                    this.selectTourney(this.openTourneys[0]);
                });
        },
        methods: {
            selectTourney(tourney) {
                this.selectedTourney = tourney;
                this.getOpenMatches();
            },
            selectMatch(match) {
                this.selectedMatch = match;
            },
            getOpenMatches() {
                this.openMatches = null;
                this.$http.get(`${this.$tourneyDomain}/api/events/${this.selectedTourney.slug}/upcoming-matches`, {
                        headers: {
                            Authorization: `Bearer ${this.cookies.get('auth-token')}`
                        }
                    })
                    .then(resp => {
                        this.openMatches = resp.data.data;

                        if (this.openMatches.length === 1) {
                            this.selectMatch(this.openMatches[0]);
                        }
                    });
            }
        }
    };
</script>

<style lang="scss" scoped>
    .match-selector {
        h3 {
            margin: 10px;
            font-family: 'nimbus_sans_lbold', sans-serif;
            text-transform: uppercase;
        }

        .no-results {
            margin-left: 10px;
            font-style: italic;
        }

        .tournament {
            font-family: 'nimbus_sans_lbold', sans-serif;
            height: 200px;
            padding: 0;

            display: inline-flex;
            flex-direction: column;
            justify-content: flex-end;

            cursor: pointer;

            @media(max-width: $tablet) {
                height: inherit;

                &:not(:last-child) {
                    margin-bottom: 5px;
                }
            }

            .info-bar {
                background: rgba(0, 0, 0, .5);
                color: white;
                font-size: 17px;
                display: flex;
                padding: 10px;
                text-transform: uppercase;
                align-items: center;

                &.selected {
                    background: $card-footer-background-hover;

                    i {
                        background-color: $card-footer-text;
                        color: $card-footer-background-hover;
                    }
                }

                .selector {
                    i {
                        font-size: 32px;
                    }
                    margin-right: 5px;
                }

                .mission-type {
                    font-family: 'nimbus_sans_lregular', sans-serif;
                    font-size: 13px;
                }
            }

            &:hover {
                .info-bar {
                    background: $card-footer-background-hover;
                    color: $card-footer-text;

                    i {
                        background-color: $card-footer-text;
                        color: $card-footer-background-hover;
                    }
                }
            }

            .competitors {
                display: flex;
                flex-grow: 1;

                > div {
                    width: 50%;
                    height: 100%;
                }
            }
        }
    }
</style>