<template>
    <div class="match-status" v-if="participants.length">
        <div class="row">
            <div class="col-lg-3 col-12">
                <h3>Score Manager</h3>
                <div v-if="!matchComplete">
                    <div class="dropdown">
                        <button class="btn btn-block btn-dark draw dropdown-toggle" type="button" id="force-score-button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Issue Draw / Override Score
                        </button>
                        <div class="dropdown-menu" aria-labelledby="force-score-button">
                            <a href="javascript:" class="dropdown-item" @click="$emit('process-completion', { playerIndex: null, state: 'Draw' })">
                                <svg-font-icon icon="plus-or-minus" />
                                Call a Draw
                            </a>
                            <template v-for="(participant, index) in participants">
                                <div class="dropdown-divider"></div>
                                <h6 class="dropdown-header">
                                    <img class="discord-avatar" :src="participant.avatarUrl" alt="">
                                    {{ participant.name }}
                                </h6>
                                <a href="javascript:" class="dropdown-item" @click="$emit('process-completion', { playerIndex: index, state: 'Accept' })">
                                    <i class="fas fa-trophy"></i>
                                    Issue Victory for {{ getMissionNameForSlug(mapPicks[scoreHistory.length]) }}
                                </a>
                                <a href="javascript:" class="dropdown-item" @click="$emit('process-completion', { playerIndex: index, state: 'Forfeit' })">
                                    <i class="far fa-flag"></i>
                                    Forfeit Player ({{ participant.name }} will lose the match)
                                </a>
                            </template>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn btn-block challonge-orange" v-if="tourneyId" @click="postToChallonge" :disabled="!matchComplete">
                        <svg-font-icon icon="challonge" />
                        Send Results to Challonge
                    </button>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 player-tile" v-for="(participant, index) in participants">
                <player-tile :index="index" :participant="participant"
                             :roulette-id="rouletteId" :finished="participant.completeTime"
                             :score="getPlayerScore(index)"
                             :ref="`playerTile${participant.publicId}`"
                             @process-completion="$emit('process-completion', $event)" />
            </div>
            <div class="col-lg-3 col-12 match-history">
                <h3>Match History</h3>
                <div class="history" v-for="(history, index) in scoreHistory">
                    {{ getHistoryDisplay(history, index) }}
                </div>
                <div>
                    <button class="btn btn-sm btn-block btn-danger" v-if="scoreHistory.length && !participants[1].completeTime && !participants[0].completeTime" @click="$emit('remove-last-history')">
                        <template v-if="isMatchForfeit()">
                            <i class="fas fa-undo"></i> Reverse Forfeit
                        </template>
                        <template v-else>
                            <i class="fas fa-trash"></i> Remove Most Recent Result
                        </template>
                    </button>
                </div>
            </div>
        </div>
        <div class="row photo-finish" v-if="getTimeDifference()">
            <div class="col-lg-6 offset-lg-3 col-md-12">
                <alert type="info">
                    <i class="fas fa-exclamation-triangle"></i>
                    Players finished <b>{{ getTimeDifference() }}</b> seconds apart
                </alert>
            </div>
        </div>
        <div class="timer-parent">
            <template v-if="pretime.inPretime">Spin arrives in: </template>
            <template v-else-if="timer.endTime !== null">Spin expires in: </template>
            <inner-timer v-if="timer.startTime"
                         :remaining-time-in-seconds="pretime.inPretime ? (pretime.remainingPretimeInSeconds + 1) : remainingTimeInSeconds"
                         :elapsed-time-in-seconds="elapsedTimeInSeconds"
                         :show-timer="timer.endTime !== null" />
        </div>
    </div>
    <div class="match-status" style="min-height: 50px;" v-else>
        <div class="row">
            <div class="col-12">
                LOADING
            </div>
        </div>
    </div>
</template>

<script>
import GameButton from '@/components/GameButton.vue';
import GameIcon from '@/components/GameIcon.vue';
import Utils from '@/components/Utils.ts';
import SvgFontIcon from '@/components/SvgFontIcon.vue';
import Alert from '@/components/Alert.vue';
import PlayerTile from '@/components/HitmapsTournaments/PlayerTile.vue';
import InnerTimer from '@/views/TournamentOverlay/InnerTimer.vue';
import TimerHandler from '@/components/TimerHandler.ts';
import {useCookies} from "vue3-cookies";
export default {
    name: 'MatchStatus',
    setup() {
        const { cookies } = useCookies();
        return {
            cookies
        }
    },
    components: {InnerTimer, PlayerTile, Alert, SvgFontIcon, GameIcon, GameButton},
    props: {
        tourneyId: Number,
        rouletteId: String,
        participants: Array,
        scoreHistory: Array,
        mapPicks: Array,
        matchComplete: Boolean,
        missions: Array,
        matchTime: Date|null,
        matchLength: Number,
        timerDelta: Number,
        timer: Object
    },
    data() {
        return {
            pretime: {
                inPretime: false,
                remainingPretimeInSeconds: 0
            },
            remainingTimeInSeconds: 0,
            elapsedTimeInSeconds: 0,
            currentTime: null
        };
    },
    mounted() {
        TimerHandler.setInterval(this.retrieveParticipantStatuses, 2000);
    },
    methods: {
        isMatchForfeit() {
            return this.participants.some(x => x.forfeit);
        },
        getHistoryDisplay(history, index) {
            if ((history.score0 === 0 && history.score1 === 1) ||
                (history.score0 === 1 && history.score1 === 0)) {
                const winningPlayer = this.participants.find(x => !x.forfeit);
                return `${winningPlayer.name} won by forfeit`;
            }

            if (history.score0 > history.score1) {
                // tslint:disable-next-line
                return `${this.participants[0].name} won ${this.getMissionNameForSlug(this.mapPicks[index])} | ${history.score0} - ${history.score1}`
            } else if (history.score0 < history.score1) {
                // tslint:disable-next-line
                return `${this.participants[1].name} won ${this.getMissionNameForSlug(this.mapPicks[index])} | ${history.score0} - ${history.score1}`
            } else {
                // tslint:disable-next-line
                return `${this.getMissionNameForSlug(this.mapPicks[index])} ended in a draw | ${history.score0} - ${history.score1}`
            }
        },
        getMissionNameForSlug(mapPick) {
            const mission = this.missions.find(x => x.slug === mapPick.hitmapsSlug && ['professional','standard'].includes(x.variant));
            if (!mission) {
                return 'UNKNOWN';
            }

            return mission.name;
        },
        getTimeDifference() {
            if (this.participants[0].completeTime && this.participants[1].completeTime) {
                const timeDifference = Math.abs((new Date(this.participants[0].completeTime).getTime() -
                    new Date(this.participants[1].completeTime).getTime()) / 1000);

                const locale = new Intl.NumberFormat().resolvedOptions().locale;

                return new Intl.NumberFormat(locale, { maximumFractionDigits: 2 }).format(timeDifference);
            }
        },
        postToChallonge() {
            if (!this.matchComplete) {
                return;
            }

            // tslint:disable-next-line
            this.$http.post(`${this.$tourneyDomain}/api/matches/${this.tourneyId}/score`, {
                scoreHistory: this.scoreHistory
            }, Utils.getDiscordHeader(this.cookies))
                .then(resp => this.$toastr.s('Posted results to Challonge'))
                .catch(err => this.$toastr.e('Failed to report results to Challonge'));
        },
        retrieveParticipantStatuses() {
            for (const participant of this.participants) {
                participant.status = this.getStatusForParticipant(new Date(participant.lastPing));
            }
        },
        getStatusForParticipant(lastPing) {
            const currentTime = Date.now();
            // 6 seconds
            if (currentTime - lastPing < 6000) {
                return {
                    color: 'green',
                    text: 'Online'
                };
            }

            // 15 seconds
            if (currentTime - lastPing < 15000) {
                return {
                    color: 'orange',
                    text: 'Connection Issues'
                };
            }

            return {
                color: 'red',
                text: 'Offline'
            };
        },
        getPlayerScore(index) {
            if (this.participants[index].forfeit) {
                return 0;
            }

            if (this.participants.some(x => x.forfeit)) {
                return 1;
            }

            if (index === 0) {
                return this.scoreHistory.map(x => x.score0).reduce((partialSum, a) => partialSum + a, 0);
            }

            return this.scoreHistory.map(x => x.score1).reduce((partialSum, a) => partialSum + a, 0);
        },
        updateMessageAckStatus(message) {
            // No clue why the ref ends up being an array
            this.$refs[`playerTile${message.playerPublicId}`][0].clearPendingMessageIndicator();
        },
        updateTimer() {
            this.currentTime = new Date(new Date().getTime() + this.timerDelta);

            // tslint:disable-next-line
            this.pretime.inPretime = new Date(this.timer.startTime).getTime() - this.currentTime.getTime() > 0;
            this.pretime.remainingPretimeInSeconds = this.getRemainingPretimeInSeconds();
            this.remainingTimeInSeconds = this.getRemainingTimeInSeconds();
            this.elapsedTimeInSeconds = this.getElapsedTimeInSeconds();
            this.timerInterval = TimerHandler.setTimeout(this.updateTimer, 100);
        },
        getRemainingTimeInSeconds() {
            if (this.timer.endTime === null) {
                return null;
            }

            const diff = new Date(this.timer.endTime).getTime() - this.currentTime.getTime();
            return diff / 1000;
        },
        getElapsedTimeInSeconds() {
            const diff = this.currentTime.getTime() - new Date(this.timer.startTime).getTime();
            return diff / 1000;
        },
        getRemainingPretimeInSeconds() {
            return (new Date(this.timer.startTime).getTime() - this.currentTime.getTime()) / 1000;
        }
    }
};
</script>

<style lang="scss" scoped>
    .match-status {
        .player-tile {
            display: flex;
        }

        .photo-finish {
            margin-top: 10px;
        }

        .score-history {
            text-align: right;
        }

        .dropdown-menu {
            background: $modal-background;
            color: #fff;
            min-width: 100%;

            .discord-avatar {
                width: 16px;
                height: 16px;
            }

            h6 {
                color: #fff;
                font-family: 'nimbus_sans_lbold', sans-serif;
                text-transform: uppercase;

                img {
                    vertical-align: top;
                }
            }

            a {
                color: #fff;

                &:hover,
                &:focus,
                &:active {
                    background: $game-button-background-hover;
                }
            }
        }

        margin: 15px;
        padding: 15px;
        color: $content-text;
        background: $content-background;

        h3 {
            font-family: 'nimbus_sans_lbold', sans-serif;
            text-transform: uppercase;
        }

        .draw {
            margin-bottom: 10px;
        }

        .challonge-orange {
            background: #FF7324;
            border-color: #FF7324;
            color: #fff;

            &:disabled:hover {
                background: #FF7324;
                border-color: #FF7324;
                color: #fff;
                cursor: not-allowed;
            }

            &:hover {
                background: #f05700;
                border-color: #e65300;
                color: #fff;
            }
        }

        .finished {
        }

        .match-history {
            display: flex;
            flex-direction: column;

            .history {
                flex-grow: 1;
            }
        }

        .timer-parent {
            display: flex;
            justify-content: center;
            font-size: 1rem;
            margin-top: 15px;

            .text {
                font-size: 1rem;
                height: inherit;
                width: inherit;
                line-height: inherit;
            }
        }
    }

    @keyframes flash {
        0%,
        49% {
            visibility: hidden;
        }
        50%,
        100% {
            visibility: visible;
        }
    }

    .flash {
        animation: flash 2s linear infinite;
    }
</style>