<template>
    <div class="player-tile">
        <h3>
            <img :src="participant.avatarUrl" alt="">
            {{ participant.name }}
            <i class="fas fa-circle" :style="`color: ${participant.status.color}`" :title="participant.status.text"></i>
        </h3>
        <div class="player-score">
            {{ score }}
        </div>
        <div class="row finished" v-if="finished">
            <div class="col-12">
                <div class="row">
                    <div class="col-3 text-right">
                        <i class="fas fa-2x fa-exclamation-triangle flash"></i>
                    </div>
                    <div class="col-9 text-left">
                        {{ participant.name }} has finished at {{ Utils.formatDateTime(finished, 'HH:mm:ss') }}!  Please confirm.
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <button class="btn btn-sm btn-block btn-success" @click="$emit('process-completion', { playerIndex: index, state: 'Accept' })">
                            <i class="fas fa-check"></i>
                            Accept
                        </button>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <button class="btn btn-sm btn-block btn-danger" data-toggle="modal" :data-target="`#send-message-${uid}`" @click="composeRejectionMessage">
                            <i class="fas fa-times"></i>
                            Reject
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="player-link" v-else>
            <div class="row">
                <div class="col-md-6 col-12">
                    <button class="btn btn-sm btn-block btn-light" @click="copyParticipantLink">
                        <i class="fas fa-clipboard"></i>
                        Copy Participant Link to Clipboard
                    </button>
                </div>
                <div class="col-md-6 col-12">
                    <button class="btn btn-sm btn-block btn-dark" data-toggle="modal" :data-target="`#send-message-${uid}`" :disabled="pendingMessage">
                        <i class="fas fa-envelope"></i>
                        <template v-if="!pendingMessage"> Send Message to Participant</template>
                        <template v-else> Message sent, waiting for acknowledgement</template>
                    </button>
                </div>
            </div>
        </div>
        <modal class="reject-modal" :id="`send-message-${uid}`" :modal-title="`Send Message to ${participant.name}`">
            <alert type="danger" v-if="rejecting">
                A message is required when rejecting a spin.
            </alert>
            <textarea class="form-control" v-model="message" placeholder="Type your message here"></textarea>
            <template v-slot:modal-footer>
                <game-button @click="sendMessage" :disabled="message.trim() === ''">
                    <game-icon icon="arrow-right" font-style="normal"/>
                    Send Message
                </game-button>
                <game-button @click="closeModal" v-if="!rejecting">
                    <game-icon icon="failed" font-style="normal"/>
                    Cancel
                </game-button>
                <button :id="`close-modal-${uid}`" style="display: none" data-dismiss="modal">
                    (This button controls closing the modal pragmatically. Please don't mess with this directly!)
                </button>
            </template>
        </modal>
    </div>
</template>

<script>
    import Utils from '../Utils.ts';
    import Modal from '@/components/Modal.vue';
    import GameButton from '@/components/GameButton.vue';
    import GameIcon from '@/components/GameIcon.vue';
    import Alert from '@/components/Alert.vue';
    import {useCookies} from "vue3-cookies";
    import Moment from "@/components/Moment.vue";
    import { v4 as uuidv4 } from 'uuid';

    export default {
        name: 'PlayerTile',
        computed: {
            Utils() {
                return Utils
            }
        },
        setup() {
            const { cookies } = useCookies();
            const uid = uuidv4();
            return {
                cookies,
                uid
            }
        },
        components: {Moment, Alert, GameIcon, GameButton, Modal},
        props: {
            participant: Object,
            index: Number,
            rouletteId: String,
            finished: String,
            score: Number
        },
        data() {
            return {
                rejecting: false,
                message: '',
                pendingMessage: null
            };
        },
        mounted() {
            this.fetchUnreadMessage();
        },
        methods: {
            fetchUnreadMessage() {
                this.$http.get(`${this.$apiDomain}/api/matchups/${this.rouletteId}/players/${this.participant.publicId}/unread-message`, Utils.getDiscordHeader(this.cookies))
                    .then(resp => {
                        if (resp.status === 200) {
                            this.pendingMessage = resp.data.id;
                        } else {
                            this.pendingMessage = null;
                        }
                    }).catch(err => {
                        console.error(err);
                    });
            },
            clearPendingMessageIndicator() {
                this.pendingMessage = null;
            },
            composeRejectionMessage() {
                this.rejecting = true;
            },
            sendMessage() {
                this.$http.post(`${this.$apiDomain}/api/matchups/${this.rouletteId}/messages`, {
                    playerPublicId: this.participant.publicId,
                    message: this.message
                }, Utils.getDiscordHeader(this.cookies)).then(resp => {
                    this.pendingMessage = resp.data.id;

                    if (this.rejecting) {
                        this.$emit('process-completion', { playerIndex: this.index, state: 'Reject' });
                        this.rejecting = false;
                    }
                    this.closeModal();
                }).catch(_ => this.$toastr.e('Failed to send message'));


            },
            copyParticipantLink() {
                Utils.copyToClipboard(`${this.$vueDomain}/tourney-participant/${this.rouletteId}/${this.participant.publicId}`)
                    .then(() => this.$toastr.s('Copied participant link to clipboard'));
            },
            closeModal() {
                // Clear everything out and close the modal
                document.getElementById(`close-modal-${this.uid}`).click();
                this.message = '';
            }
        }
    };
</script>

<style lang="scss" scoped>
    .player-tile {
        text-align: center;
        display: flex;
        flex-direction: column;

        h3 {
            font-family: "nimbus_sans_lbold", sans-serif;
            font-size: 1.75rem;
            text-transform: uppercase;
        }

        img {
            width: 28px;
            height: 28px;
            vertical-align: top;
        }

        .player-score {
            font-size: 2rem;
            flex-grow: 1;
            font-family: 'nimbus_sans_lbold', sans-serif;
        }

        .reject-modal {
            text-align: left;

            textarea {
                background: transparent;
                color: #fff;
            }
        }
    }
</style>