<template>
    <div class="body" :style="`background: url('${getBackgroundUrl()}') center center / cover no-repeat fixed`">
        <nav class="navbar navbar-expand-lg">
            <img src="@/assets/logo.png" class="img-fluid mr-auto">
            <div class="powered-by">
                <span>Powered by</span>
                <a href="https://www.hitmaps.com" target="_blank">
                    <img src="https://www.hitmaps.com/img/png/logos/hitmaps.png" alt="HITMAPS&trade; Logo" class="hitmaps-logo img-fluid">
                </a>
            </div>
        </nav>
        <div class="row filters">
            <div class="col-sm-12">
                <div class="filter mission-filter">
                    <div class="row game-row">
                        <div class="col">
                            <h1 v-if="matchupData && matchupData.currentSpin && hitmapsMissionInfo[this.matchupData.currentSpin.mission.slug]">
                                {{ hitmapsMissionInfo[this.matchupData.currentSpin.mission.slug].location }} /
                                {{ this.matchupData.currentSpin.mission.name }}
                            </h1>
                            <h1 v-else>Waiting for spin data...</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row timer" v-if="matchupData && matchupData.currentSpin && !pretime.inPretime">
            <div class="overlay-timer above" :class="progressColor" :style="'width: ' + progressPercentage"><!-- Intentionally left blank --></div>
            <div class="overlay-timer below">
                <div class="row remaining-time">
                    <div class="col">
                        <div class="text">
                            <div class="timer" v-if="showTimer">{{ getFormattedTime(this.remainingTimeInSeconds) }}</div>
                            <div class="timer" v-else>No Time Limit</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pretime" v-if="pretime.inPretime">
            <div class="row">
                <div class="col-xs-12">
                    <i class="fad fa-hourglass"></i>
                    <div class="text">
                        <p>SPIN ARRIVES IN</p>
                        <div class="timer">{{ getFormattedTime(pretime.remainingPretimeInSeconds, true) }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="targets" v-else-if="matchupData.currentSpin">
            <div class="row">
                <div v-if="matchupData.currentSpin" class="target" :class="matchupData.currentSpin.allConditions.length > 3 ? 'col-6 tight' : 'col-xl-6 col-lg-12'" v-for="condition in matchupData.currentSpin.allConditions">
                    <div class="hitman-card">
                        <div class="target-info-image d-none d-md-flex" :style="{ background: `url(${condition.target.tileUrl}) center center / cover no-repeat` }">
                            <div class="image">
                                <game-icon v-if="condition.type === 'KILL'" icon="target" font-style="solid" style="color: white" />
                                <game-icon v-else-if="condition.type === 'OBJECTIVE'" icon="objective" font-style="solid" style="color: white" />
                            </div>
                            <div class="text">
                                <h2 v-if="condition.type === 'KILL'">Target</h2>
                                <h2 v-else-if="condition.type === 'OBJECTIVE'">Objective</h2>
                                <h1>{{ condition.target.name }}</h1>
                            </div>
                        </div>
                        <div class="spin-conditions">
                            <div class="white-panel target-info d-flex d-md-none">
                                <div class="image">
                                    <game-icon v-if="condition.type === 'KILL'" icon="target" font-style="solid" />
                                    <game-icon v-else-if="condition.type === 'OBJECTIVE'" icon="objective" font-style="solid" />
                                </div>
                                <div class="text">
                                    <h2 v-if="condition.type === 'KILL'">Target</h2>
                                    <h2 v-else-if="condition.type === 'OBJECTIVE'">Objective</h2>
                                    <h1>{{ condition.target.name }}</h1>
                                </div>
                            </div>
                            <div class="white-panel kill-method">
                                <div class="image">
                                    <game-icon v-if="condition.type === 'KILL'" icon="difficulty-casual" font-style="solid" style="color: white" />
                                    <game-icon v-else-if="condition.type === 'OBJECTIVE'" icon="objective" font-style="solid" style="color: white" />
                                </div>
                                <div class="text">
                                    <h2 v-if="condition.type === 'KILL'">Eliminate Using</h2>
                                    <h1>
                                        <template v-if="condition.killMethod.selectedVariant">
                                            {{ condition.killMethod.selectedVariant }}
                                        </template>
                                        {{ condition.killMethod.name }}
                                    </h1>
                                </div>
                                <div class="tile d-none d-sm-block">
                                    <img :src="condition.killMethod.tileUrl" class="img-fluid">
                                </div>
                            </div>
                            <div class="white-panel disguise">
                                <div class="image">
                                    <game-icon icon="disguise" font-style="solid" style="color: white" />
                                </div>
                                <div class="text">
                                    <h2>Wear Disguise</h2>
                                    <h1>{{ condition.disguise.name }}</h1>
                                </div>
                                <div class="tile d-none d-sm-block">
                                    <img :src="condition.disguise.tileUrl" class="img-fluid" :alt="`${condition.disguise.name} Image`">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="target-complications" v-if="condition.complications.length">
                        <template v-for="complication in condition.complications">
                            <div class="image">
                                <game-icon icon="complication" font-style="solid" style="color: white" />
                            </div>
                            <div class="text">
                                <h2>Complication</h2>
                                <h1>{{ complication.name }}</h1>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
            <div class="row utilities">&nbsp;</div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        height: 100%;
        font-family: 'nimbus_sans_lbold', sans-serif;
    }

    @keyframes flash {
        0%,
        49% {
            visibility: visible;
        }
        50%,
        100% {
            visibility: hidden;
        }
    }

    .flash {
        animation: flash 2s linear infinite;
    }

    .row.timer {
        margin-left: 20px;
        margin-right: 20px;
        min-height: 45px;
        max-height: 45px;
        text-align: center;
        position: relative;
        background: lime;

        .overlay-timer {
            &.above {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: background .1s ease-in-out, width .1s ease-in-out;

                &.green {
                    background: green;
                }

                &.yellow {
                    background: orange;
                }

                &.red {
                    background: red;
                }
            }

            &.below {
                width: 100%;
                background: #292929;
                color: white;
                height: 45px;
            }

            .remaining-time {
                font-size: 30px;
            }
        }

        img {
            margin-top: 10px;
            height: 80px;
        }
    }

    nav {
        flex: 0 1 auto;
        background-color: rgba(0, 0, 0, .5);

        .powered-by {
            color: #fff;
            font-size: 1.2rem;
            text-transform: uppercase;

            span {
                margin-right: 10px;
                vertical-align: middle;
            }
        }

        img {
            max-height: 50px;
        }
    }

    .row.filters {
        margin-left: 5px;
        margin-right: 5px;
    }

    .filter {
        margin-top: 10px;
        padding: 10px;
        background: #2d2f39;
        color: #fff;


        .game-row {
            .hitman-card {
                margin: .375rem .75rem;
                display: inline-block;
                cursor: pointer;

                > p:first-child {
                    flex-grow: 1;
                }

                .white-panel {
                    background: #2d2f39;
                    color: #fff;
                    display: flex;
                    border: solid 1px #ddd;

                    .image {
                        margin-right: 5px;

                        img {
                            height: 32px;
                            width: 32px;

                            &.selected {
                                display: none;
                            }

                            &.regular {
                                display: block;
                            }
                        }
                    }

                    .text {
                        text-transform: uppercase;
                        align-self: center;
                        text-align: left;
                    }

                    &.target-info {
                        padding: 5px;

                        .text {
                            h2 {
                                font-size: 0.7rem;
                                margin-bottom: 0;
                                color: #ff003c;
                            }

                            h1 {
                                font-size: 0.7rem;
                                margin-bottom: 0;
                            }
                        }
                    }

                    &.images {
                        .row {
                            margin-left: 0;
                            margin-right: 0;

                            .col {
                                padding-left: 0;
                                padding-right: 0;
                            }
                        }
                    }
                }
            }

            .col {
                display: flex;
                align-items: center;

                h1, p {
                    font-size: 1.5rem;
                    margin-bottom: 0;
                    margin-right: 10px;
                }

                h1 {
                    flex-grow: 1;
                }

                /*p {
                    flex-grow: 1;
                }*/

                select {
                    background: white;
                }

                .game-logo {
                    filter: invert(100%);
                }
            }
        }


        .divider {
            margin-left: -10px;
            margin-right: -10px;
            border-top: solid 1px #eee;
        }

        .mission {
            text-align: center;

            .btn.selected {
                background-color: rgba(0,0,0,.1);
            }

            img {
                max-height: 200px;
            }
        }

        .tournament-mode-toggle {
            margin-top: 10px;

            span {
                margin-right: 10px;
            }
        }
    }

    .targets {
        display: flex;
        flex-direction: column;
        margin: 10px 20px 0 20px;

        .target-info-image {
            width: 40%;
            align-items: flex-end;
            padding: 15px;

            .image {
                margin-right: 5px;

                i {
                    font-size: 32px !important;
                    text-shadow: 0 0 20px #000;

                    @media(min-width: 768px) {
                        font-size: 48px !important;
                    }
                }
            }

            .text {
                text-transform: uppercase;
                align-self: inherit;
                text-shadow: 0 0 20px #000;

                h2 {
                    font-size: 16px;
                    color: #fff;
                    margin-bottom: 0;
                }

                h1 {
                    font-size: 20px;
                    color: #fff;
                    margin-bottom: 0;
                }
            }

            &.target-info {
                padding: 5px;

                .text {
                    h2 {
                        font-size: 0.7rem;
                        margin-bottom: 0;
                        color: #ff003c;
                    }

                    h1 {
                        font-size: 0.7rem;
                        margin-bottom: 0;
                    }
                }
            }
        }

        .row {
            flex-grow: 1;

            .target {
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
            }
        }

        .hitman-card {
            display: flex;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            /*flex-grow: 1;*/

            > p:first-child {
                flex-grow: 1;
            }

            /* Screens smaller than 768px */
            .spin-conditions {
                width: 100%;
            }

            @media(min-width: 768px) {
                .spin-conditions {
                    width: 60%;
                }
            }

            .white-panel {
                background: #2d2f39;
                color: #fff;
                display: flex;

                .image {
                    margin-right: 5px;

                    img {
                        height: 48px;
                        width: 48px;
                    }

                    i {
                        font-size: 32px !important;
                        text-shadow: 0 0 20px #000;

                        @media(min-width: 768px) {
                            font-size: 48px !important;
                        }
                    }
                }

                .tile {
                    img {
                        max-height: 80px;
                    }
                }

                .text {
                    text-transform: uppercase;
                    flex-grow: 1;
                    align-self: center;
                }

                .divider {
                    border-left: solid 1px #ddd;
                }

                .respin {
                    align-self: center;

                    > a {
                        padding: 29px 15px 29px;
                        color: #000;

                        &:hover {
                            background: rgba(0,0,0,.05);
                        }
                    }
                }

                &.target-info {
                    padding: 15px;

                    .text {
                        h2 {
                            font-size: 0.75rem;
                            margin-bottom: 0;
                            color: #ff003c;

                            @media(min-width: 768px) {
                                font-size: 1rem;
                            }
                        }

                        h1 {
                            font-size: 1rem;
                            margin-bottom: 0;

                            @media(min-width: 768px) {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }

                &.kill-method,
                &.disguise {
                    border-top: solid 1px #2d2f39;
                    background: #2d2f39;

                    .image {
                        margin: 15px 5px 15px 15px;
                    }

                    .text {
                        text-transform: none;

                        h2 {
                            font-size: 0.75rem;
                            margin-bottom: 0;
                            color: #ff003c;

                            @media(min-width: 768px) {
                                font-size: 1rem;
                            }
                        }

                        h1 {
                            font-size: 1rem;
                            margin-bottom: 0;

                            @media(min-width: 768px) {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }

                &.images {
                    .row {
                        margin-left: 0;
                        margin-right: 0;
                        background-color: #888;

                        .col {
                            padding-left: 0;
                            padding-right: 0;

                            img {
                                max-height: 40%;
                            }
                        }
                    }
                }
            }
        }

        .target-complications {
            background: $card-footer-background-hover;
            color: $card-footer-text;
            padding-top: 5px;
            padding-bottom: 5px;
            display: flex;
            font-size: 20px;

            @media(min-width: 768px) {
                font-size: 36px;
            }

            .image {
                margin-left: 15px;
                margin-right: 5px;

                i {
                    font-size: 32px;

                    @media(min-width: 768px) {
                        font-size: 48px;
                    }
                }
            }


            h2 {
                display: none;
                font-size: 1rem;
                margin-bottom: 0;

                @media(min-width: 768px) {
                    display: block;
                }
            }

            h1 {
                font-size: .9rem;
                margin-bottom: 0;
                font-family: "nimbus_sans_lbold", sans-serif;

                @media(min-width: 768px) {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .blurple {
        color: #7289DA;
    }

    .pretime {
        margin: 10px 35px 0 35px;

        .row {
            background: rgba(45, 47, 57, .5);
            height: 300px;
            color: #fff;

            .col-xs-12 {
                display: flex;
                position: relative;
                flex-direction: column;
                justify-content: center;
                padding: 0;
                height: 100%;
                width: 100%;
                text-align: center;

                .fa-hourglass {
                    position: absolute;
                    z-index: 0;
                    color: rgba(255, 255, 255,.4);
                    font-size: 200px;
                    transition: color 0.5s ease;
                    display: flex;
                    align-self: center;
                }

                > div {
                    text-align: center;

                    .timer {
                        font-size: 75px;
                    }

                    .text {
                        z-index: 2;
                        p {
                            text-transform: uppercase;
                            margin: 0;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    @font-face {
        font-family: 'nimbus_sans_lbold';
        src: url('/fonts/NimbusSanL-Bol-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'nimbus_sans_lregular';
        src: url('/fonts/NimbusSanL-Reg-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
</style>

<script>
import GameIcon from '@/components/GameIcon.vue';
import TimerHandler from '../components/TimerHandler.ts';
import MatchHub from '../components/MatchHub.ts';
import CurrentSpin from '../components/HitmapsTournaments/CurrentSpin.ts';

export default {
    name: 'basic-matchup-client',
    components: {
        GameIcon
    },
    props: {
        matchupId: String
    },
    data() {
        return {
            hitmapsMissionInfo: {},
            matchupData: {
                currentSpin: null,
                matchupId: null,
                timer: {}
            },
            previousTimerFingerprint: null,
            spinTime: null,
            endTime: null,
            currentTime: null,
            timerInterval: null,
            ajaxTimerInterval: null,
            remainingTimeInSeconds: null,
            pretime: {
                inPretime: false,
                remainingPretimeInSeconds: 0,
                inCountdown: false
            }
        };
    },
    computed: {
        showTimer() {
            return this.matchupData.timer.startTime !== null && this.matchupData.timer.endTime !== null;
        },
        progressColor() {
            if (this.matchupData.timer.matchDurationInMinutes === null) {
                return '';
            }

            const halfTime = this.matchupData.timer.matchDurationInMinutes * 30; // 60 / 2
            const nearEnd = this.matchupData.timer.matchDurationInMinutes * 10; // 60 / 6

            if (this.remainingTimeInSeconds > halfTime) {
                return 'green';
            }
            if (this.remainingTimeInSeconds > nearEnd) {
                return 'yellow';
            }
            if (this.remainingTimeInSeconds > 60) {
                return 'red';
            }
            if (this.remainingTimeInSeconds > 0) {
                return 'red flash';
            }

            return 'red';
        },
        // tslint:disable-next-line
        progressPercentage: function() {
            if (this.matchupData.timer.matchDurationInMinutes === null || this.remainingTimeInSeconds <= 0) {
                return '0%';
            }

            const duration = this.matchupData.timer.matchDurationInMinutes * 60;
            const percentage = (this.remainingTimeInSeconds / duration * 100).toFixed(2);

            return `${percentage}%`;
        },
    },
    methods: {
        getBackgroundUrl() {
            if (this.hitmapsMissionInfo &&
                this.matchupData.currentSpin &&
                this.hitmapsMissionInfo[this.matchupData.currentSpin.mission.slug]) {
                return this.hitmapsMissionInfo[this.matchupData.currentSpin.mission.slug].backgroundUrl;
            }

            return 'https://media.hitmaps.com/img/hitman3/backgrounds/menu_bg.jpg';
        },
        getFormattedTime(time, pretime = false) {
            const minutes = parseInt(time / 60, 10);
            let seconds = parseInt(time % 60, 10);

            if (pretime) {
                seconds += 1;
            }

            return `${this.formatTimerValue(minutes)}:${this.formatTimerValue(seconds)}`;
        },
        formatTimerValue(value) {
            if (value < 0) {
                return '00';
            }

            const formattedValue = Math.abs(value);

            return formattedValue < 10 ? `0${formattedValue}` : formattedValue;
        },
        initializeMatchup() {
            this.$http
                .get(`${this.$apiDomain}/api/matchups/${this.matchupId}`)
                .then(resp => {
                    this.handleResponse(resp.data);
                })
                .catch(err => {
                    console.error(err);
                });
        },
        handleResponse(resp) {
            TimerHandler.clearInterval(this.ajaxTimerInterval);
            this.matchupData = {
                currentSpin: resp.currentSpin ? new CurrentSpin(resp.currentSpin) : null,
                matchupId: resp.matchupId,
                timer: resp.timer.fingerprint !== this.previousTimerFingerprint ?
                    resp.timer :
                    this.matchupData.timer
            };
            if (resp.timer.fingerprint !== this.previousTimerFingerprint) {
                this.timerDelta = new Date(this.matchupData.timer.serverTime).getTime() - new Date().getTime();
                this.updateTimer();
            }
            this.previousTimerFingerprint = this.matchupData.timer.fingerprint;
            this.ajaxTimerInterval = TimerHandler.setInterval(this.ajaxUpdate, 5000);
        },
        ajaxUpdate() {
            TimerHandler.clearInterval(this.ajaxTimerInterval);
            this.ajaxTimerInterval = null;
            this.initializeMatchup();
        },
        calculateEndTime(spinTime, matchLength) {
            if (matchLength === 'NO TIME LIMIT') {
                return undefined;
            }

            const actualMatchLengthMinutes = parseInt(matchLength.substr(0, 2), 10);
            const endTime = new Date(spinTime.getTime());
            endTime.setMinutes(endTime.getMinutes() + actualMatchLengthMinutes);

            return endTime;
        },
        setupWebsocketsConnection() {
            this.matchHub = new MatchHub(this.$apiDomain);
            this.matchHub.start();
            this.matchHub.joinMatch(this.matchupId);
            this.matchHub.on('MatchChange', (args) => this.handleResponse(args));

            this.matchHub.onReconnected(_ => {
                // Disconnect from everything just to have a clean slate
                this.matchHub.leaveMatch(this.matchupId);
                this.matchHub.off('MatchChange');

                // And now let's reconnect
                this.matchHub.joinMatch(this.matchupId);
                this.matchHub.on('MatchChange', (args) => this.handleResponse(args));
            });
        },
        updateTimer() {
            this.currentTime = new Date(new Date().getTime() + this.timerDelta);

            // tslint:disable-next-line
            this.pretime.inPretime = new Date(this.matchupData.timer.startTime).getTime() - this.currentTime.getTime() > 0;
            this.pretime.remainingPretimeInSeconds = this.getRemainingPretimeInSeconds();
            this.remainingTimeInSeconds = this.getRemainingTimeInSeconds();
            this.timerInterval = TimerHandler.setTimeout(this.updateTimer, 100);
        },
        getRemainingTimeInSeconds() {
            if (this.matchupData.timer.endTime === null) {
                return null;
            }

            const diff = new Date(this.matchupData.timer.endTime).getTime() - this.currentTime.getTime();
            return diff / 1000;
        },
        getRemainingPretimeInSeconds() {
            return (new Date(this.matchupData.timer.startTime).getTime() - this.currentTime.getTime()) / 1000;
        },
        fetchLocationBackgrounds() {
            for (const game of ['hitman', 'hitman2', 'hitman3']) {
                this.$http.get(`${this.$hitmapsDomain}/api/games/${game}/locations`).then(resp => {
                    for (const location of resp.data) {
                        for (const mission of location.missions) {
                            this.hitmapsMissionInfo[mission.slug] = {
                                location: location.destination,
                                mission: mission.name,
                                backgroundUrl: mission.backgroundUrl
                            };
                        }
                    }
                });
            }
        }
    },
    mounted() {
        this.fetchLocationBackgrounds();
        this.initializeMatchup();
        this.setupWebsocketsConnection();
    },
};
</script>
