<template>
    <div class="body">
        <div class="targets" v-if="matchupData && matchupData.showSpin && !pretime.inPretime">
            <div class="row overlay compact">
                <div class="overlay-targets">
                    <div class="row">
                        <div class="target" v-for="(spinResult, index) in matchupData.spinResults">
                            <div class="hitman-card landscape">
                                <div style="display: flex">
									<div class="white-panel target-info">
                                        <div class="image">
                                            <img src="/img/target.png">
                                        </div>
                                        <div class="text">
                                            <h2>Target</h2>
                                            <h1>{{ spinResult.target.name }}</h1>
                                        </div>
                                	</div>
                                    <div class="white-panel kill-method">
                                        <div class="image">
                                            <img src="/img/kill-condition.png">
                                        </div>
                                        <div class="text">
                                            <h2>Eliminate Using</h2>
                                            <h1>
                                                <template v-if="spinResult.killMethod.variants &&
                                                                spinResult.killMethod.variants.some(x => x.chosen)">
                                                    {{ spinResult.killMethod.variants.find(x => x.chosen).name }}
                                                </template>
                                                {{ spinResult.killMethod.name }}
                                            </h1>
                                        </div>
                                    </div>
                                    <div class="white-panel disguise" v-if="matchupData.requireDisguise">
                                        <div class="image">
                                            <img src="/img/disguise.png">
                                        </div>
                                        <div class="text">
                                            <h2>Wear Disguise</h2>
                                            <h1>{{ spinResult.disguise.name }}</h1>
                                        </div>
                                    </div>
                                    <div class="white-panel images">
                                        <div class="kill-method">
                                            &nbsp;
                                        </div>
                                        <div class="disguise">
                                            &nbsp;
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="target" v-if="matchupData.spinResults.length === 3" :style="{
                            background: `url('${matchupData.locationTileUrl}') center center / cover no-repeat`
                        }">
                            <div class="hitman-card"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row timer">
                <div class="overlay-timer above" :class="progressColor" :style="'width: ' + progressPercentage"><!-- Intentionally left blank --></div>
                <div class="overlay-timer below">
                    <div class="row" :class="showTimer ? 'remaining-time' : ''">
                        <div class="col">
                            <div class="text">
                                <div class="timer" v-if="showTimer">{{ getFormattedTime(this.remainingTimeInSeconds) }}</div>
                                <div class="timer" v-else>
                                    <img src="@/assets/logo.png" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="targets" v-else-if="pretime.inPretime">
            <div class="row overlay waiting" :style="{
                background: `url(${matchupData.locationTileUrl}) center center / cover no-repeat`
            }">
                <div class="players pretime">
                    <div class="col">
                        <i class="fad fa-hourglass"></i>
                        <div class="text">
                            <p>SPIN ARRIVES IN</p>
                            <div class="timer">{{ getFormattedTime(pretime.remainingPretimeInSeconds) }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="targets" v-else>
            <div class="row overlay waiting logo-only">
                <div>&nbsp;</div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .body {
        display: flex;
        flex-direction: column;
        height: 100vh;
        font-family: 'nimbus_sans_lbold', sans-serif;
        margin-left: 5px;
    }

    @keyframes flash {
        0%,
        49% {
            visibility: visible;
        }
        50%,
        100% {
            visibility: hidden;
        }
    }

    .flash {
        animation: flash 2s linear infinite;
    }

    .row {
        &.overlay {
            min-width: 250px;
            max-width: 250px;

            &.solo {
                min-width: 250px;
                max-width: 250px;

                .overlay-targets {
                    min-width: 250px;
                    max-width: 250px;

                    .target .hitman-card {
                        width: 443px;
                        height: 500px;

                        &.compact {
                            width: 443px;
                        }

                        .white-panel {
                            &.target-info {
                                height: 500px;
                            }

                            &.kill-method, &.disguise {
                                height: 250px;
                            }

                            &.images {
                                height: 250px;
                                width: 443px;

                                /*.kill-method, .disguise {
                                    height: 250px;
                                    width: 443px;
                                }*/
                            }
                        }
                    }
                }
            }

            .white-panel.images {
                height: 144px;

                .kill-method, .disguise {
                    height: 144px;
                    width: 325px;
                }
            }

            &.compact {
                .target .hitman-card {
                    min-height: 250px;
                    max-height: 250px;
                    min-width: 250px;
                    max-width: 250px;

                    &.landscape {
                        flex-direction: row;

                        .target-info {
                            height: 250px;
                            width: 300px;
                        }

                        .white-panel.images {
                            height: 92px;

                            .kill-method, .disguise {
                                height: 92px;
                                width: 175px;
                            }
                        }
                    }
                }
            }

            &.waiting {
                display: flex;
                flex-direction: column;
                justify-content: center;
                min-width: 650px;
                max-width: 650px;
                height: 600px;
                font-size: 50px;
                position: relative;
                overflow: hidden;
                font-family: 'GoBold', sans-serif;
                background: url('https://media.hitmaps.com/img/hitman3/backgrounds/menu_bg.jpg') center center / cover no-repeat;
                color: white;
                text-shadow: 0 0 10px #000;

                &.logo-only {
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        z-index: 0;
                        background: url('/img/overlay-logo.png') no-repeat center center;
                    }
                }

                > div {
                    &.players {
                        text-align: center;
                    }

                    .spinner-grow {
                        vertical-align: middle;
                    }
                }

                .pretime {
                    height: 100%;
                    color: white;
                    text-shadow: 0 0 10px #000;

                    .col {
                        display: flex;
                        position: relative;
                        flex-direction: column;
                        justify-content: center;
                        padding: 0;
                        height: 100%;

                        .fa-hourglass {
                            position: absolute;
                            z-index: 0;
                            left: 215px;
                            top: 142px;
                            color: rgba(255, 255, 255, .8);
                            font-size: 300px;
                            transition: color 0.5s ease;

                            &.hourglass-green {
                                color: rgba(0, 255, 0, .1);
                            }

                            &.hourglass-yellow {
                                color: rgba(212, 175, 55, .4);
                            }

                            &.hourglass-red {
                                color: rgba(255, 0, 0, .2);

                                &.flash {
                                    animation: flash 2s linear infinite;
                                }

                                &.shake {
                                    animation: shake .25s linear infinite;
                                }
                            }
                        }
                    }

                    > div {
                        text-align: center;

                        .timer {
                            font-size: 115px;
                        }

                        .text {
                            z-index: 2;

                            p {
                                text-transform: uppercase;
                                margin: 0;
                                font-size: 50px;
                            }
                        }
                    }
                }
            }
        }

        &.timer {
            min-width: 250px;
            max-width: 250px;
            min-height: 100px;
            max-height: 100px;
            text-align: center;
            position: relative;
            background: lime;

            .overlay-timer {
                &.above {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transition: background 1s ease-in-out;

                    &.green {
                        background: green;
                    }

                    &.yellow {
                        background: orange;
                    }

                    &.red {
                        background: red;
                    }
                }

                &.below {
                    width: 100%;
                    background: #292929;
                    color: white;
                    height: 100px;
                }

                .remaining-time {
                    font-size: 60px;
                }
            }

            img {
                margin-top: 10px;
                height: 80px;
            }
        }
    }

    .targets {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .row {
            margin-left: 0;
            margin-right: 0;

            .col-lg-4, .col-xl-3, .col-md-6, .col-xs-12 {
                padding-right: 0;
                padding-left: 0;
            }

            .target {
                display: flex;
            }
        }

        .hitman-card {
            display: flex;
            flex-direction: column;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            flex-grow: 1;

            > p:first-child {
                flex-grow: 1;
            }

            .white-panel {
                color: #000;
                display: flex;

                .image {
                    margin-right: 5px;

                    img {
                        height: 48px;
                        width: 48px;
                    }
                }

                .text {
                    text-transform: uppercase;
                    flex-grow: 1;
                    align-self: center;
                }

                .divider {
                    border-left: solid 1px #ddd;
                }

                .respin {
                    align-self: center;

                    > a {
                        padding: 29px 15px 29px;
                        color: #000;

                        &:hover {
                            background: rgba(0,0,0,.05);
                        }
                    }
                }

                &.target-info {
                    padding: 15px;
                    border-right: solid 1px #ddd;
                    height: 198px;
                    align-items: flex-end;

                    .text {
                        align-self: inherit;
                        text-shadow: 0 0 20px #000;

                        h2 {
                            font-size: 16px;
                            margin-bottom: 0;
                            color: white;
                        }

                        h1 {
                            font-size: 20px;
                            margin-bottom: 0;
                            color: white;
                        }
                    }
                }

                &.kill-method,
                &.disguise {
                    border-top: solid 1px #ccc;
                    border-right: solid 1px #ddd;
                    background: #eee;

                    .image {
                        margin: 15px 5px 15px 15px;
                    }

                    .text {
                        text-transform: none;

                        h2 {
                            font-size: 16px;
                            margin-bottom: 0;
                            color: #ff003c;
                        }

                        h1 {
                            font-size: 20px;
                            margin-bottom: 0;
                        }
                    }
                }

                &.images {
                    .row {
                        margin-left: 0;
                        margin-right: 0;
                        background-color: #888;

                        .col {
                            padding-left: 0;
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }

    @font-face {
        font-family: 'nimbus_sans_lbold';
        src: url('/fonts/NimbusSanL-Bol-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'nimbus_sans_lregular';
        src: url('/fonts/NimbusSanL-Reg-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'GoBold';
        src: url('/fonts/gobold.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
</style>

<script>
    export default {
        name: 'compact-overlay',
        components: {
        },
        props: {
            matchupId: String
        },
        data() {
            return {
                matchupData: null,
                spinTime: null,
                endTime: null,
                currentTime: null,
                timerInterval: null,
                ajaxTimerInterval: null,
                remainingTimeInSeconds: null,
                showTimer: true,
                pretime: {
                    inPretime: false,
                    remainingPretimeInSeconds: 0
                },
                status: {
                    color: null,
                    text: null
                },
                players: {
                    playerOne: null,
                    playerTwo: null
                }
            };
        },
        computed: {
            // tslint:disable-next-line
            progressColor: function() {
                if (this.matchupData.matchDuration === '-1') {
                    return '';
                }

                const halfTime = this.matchupData.matchDuration * 30; // 60 / 2
                const nearEnd = this.matchupData.matchDuration * 10; // 60 / 6

                if (this.remainingTimeInSeconds > halfTime) {
                    return 'green';
                }
                if (this.remainingTimeInSeconds > nearEnd) {
                    return 'yellow';
                }
                if (this.remainingTimeInSeconds > 60) {
                    return 'red';
                }
                if (this.remainingTimeInSeconds > 0) {
                    return 'red flash';
                }

                return 'red';
            },
            // tslint:disable-next-line
            progressPercentage: function() {
                const duration = this.matchupData.matchDuration * 60;
                const percentage = Math.ceil(this.remainingTimeInSeconds / duration * 100);

                return `${percentage}%`;
            },
            elapsedTimeInSeconds: () => Math.floor((new Date() - new Date(this.matchupData.matchTime)) / 1000)
        },
        methods: {
            initializeMatchup() {
                this.$http
                    .get(`${this.$domain}/api/matchups/${this.matchupId}`)
                    .then(resp => {
                        this.handleResponse(resp.data);
                    })
                    .catch(err => {
                        console.error(err);
                    });
            },
            handleResponse(resp) {
                clearTimeout(this.timerInterval);
                clearTimeout(this.ajaxTimerInterval);
                /*
                    {
                        "id": 1,
                        "matchupId": "slkfjslkdjg",
                        "playerOneName": "PlayerName",
                        "playerTwoName': "PlayerName",
                        "matchupData": "{...}"
                    }
                 */
                if (this.matchupData === '') {
                    console.info('No matchup data');
                } else {
                    try {
                        this.matchupData = JSON.parse(resp.matchupData);
                    } catch (e) {
                        console.error(e);
                    }
                }

                this.currentTime = new Date(resp.formattedCurrentTime);
                this.spinTime = new Date(resp.formattedSpinTime);
                this.endTime = this.calculateEndTime(this.spinTime, resp.matchLength);
                this.showTimer = resp.showTimer;
                this.updateTimer(true);
                this.ajaxTimerInterval = setTimeout(this.ajaxUpdate, 5000);
            },
            ajaxUpdate() {
                clearTimeout(this.ajaxTimerInterval);
                this.initializeMatchup();
            },
            calculateEndTime(spinTime, matchLength) {
                if (matchLength === 'NO TIME LIMIT') {
                    return undefined;
                }

                const actualMatchLengthMinutes = parseInt(matchLength.substr(0, 2), 10);
                const endTime = new Date(spinTime.getTime());
                endTime.setMinutes(endTime.getMinutes() + actualMatchLengthMinutes);

                return endTime;
            },
            getFormattedTime(time) {
                const minutes = parseInt(time / 60, 10);
                const seconds = parseInt(time % 60, 10);

                return `${this.formatTimerValue(minutes)}:${this.formatTimerValue(seconds)}`;
            },
            formatTimerValue(value) {
                if (value < 0) {
                    return '00';
                }
                const formattedValue = Math.abs(value);

                return formattedValue < 10 ? `0${formattedValue}` : formattedValue;
            },
            setupWebsocketsConnection() {
                // TODO
            },
            updateTimer(skipAdvance) {
                if (!skipAdvance) {
                    this.currentTime.setSeconds(this.currentTime.getSeconds() + 1);
                }

                this.pretime.inPretime = this.spinTime.getTime() - this.currentTime.getTime() > 0;
                this.pretime.remainingPretimeInSeconds = this.getRemainingPretimeInSeconds();
                this.timerInterval = setTimeout(this.updateTimer, 1000);
                this.remainingTimeInSeconds = this.getRemainingTimeInSeconds();
            },
            getRemainingTimeInSeconds() {
                if (!this.endTime) {
                    return -1;
                }

                const diff = this.endTime.getTime() - this.currentTime.getTime();
                return diff / 1000;
            },
            getRemainingPretimeInSeconds() {
                return (this.spinTime.getTime() - this.currentTime.getTime()) / 1000;
            }
        },
        mounted() {
            this.initializeMatchup();
            this.setupWebsocketsConnection();
        },
    };
</script>
