<template>
    <div
            class="content"
            style="background: url('https://media.hitmaps.com/img/hitman3/backgrounds/menu_bg.jpg') no-repeat center center fixed; background-size: cover"
    >
        <header class="row">
            <div class="col text-center site-header">
                <img src="@/assets/logo.png" class="img-fluid">
            </div>
        </header>
        <div class="row">
            <div class="col-md-6 offset-md-3 login">
                <div class="login-card">
                    <h3>Login With Discord</h3>
                    <p>{{ loginState }}</p>
                </div>
                <div class="sign-in-button">
                    <router-link :to="{ name: 'home' }">
                        <game-button>
                            <game-icon icon="story" font-style="normal" />
                            Home
                        </game-button>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import GameButton from '@/components/GameButton.vue';
    import GameIcon from '@/components/GameIcon.vue';
    import {useCookies} from "vue3-cookies";
    export default {
        name: 'DiscordAuth',
        setup() {
            const { cookies } = useCookies();
            return {
                cookies
            }
        },
        components: {GameIcon, GameButton},
        data() {
            return {
                loginState: 'Logging in with Discord, please wait...'
            };
        },
        mounted() {
            // Discord Callback
            const hashes = this.$route.hash.slice(1).split('&');
            const hashParameters = {};
            let hasParameters = false;
            hashes.forEach(param => {
                const splitParams = param.split('=');
                hashParameters[splitParams[0]] = splitParams[1];

                if (splitParams[0] === 'token_type' || splitParams[0] === 'access_token') {
                    hasParameters = true;
                }
            });

            if (!hasParameters) {
                return;
            }

            /* tslint:disable */
            this.cookies.set('discord-token-type', hashParameters['token_type'], `${hashParameters['expires_in']}s`);
            this.cookies.set('discord-access-token', hashParameters['access_token'], `${hashParameters['expires_in']}s`);
            /* tslint:enable */

            if (this.cookies.isKey('redirect-to')) {
                const redirectLocation = this.cookies.get('redirect-to');
                this.cookies.remove('redirect-to');
                window.location.href = `${this.$vueDomain}${redirectLocation}`;
            } else {
                window.location.href = '/';
            }
        }
    };
</script>

<style lang="scss" scoped>
    .content {
        height: 100vh;
    }

    .site-header {
        margin: 20px;

        h1 {
            margin-top: 20px;
        }

        img {
            max-height: 100px;
        }
    }

    .row {
        margin-left: 0;
        margin-right: 0;

        .col-md-6.login {
            background: transparent;
            border: none;

            .alert {
                margin: 10px;
            }

            .login-card {
                margin: 10px;
                background: $content-background;
                color: $content-text;
                padding: 1rem;
            }

            h3 {
                font-family: 'nimbus_sans_lbold', sans-serif;
                text-transform: uppercase;
                border-bottom: none;
                border-radius: 0;
            }

            .sign-in-button {
                background: #fff;
                padding: 0;
                margin: 0 10px 10px;

                a:hover {
                    text-decoration: none;
                }
            }

            .blurple {
                background: #7289da;
                color: #fff;
                border: none;

                &:hover {
                    background: #6073bf;
                }
            }
        }
    }
</style>
