<template>
    <div class="body">
        <hitmaps-navbar />
        <nav class="tabs nav nav-pills nav-justified">
            <router-link :to="{ name: 'home' }" class="nav-link">
                <game-icon icon="arrow-left" font-style="normal" />
                Home
            </router-link>
            <a class="nav-link active">
                <game-icon icon="completion-list" font-style="normal"/>
                Match Selector
            </a>
        </nav>
        <div class="content">
            <div class="match-select">
                <match-selector @match-selected="matchSelected" />
            </div>
        </div>
    </div>
</template>

<script>
    import GameIcon from '@/components/GameIcon.vue';
    import Spin from '@/components/Spin.vue';
    import Utils from '@/components/Utils.ts';
    import UtilityButton from '@/components/UtilityButton.vue';
    import BasicUtilityButtons from '@/components/BasicUtilityButtons.vue';
    import BasicTourneyButtons from '@/components/BasicTourneyButtons.vue';
    import TourneyStatus from '@/components/TourneyStatus.vue';
    import HitmapsNavbar from '../components/HitmapsNavbar.vue';
    import MatchSelector from '@/components/HitmapsTournaments/MatchSelector.vue';
    import MatchStatus from '@/components/HitmapsTournaments/MatchStatus.vue';
    import MapAgenda from '@/components/HitmapsTournaments/MapAgenda.vue';
    import {useCookies} from "vue3-cookies";

    export default {
        name: 'HitmapsTournamentsMatch',
        setup() {
            const { cookies } = useCookies();
            return {
                cookies
            }
        },
        components: {
            MapAgenda,
            MatchStatus,
            MatchSelector,
            HitmapsNavbar,
            TourneyStatus,
            BasicTourneyButtons,
            BasicUtilityButtons,
            UtilityButton, Spin, GameIcon
        },
        methods: {
            matchSelected({ selectedMatch, selectedTourney }) {
                if (selectedMatch.gameModeMatchId) {
                    this.$router.push({ name: 'tourney-admin', params: { matchupId: selectedMatch.gameModeMatchId }});
                    return;
                }

                const players = [];
                for (const competitor of selectedMatch.competitors) {
                    players.push({
                        name: competitor.challongeName,
                        avatarUrl: competitor.avatarUrl !== '' ? competitor.avatarUrl : null
                    });
                }
                const mapSelections = [];
                for (const mapSelection of selectedMatch.maps.filter(x => x.selectionType !== 'Ban')) {
                    let chosenBy = null;
                    if (selectedMatch.competitors.some(x => x.id === mapSelection.competitorId)) {
                        chosenBy = selectedMatch.competitors.find(x => x.id === mapSelection.competitorId).challongeName;
                    }
                    mapSelections.push({
                        hitmapsSlug: mapSelection.mapSlug,
                        chosenByName: chosenBy
                    });
                }
                // Create roulette match
                const matchupData = {
                    hitmapsTournamentsMatchId: selectedMatch.id,
                    players,
                    mapSelections,
                    overlayTheme: selectedTourney.slug,
                    pointsForVictory: selectedMatch.pointsForVictory
                };
                this.$http.post(`${this.$apiDomain}/api/matchups`,
                    matchupData,
                    Utils.getDiscordHeader(this.cookies))
                    .then(resp => {
                        const matchupId = resp.data.matchupId;

                        // Update tourney DB with new match ID
                        const payload = {
                            gameModeId: matchupId
                        };
                        this.$http.patch(`${this.$tourneyDomain}/api/matches/${selectedMatch.id}`,
                            payload,
                            Utils.getDiscordHeader(this.cookies)
                        ).then(_ => {
                            this.$router.push({ name: 'tourney-admin', params: { matchupId }});
                        }).catch(err => {
                            console.error(err);
                            this.$toastr.e(`An error occurred when starting the match.  If the issue persists, contact HITMAPS.  (${err.message})`);
                        });
                    });
            }
        }
    };
</script>

<style lang="scss" scoped>
    .body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        height: 100%;
        font-family: 'nimbus_sans_lregular', sans-serif;
        background: url('https://media.hitmaps.com/img/hitman3/backgrounds/menu_bg.jpg') center center / cover no-repeat fixed;

        .tabs {
            background: rgba(0, 0, 0, .5);
            color: white;
            display: flex;
            justify-content: center;

            a {
                color: white;

                &:hover {
                    color: white;
                }
            }

            .active {
                border-radius: 0;
                background-color: $card-footer-background-hover;

                i {
                    background-color: $card-footer-text;
                    color: $card-footer-background-hover;
                }
            }

            .nav-link {
                flex-grow: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                i {
                    margin-right: 10px;
                }
            }
        }

        .match-select {
            margin: 20px;
            background: $content-background;
            color: $content-text;
        }
    }
</style>