<template>
    <div class="body">
        <hitmaps-navbar />
        <alert v-if="manualModeEnabled" type="warning" dismissable>
            In manual mode, you are free to build whatever spin you would like.
        </alert>
        <nav class="tabs nav nav-pills nav-justified">
            <a class="nav-link" @click="viewTab('spin')" :class="{ active: tab === 'spin' }">
                <game-icon icon="completion-list" font-style="normal"/>
                Spin Details
            </a>
            <a class="nav-link" @click="viewTab('mission-select')" :class="{ active: tab === 'mission-select', disabled: !this.rouletteReady }">
                <game-icon icon="mission" font-style="normal"/>
                Mission Select
            </a>
            <a class="nav-link" @click="viewTab('settings')" :class="{ active: tab === 'settings', disabled: !this.rouletteReady }">
                <game-icon icon="settings" font-style="normal"/>
                Restrictions / Settings
            </a>
            <a class="nav-link" @click="viewTab('in-game-roulette')" :class="{ active: tab === 'in-game-roulette', 'in-game-roulette': tab !== 'in-game-roulette' }">
                <game-icon icon="story" font-style="normal"/>
                In-Game Roulette
            </a>
        </nav>
        <div class="content">
            <mission-select ref="missionSelect"
                            :style="tab === 'mission-select' ? '' : 'display: none'"
                            :available-missions="missions"
                            :missions="selectedMissions"
                            :mission-mode="missionMode"
                            @mission-selection="updateSelectedMissions"
                            @swap-mode="swapMode"
                            @push-to-queue="pushToQueue" />
            <options :style="tab === 'settings' ? '' : 'display: none'" :restrictions="selectedRestrictions" @restriction-selection="updateSelectedRestrictions" />
            <in-game-roulette :style="tab === 'in-game-roulette' ? '' : 'display: none'" />
            <div class="spin" :style="tab === 'spin' ? '' : 'display: none'">
                <div :style="subtab === 'tourney-mode-setup' ? '' : 'display: none'">
                    <tourney-mode-setup @start-basic-tourney-match="beginBasicTourneyMatch" />
                    <div class="row utilities">
                        <div class="col">
                            <utility-button theme="dark" @click="showSubtab('spin-conditions')">
                                <game-icon icon="failed" />
                                Cancel
                            </utility-button>
                        </div>
                    </div>
                </div>
                <div :style="subtab === 'spin-conditions' ? '' : 'display: none'">
                    <spin ref="spinner"
                          @respun-specific-condition="respunSpecificCondition"
                          show-hitmaps-link
                          :missions="missionsToSpinFrom"
                          :manual-mode-enabled="manualModeEnabled"
                          :selected-restrictions="selectedRestrictions" />
                    <basic-utility-buttons :spun-at-least-once="spunAtLeastOnce"
                                           :tourney-mode-active="basicTourneyModeActive"
                                           :hitmaps-tournament-mode="false"
                                           :disable-spin-button="disableSpinButton"
                                           :manual-mode-enabled="manualModeEnabled"
                                           :queue-mode="missionMode === 'QUEUE'"
                                           :disable-next-map="$refs.queueTray && $refs.queueTray.atEnd()"
                                           :disable-previous-map="$refs.queueTray && $refs.queueTray.atBeginning()"
                                           :mission-mode="missionMode"
                                           :disable-share-button="disableShareButton"
                                           :existing-shared-id="sharedId"
                                           @stream-overlay-button-clicked="confirmTourneyId"
                                           @manual-mode-button-clicked="handleManualModeToggle"
                                           @do-spin="doSpin"
                                           @show-subtab="showSubtab"
                                           @disable-basic-tourney-mode="disableBasicTourneyMode"
                                           @share-button-clicked="shareSpin"
                                           @previous-map="previousQueueMap"
                                           @next-map="nextQueueMap" />
                    <template v-if="basicTourneyModeActive">
                        <basic-tourney-buttons :tourney-match-id="tourneyData.id"
                                               :show-participant-link="true"
                                               @clear-spin="clearSpin"
                                               @send-spin="sendSpin"
                                               @match-duration="setMatchDuration"
                                               @match-time="setMatchTime" />
                        <tourney-status :status="tourneyData.statusText" />
                    </template>
                    <stream-overlay-modal :enable-copy-overlay-button="tourneyData.id !== null" :show-twitch-panel="!basicTourneyModeActive" @copy-overlay-link="copyStreamOverlayLink" />
                    <load-spin-modal @load-spin="loadSpin" />
                </div>
            </div>
            <queue-tray ref="queueTray" v-if="missionMode === 'QUEUE'" :queue="queue" @change-current-mission="setMissionFromQueue" />
        </div>
    </div>
</template>

<script>
    import Modal from '@/components/Modal.vue';
    import GameIcon from '@/components/GameIcon.vue';
    import Mission from '@/components/Mission.ts';
    import MissionSelect from '@/components/MissionSelect.vue';
    import Options from '@/components/Options.vue';
    import InGameRoulette from '@/components/InGameRoulette.vue';
    import Spin from '@/components/Spin.vue';
    import Utils from '@/components/Utils.ts';
    import TourneyModeSetup from '@/components/TourneyModeSetup.vue';
    import UtilityButton from '@/components/UtilityButton.vue';
    import BasicUtilityButtons from '@/components/BasicUtilityButtons.vue';
    import BasicTourneyButtons from '@/components/BasicTourneyButtons.vue';
    import TourneyStatus from '@/components/TourneyStatus.vue';
    import StreamOverlayModal from '@/components/StreamOverlayModal.vue';
    import HitmapsNavbar from '@/components/HitmapsNavbar.vue';
    import Alert from '@/components/Alert.vue';
    import LockedConditions from '@/components/LockedConditions.ts';
    import QueueTray from "@/components/QueueTray.vue";
    import LoadSpinModal from "@/components/LoadSpinModal.vue";

    export default {
        name: 'Home',
        components: {
            LoadSpinModal,
            QueueTray,
            Alert,
            HitmapsNavbar,
            StreamOverlayModal,
            TourneyStatus,
            BasicTourneyButtons,
            BasicUtilityButtons,
            UtilityButton, TourneyModeSetup, Spin, InGameRoulette, Options, MissionSelect, GameIcon, Modal
        },
        data() {
            return {
                tab: 'spin',
                subtab: 'spin-conditions',
                missionMode: 'RANDOM-POOL',
                basicTourneyModeActive: false,
                supportedMissions: [],
                missions: [],
                selectedMissions: [],
                missionsToSpinFrom: [],
                selectedRestrictions: [
                    'specific-melee',
                    'specific-firearms',
                    'specific-accidents',
                    'require-disguise',
                    'unique-target-kills',
                    'no-target-pacification'
                ],
                allMissionInfoFromHitmaps: {},
                hitmapsInfoForSelectedMission: null,
                rouletteReady: false,
                spunAtLeastOnce: false,
                disableSpinButton: true,
                disableShareButton: false,
                suppressSpecificConditionEmit: false,
                manualModeEnabled: false,
                tourneyData: {
                    id: null,
                    enabled: false,
                    spinSendTime: null,
                    matchDuration: 60,
                    matchTime: new Date(),
                    showSpin: false,
                    showTimer: false,
                    statusText: ''
                },
                queue: [],
                sharedId: null
            };
        },
        mounted() {
            this.$http.get(`${this.$apiDomain}/api/internal/home`).then(resp => {
                this.supportedMissions = resp.data.missions;
                const unsortedMissions = [];
                this.seedMissionData(resp.data.hitmapsMissions, unsortedMissions);

                // Sort missions by (1) game, (2) location, and (3) mission
                unsortedMissions.sort((a, b) => {
                    if (a.gameOrder - b.gameOrder !== 0) {
                        return a.gameOrder - b.gameOrder;
                    }
                    if (a.locationOrder - b.locationOrder !== 0) {
                        return a.locationOrder - b.locationOrder;
                    }

                    return a.missionOrder - b.missionOrder;
                });
                this.missions = unsortedMissions;

                // Initial load will set all missions
                for (const mission of this.missions) {
                    this.selectedMissions.push(mission);
                }
                this.$nextTick(() => this.$refs.missionSelect.setInitialMissions());
                this.rouletteReady = true;
                this.disableSpinButton = false;

                if (this.$route.query.spinId) {
                    this.loadSpin(this.$route.query.spinId);
                }
            });
        },
        methods: {
            loadSpin(publicId) {
                if (!publicId || publicId.replaceAll(/[^1234567890]/g, '').length !== 12) {
                    return;
                }

                this.missionsToSpinFrom = this.missions;
                this.$refs.spinner.loadSpecificSpin(publicId).then(_ => {
                    this.sharedId = publicId;
                    this.disableSpinButton = false;
                    this.spunAtLeastOnce = true;
                    this.$router.replace(`/?spinId=${publicId}`);
                });
            },
            viewTab(tab) {
                this.tab = tab;
            },
            showSubtab(subtab) {
                this.subtab = subtab;
            },
            seedMissionData(hitmapsMissionData, unsortedMissions) {
                const gameToOrder = ['hitman', 'hitman2', 'hitman3', 'elusive-targets'];
                hitmapsMissionData.forEach(location => {
                    location.missions
                        .filter(x => this.supportedMissions.find(y => y.slug === x.slug) !== undefined)
                        .forEach(mission => {
                            mission.variants
                                .filter(variant => variant.icon !== 'elusive' && this.supportedMissions.find(y => y.slug === mission.slug && y.variantSlug === variant.slug) !== undefined)
                                .forEach(variant => {
                                    let gameOrder = gameToOrder.indexOf(location.gameSlug);
                                    let locationOrder = location.order;
                                    let missionOrder = mission.order;
                                    if (variant.icon === 'elusive') {
                                        gameOrder = gameToOrder.indexOf('elusive-targets');
                                        locationOrder = 1;
                                        missionOrder = (gameToOrder.indexOf(game) * 100) + mission.order;
                                    }

                                    unsortedMissions.push(new Mission({
                                        id: mission.id,
                                        gameOrder: gameOrder,
                                        locationOrder: locationOrder,
                                        missionOrder: missionOrder,
                                        gameUri: location.gameSlug,
                                        name: variant.icon === 'mission' ? mission.name : variant.name,
                                        slug: mission.slug,
                                        tileUrl: variant.tileUrl ?? mission.tileUrl,
                                        location: location.slug,
                                        locationName: location.destination,
                                        variant: variant.slug,
                                        locationTileUrl: location.backgroundUrl,
                                        missionType: variant.icon === 'elusive' ?
                                            'Elusive Target' :
                                            variant.icon === 'orbis' ? 'Sarajevo Six' : mission.missionType
                                    }))
                                });
                        });
                });
            },
            updateSelectedMissions(selectedMissions) {
                this.selectedMissions = selectedMissions;
            },
            swapMode() {
                this.missionMode = this.missionMode === 'RANDOM-POOL' ? 'QUEUE' : 'RANDOM-POOL';
                if (this.missionMode === 'RANDOM-POOL') {
                    this.queue = [];
                } else {
                    this.selectedMissions = [];
                }
            },
            pushToQueue(mission) {
                const doSpin = this.queue.length === 0;

                this.queue.push(mission);
                if (doSpin) {
                    this.setMissionFromQueue(this.queue[0]);
                }
            },
            setMissionFromQueue(mission) {
                this.selectedMissions = [mission];
                this.doSpin();
            },
            previousQueueMap() {
                if (!this.$refs.queueTray) {
                    return;
                }

                this.$refs.queueTray.goToPrevious();
            },
            nextQueueMap() {
                if (!this.$refs.queueTray) {
                    return;
                }

                this.$refs.queueTray.goToNext();
            },
            updateSelectedRestrictions(selectedRestrictions) {
                this.selectedRestrictions = selectedRestrictions;
            },
            doSpin(respinMission = true) {
                this.missionsToSpinFrom = this.selectedMissions;

                if (!this.missionsToSpinFrom.length) {
                    this.tab = 'mission-select';
                    this.$toastr.e('You must select at least one mission in "Mission Select" before generating a spin');
                    return;
                }

                this.$nextTick(() => {
                    this.disableSpinButton = true;
                    this.suppressSpecificConditionEmit = true;
                    this.$refs.spinner.spin(new LockedConditions({
                        lockMission: !respinMission
                    })).then(_ => {
                        if (!this.basicTourneyModeActive && this.tourneyData.id !== null) {
                            // We should send this spin to the overlay
                            this.sendSpin();
                        }
                        this.purgeQueryStringParameters();
                        this.disableSpinButton = false;
                        this.suppressSpecificConditionEmit = false;
                        this.spunAtLeastOnce = true;
                        this.sharedId = null;
                    });
                });
            },
            purgeQueryStringParameters() {
                this.$router.replace('/');
            },
            /* region BasicTournamentMode */
            beginBasicTourneyMatch() {
                const matchupData = {
                    hitmapsTournamentsMatchId: null,
                    players: [],
                    mapSelections: []
                };
                this.$http.post(`${this.$apiDomain}/api/matchups`, matchupData)
                    .then(resp => {
                        this.tourneyData.id = resp.data.matchupId;
                        this.tourneyData.statusText = 'Matchup created. Send spin when ready.';
                        this.basicTourneyModeActive = !this.basicTourneyModeActive;
                        this.showSubtab('spin-conditions');
                    });
            },
            disableBasicTourneyMode() {
                this.tourneyData.id = null;
                this.tourneyData.statusText = 'Disabled';
                this.basicTourneyModeActive = false;
            },
            handleManualModeToggle() {
                this.manualModeEnabled = !this.manualModeEnabled;

                if (!this.manualModeEnabled) {
                    this.doSpin(false);
                }
            },
            setMatchDuration(matchDuration) {
                this.tourneyData.matchDuration = matchDuration;
            },
            setMatchTime(matchTime) {
                this.tourneyData.matchTime = matchTime;
            },
            sendSpin() {
                const payload = {
                    startTime: this.tourneyData.matchTime.toISOString(),
                    spinDuration: this.tourneyData.matchDuration === '-1' ? null : this.tourneyData.matchDuration,
                    spin: {
                        mission: {
                            slug: this.$refs.spinner.selectedMission.slug,
                            variantSlug: this.$refs.spinner.selectedMission.variant
                        },
                        targetConditions: this.$refs.spinner.spinResults.filter(x => x.type === 'KILL'),
                        additionalObjectives: this.$refs.spinner.spinResults
                            .filter(x => x.type === 'OBJECTIVE')
                            .map(x => x.convertToAdditionalObjectiveForApi())
                    }
                };

                this.$http.put(`${this.$apiDomain}/api/matchups/${this.tourneyData.id}/send-spin`, payload)
                    .then(resp => {
                        this.tourneyData.spinSendTime = new Date();
                        this.tourneyData.statusText = `${this.tourneyData.spinSendTime.toLocaleString('en-US')} | Spin sent to participants`;
                    });
            },
            shareSpin() {
                if (this.sharedId) {
                    Utils.copyToClipboard(this.sharedId);
                    this.$toastr.s(`Spin ID ${this.sharedId} copied to clipboard.`);
                    return;
                }

                const payload = {
                    mission: {
                        slug: this.$refs.spinner.selectedMission.slug,
                        variantSlug: this.$refs.spinner.selectedMission.variant
                    },
                    targetConditions: this.$refs.spinner.spinResults.filter(x => x.type === 'KILL'),
                    additionalObjectives: this.$refs.spinner.spinResults
                        .filter(x => x.type === 'OBJECTIVE')
                        .map(x => x.convertToAdditionalObjectiveForApi())
                };

                this.disableShareButton = true;
                this.$http.post(`${this.$apiDomain}/api/spins/share`, payload)
                    .then(resp => {
                        this.disableShareButton = false;
                        this.sharedId = resp.data.publicId;
                        this.$router.replace(`/?spinId=${this.sharedId}`);
                        Utils.copyToClipboard(this.sharedId);
                        this.$toastr.s(`Spin ID ${this.sharedId} created and copied to clipboard.`);
                    }).catch(err => {
                        this.disableShareButton = false;
                        this.$toastr.s(`Failed to share spin! (${err})`);
                    });
            },
            clearSpin() {
                this.$http.put(`${this.$apiDomain}/api/matchups/${this.tourneyData.id}/clear-spin`, {})
                    .then(resp => {
                        this.tourneyData.spinSendTime = new Date();
                        this.tourneyData.statusText = `${this.tourneyData.spinSendTime.toLocaleString('en-US')} | Spin cleared`;
                    });
            },
            /* endregion */
            copyStreamOverlayLink(overlayType) {
                Utils.copyToClipboard(`${this.$vueDomain}/${overlayType}/${this.tourneyData.id}`)
                    .then(_ => this.$toastr.s('Copied overlay link to clipboard'));
            },
            respunSpecificCondition() {
                // Spin has changed in some way, so clear out the id
                this.sharedId = null;
                this.purgeQueryStringParameters();

                // We don't care unless set up for a non-tourney overlay
                if (this.basicTourneyModeActive || this.tourneyData.id === null || this.suppressSpecificConditionEmit) {
                    return;
                }

                this.sendSpin();
            },
            confirmTourneyId() {
                if (this.tourneyData.id !== null) {
                    return;
                }

                const matchupData = {
                    hitmapsTournamentsMatchId: null,
                    players: [],
                    mapSelections: []
                };
                this.$http.post(`${this.$apiDomain}/api/matchups`, matchupData)
                    .then(resp => {
                        this.tourneyData.id = resp.data.matchupId;
                        this.tourneyData.matchDuration = null;

                        // Send the initial spin up so that users can hop in right away
                        this.sendSpin();
                    });
            }
        }
    };
</script>

<style lang="scss" scoped>
    .body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        height: 100%;
        font-family: 'nimbus_sans_lregular', sans-serif;
        background: url('https://media.hitmaps.com/img/hitman3/backgrounds/menu_bg.jpg') center center / cover no-repeat fixed;

        .tabs {
            background: rgba(0, 0, 0, .5);
            color: white;
            display: flex;
            justify-content: center;

            .active {
                border-radius: 0;
                background-color: $card-footer-background-hover;

                i {
                    background-color: $card-footer-text;
                    color: $card-footer-background-hover;
                }
            }

            .in-game-roulette {
                background-color: #000068;
            }

            .nav-link {
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &:not(.disabled) {
                    color: white;
                }

                i {
                    margin-right: 10px;
                }
            }
        }

        .spin {
            padding: 20px;

            .row {
                &.utilities {
                    margin-top: 10px;
                }
            }
        }
    }
</style>