<template>
    <div class="body" :style="`background: url('${getBackgroundUrl()}') center center / cover no-repeat fixed`">
        <nav class="navbar navbar-expand-lg">
            <img src="@/assets/logo.png" class="img-fluid mr-auto">
            <div class="powered-by d-none d-md-block">
                <span>Powered by</span>
                <a href="https://www.hitmaps.com" target="_blank">
                    <img src="https://www.hitmaps.com/img/png/logos/hitmaps.png" alt="HITMAPS&trade; Logo" class="hitmaps-logo img-fluid">
                </a>
            </div>
        </nav>
        <div class="row filters" v-if="!hitmapsLoadDone">
            <div class="col-sm-4 offset-sm-4">
                <loader />
            </div>
        </div>
        <template v-else>
            <template v-if="tournamentMatchId">
                <div class="score-strip">
                    <div class="player player-left" ref="playerLeft" :class="playerOneCssClass">
                        <div class="name">
                            {{ playerOneName }}
                        </div>
                        <div class="score">
                            {{ playerOneScore }}
                        </div>
                    </div>
                    <div class="player player-right" ref="playerRight" :class="playerTwoCssClass">
                        <div class="score">
                            {{ playerTwoScore }}
                        </div>
                        <div class="name">
                            {{ playerTwoName }}
                        </div>
                    </div>
                </div>
                <div class="row filters" v-if="wsConnectionLost">
                    <div class="col">
                        <div class="filter" style="background: darkred">
                            <div class="row">
                                <div class="col">
                                    Connection to HITMAPS services has been temporarily lost.<br>
                                    While automatic reconnections are possible, it is recommended to refresh this page.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row filters">
                    <div class="done-button col-12">
                        <div v-if="matchupData && matchupData.currentSpin" class="info white" @click="notifyCompletion" :class="completionStatus ? completionStatus.toLowerCase() : ''">
                            <template v-if="!completionStatus">
                                <div class="header" :style="!pretime.inPretime && !adminMessage ? 'visibility: visible' : 'visibility: hidden'">
                                    DONE
                                </div>
                                <div>Click / tap <b>here</b> upon completing the spin.</div>
                            </template>
                            <div v-else-if="completionStatus === 'SENDING'" class="text-muted">
                                <div class="header">SENDING</div>
                                <div>Notifying admin, please wait...</div>
                            </div>
                            <div v-else-if="completionStatus === 'PENDING'" class="text-muted">
                                <div class="header">SENT</div>
                                <div>Waiting for admin verification...</div>
                            </div>
                            <div v-else-if="completionStatus === 'REJECTED'" class="text-muted">
                                <div class="header">REJECTED</div>
                                <div>Your run was rejected.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <div class="row filters">
                <div class="col-lg-10 col-md-8 location-filter">
                    <div class="filter mission-filter">
                        <div class="row game-row">
                            <div class="col">
                                <h1 v-if="matchupData && matchupData.currentSpin && getCurrentMission()">
                                    {{ getCurrentMission().location }} /
                                    {{ getCurrentMission().mission }}
                                </h1>
                                <h1 v-else>Waiting for spin data...</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 status-filter">
                    <div class="connection-status" :class="matchHub.state().toLowerCase()">
                        <div class="row game-row">
                            <div class="col">
                                Status:
                                <i v-if="matchHub.state() === 'Connected'" class="fas fa-check"></i>
                                <i v-else-if="['Reconnecting', 'Connecting'].includes(matchHub.state())" class="fas fa-exclamation-triangle"></i>
                                <i v-else-if="matchHub.state() === 'Disconnected'" class="fas fa-times"></i>
                                {{ matchHub.state() }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pretime init-error" v-if="!audioEnabled" @click="audioEnabled = true">
                <div class="travel">
                    <div class="travel-icon">
                        <game-icon icon="distraction" font-style="solid" />
                    </div>
                    <div class="travel-text">
                        <h2>Please click/tap anywhere on this message to enable audio.  This is required due to browser policy restrictions.</h2>
                        <h1>Action Required</h1>
                    </div>
                </div>
            </div>
            <div class="row timer" v-if="matchupData && matchupData.currentSpin && !pretime.inPretime">
                <div class="overlay-timer above" :class="progressColor" :style="'width: ' + progressPercentage"><!-- Intentionally left blank --></div>
                <div class="overlay-timer below">
                    <div class="row remaining-time">
                        <div class="col">
                            <div class="text">
                                <div class="timer" v-if="showTimer">{{ getFormattedTime(this.remainingTimeInSeconds) }}</div>
                                <div class="timer" v-else>No Time Limit</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pretime init-error" v-if="initError">
                <div class="travel">
                    <div class="travel-icon">
                        <game-icon icon="warning" font-style="solid" />
                    </div>
                    <div class="travel-text">
                        <h2>An error occurred when trying to fetch match information.  If the issue persists, contact your match admin.</h2>
                        <h1>Error</h1>
                    </div>
                </div>
            </div>
            <div class="pretime" v-if="pretime.inPretime && getCurrentMission()">
                <div class="travel">
                    <div class="travel-icon">
                        <game-icon icon="location" font-style="solid" />
                    </div>
                    <div class="travel-text">
                        <h2>Traveling to</h2>
                        <h1>{{ getCurrentMission().location }}</h1>
                    </div>
                </div>
                <hr>
                <div class="timer">
                    <div class="time">
                        {{ getFormattedTime(pretime.remainingPretimeInSeconds, true) }}
                    </div>
                </div>
            </div>
            <admin-message v-if="adminMessage" :message="adminMessage" :player-id="playerId" :match-id="matchupId" @acknowledged="onAcknowledged" />
            <div class="targets" v-else-if="matchupData.currentSpin && !pretime.inPretime">
                <div class="row">
                    <div v-if="matchupData.currentSpin && !adminMessage" class="target" :class="matchupData.currentSpin.allConditions.length > 3 ? 'col-6 tight' : 'col-xl-6 col-lg-12'" v-for="(condition, index) in matchupData.currentSpin.allConditions">
                        <div class="hitman-card">
                            <div class="target-info-image d-none d-md-flex" :style="{ background: `url(${condition.target.tileUrl}) center center / cover no-repeat` }">
                                <div class="image">
                                    <game-icon v-if="condition.type === 'KILL'" icon="target" font-style="solid" style="color: white" />
                                    <game-icon v-else-if="condition.type === 'OBJECTIVE'" icon="objective" font-style="solid" style="color: white" />
                                </div>
                                <div class="text">
                                    <h2 v-if="condition.type === 'KILL'">Target</h2>
                                    <h2 v-else-if="condition.type === 'OBJECTIVE'">Objective</h2>
                                    <h1>{{ condition.target.name }}</h1>
                                </div>
                            </div>
                            <div class="spin-conditions">
                                <div class="white-panel target-info d-flex d-md-none">
                                    <div class="image">
                                        <game-icon v-if="condition.type === 'KILL'" icon="target" font-style="solid" />
                                        <game-icon v-else-if="condition.type === 'OBJECTIVE'" icon="objective" font-style="solid" />
                                    </div>
                                    <div class="text">
                                        <h2 v-if="condition.type === 'KILL'">Target</h2>
                                        <h2 v-else-if="condition.type === 'OBJECTIVE'">Objective</h2>
                                        <h1>{{ condition.target.name }}</h1>
                                    </div>
                                </div>
                                <div class="white-panel kill-method">
                                    <div class="image">
                                        <game-icon v-if="condition.type === 'KILL'" icon="difficulty-casual" font-style="solid" style="color: white" />
                                        <game-icon v-else-if="condition.type === 'OBJECTIVE'" icon="objective" font-style="solid" style="color: white" />
                                    </div>
                                    <div class="text">
                                        <h2 v-if="condition.type === 'KILL'">Eliminate Using</h2>
                                        <h1>
                                            <template v-if="condition.killMethod.selectedVariant">
                                                {{ condition.killMethod.selectedVariant }}
                                            </template>
                                            {{ condition.killMethod.name }}
                                        </h1>
                                    </div>
                                    <div class="tile d-none d-sm-block">
                                        <img :src="condition.killMethod.tileUrl" class="img-fluid">
                                    </div>
                                </div>
                                <div class="white-panel disguise">
                                    <div class="image">
                                        <game-icon icon="disguise" font-style="solid" style="color: white" />
                                    </div>
                                    <div class="text">
                                        <h2>Wear Disguise</h2>
                                        <h1>{{ condition.disguise.name }}</h1>
                                    </div>
                                    <div class="tile d-none d-sm-block">
                                        <img :src="condition.disguise.tileUrl" class="img-fluid" :alt="`Image for ${condition.disguise.name}`">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="target-complications" v-if="condition.complications.length">
                            <template v-for="complication in condition.complications">
                                <div class="image">
                                    <game-icon icon="complication" font-style="solid" style="color: white" />
                                </div>
                                <div class="text">
                                    <h2>Complication</h2>
                                    <h1>{{ complication.name }}</h1>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
                <div class="row utilities">&nbsp;</div>
            </div>
            <div class="settings-block">
                <matchup-client-settings-button @show-modal="$refs.settings.showModal()"/>
            </div>
            <matchup-client-settings ref="settings" @settings-change="onSettingsUpdate" />
        </template>
    </div>
</template>

<style lang="scss" scoped>
    .body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        height: 100%;
        font-family: 'nimbus_sans_lbold', sans-serif;

        .settings-block {
            position: fixed;
            bottom: 25px;
            right: 25px;
            color: #fff;
            background: #000;
            padding: 10px;
            border-radius: 10px;
            opacity: .5;
            transition: opacity .15s ease-in-out;

            &:hover {
                cursor: pointer;
                opacity: 1;
            }
        }
    }

    @keyframes flash {
        0%,
        49% {
            visibility: visible;
        }
        50%,
        100% {
            visibility: hidden;
        }
    }

    .flash {
        animation: flash 2s linear infinite;
    }

    @keyframes scoring-update-flash {
        0%,
        49% {
            background: $game-button-background-hover;
        }
        50%,
        100% {
            background: $game-button-background;
        }
    }

    .row.timer {
        margin-left: 20px;
        margin-right: 20px;
        min-height: 45px;
        max-height: 45px;
        text-align: center;
        position: relative;
        background: lime;

        .overlay-timer {
            &.above {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: background .3s ease-in-out, width .3s ease-in-out;

                &.green {
                    background: green;
                }

                &.yellow {
                    background: orange;
                }

                &.red {
                    background: red;
                }
            }

            &.below {
                width: 100%;
                background: #292929;
                color: white;
                height: 45px;
            }

            .remaining-time {
                font-size: 30px;
            }
        }

        img {
            margin-top: 10px;
            height: 80px;
        }
    }

    nav {
        flex: 0 1 auto;
        background-color: rgba(0, 0, 0, .5);

        .powered-by {
            color: #fff;
            font-size: 1.2rem;
            text-transform: uppercase;

            span {
                margin-right: 10px;
                vertical-align: middle;
            }
        }

        img {
            max-height: 50px;
        }
    }

    .row.filters {
        margin-left: 5px;
        margin-right: 5px;

        @media(min-width: 768px) {
            .location-filter {
                padding-right: 0;
            }

            .status-filter {
                padding-left: 0;
            }
        }
    }

    .connection-status {
        color: #fff;
        margin-top: 10px;
        background: #2d2f39;
        padding-top: 12.5px;
        padding-bottom: 12.5px;

        display: flex;
        justify-content: center;
        align-items: center;

        &.connected {
            background: green;
        }

        &.reconnecting,
        &.connecting {
            background: goldenrod;
            color: #000;
        }

        &.disconnected {
            background: darkred;
        }

    }

    .filter {
        margin-top: 10px;
        padding: 10px;
        background: #2d2f39;
        color: #fff;


        .game-row {
            .connection-status {
                justify-content: end;

                span {
                    i {
                        margin-left: 5px;
                    }
                }
            }

            .hitman-card {
                margin: .375rem .75rem;
                display: inline-block;
                cursor: pointer;

                > p:first-child {
                    flex-grow: 1;
                }

                .white-panel {
                    background: #2d2f39;
                    color: #fff;
                    display: flex;
                    border: solid 1px #ddd;

                    .image {
                        margin-right: 5px;

                        img {
                            height: 32px;
                            width: 32px;

                            &.selected {
                                display: none;
                            }

                            &.regular {
                                display: block;
                            }
                        }
                    }

                    .text {
                        text-transform: uppercase;
                        align-self: center;
                        text-align: left;
                    }

                    &.target-info {
                        padding: 5px;

                        .text {
                            h2 {
                                font-size: 0.7rem;
                                margin-bottom: 0;
                                color: #ff003c;
                            }

                            h1 {
                                font-size: 0.7rem;
                                margin-bottom: 0;
                            }
                        }
                    }

                    &.images {
                        .row {
                            margin-left: 0;
                            margin-right: 0;

                            .col {
                                padding-left: 0;
                                padding-right: 0;
                            }
                        }
                    }
                }
            }

            .col {
                display: flex;
                align-items: center;

                h1, p {
                    font-size: 1.5rem;
                    margin-bottom: 0;
                    margin-right: 10px;
                }

                h1 {
                    flex-grow: 1;
                }

                /*p {
                    flex-grow: 1;
                }*/

                select {
                    background: white;
                }

                .game-logo {
                    filter: invert(100%);
                }
            }
        }


        .divider {
            margin-left: -10px;
            margin-right: -10px;
            border-top: solid 1px #eee;
        }

        .mission {
            text-align: center;

            .btn.selected {
                background-color: rgba(0,0,0,.1);
            }

            img {
                max-height: 200px;
            }
        }

        .tournament-mode-toggle {
            margin-top: 10px;

            span {
                margin-right: 10px;
            }
        }
    }

    .targets {
        display: flex;
        flex-direction: column;
        margin: 10px 20px 0 20px;

        .target-info-image {
            width: 40%;
            align-items: flex-end;
            padding: 15px;

            .image {
                margin-right: 5px;

                i {
                    font-size: 32px !important;
                    text-shadow: 0 0 20px #000;

                    @media(min-width: 768px) {
                        font-size: 48px !important;
                    }
                }
            }

            .text {
                text-transform: uppercase;
                align-self: inherit;
                text-shadow: 0 0 20px #000;

                h2 {
                    font-size: 16px;
                    color: #fff;
                    margin-bottom: 0;
                }

                h1 {
                    font-size: 20px;
                    color: #fff;
                    margin-bottom: 0;
                }
            }

            &.target-info {
                padding: 5px;

                .text {
                    h2 {
                        font-size: 0.7rem;
                        margin-bottom: 0;
                        color: #ff003c;
                    }

                    h1 {
                        font-size: 0.7rem;
                        margin-bottom: 0;
                    }
                }
            }
        }

        .row {
            flex-grow: 1;

            .target {
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
            }
        }

        .hitman-card {
            display: flex;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            /*flex-grow: 1;*/

            > p:first-child {
                flex-grow: 1;
            }

            /* Screens smaller than 768px */
            .spin-conditions {
                width: 100%;
            }

            @media(min-width: 768px) {
                .spin-conditions {
                    width: 60%;
                }
            }

            .white-panel {
                background: #2d2f39;
                color: #fff;
                display: flex;

                .image {
                    margin-right: 5px;

                    img {
                        height: 48px;
                        width: 48px;
                    }

                    i {
                        font-size: 32px !important;
                        text-shadow: 0 0 20px #000;

                        @media(min-width: 768px) {
                            font-size: 48px !important;
                        }
                    }
                }

                .tile {
                    img {
                        max-height: 80px;
                    }
                }

                .text {
                    text-transform: uppercase;
                    flex-grow: 1;
                    align-self: center;
                }

                .divider {
                    border-left: solid 1px #ddd;
                }

                .respin {
                    align-self: center;

                    > a {
                        padding: 29px 15px 29px;
                        color: #000;

                        &:hover {
                            background: rgba(0,0,0,.05);
                        }
                    }
                }

                &.target-info {
                    padding: 15px;

                    .text {
                        h2 {
                            font-size: 0.75rem;
                            margin-bottom: 0;
                            color: #ff003c;

                            @media(min-width: 768px) {
                                font-size: 1rem;
                            }
                        }

                        h1 {
                            font-size: 1rem;
                            margin-bottom: 0;

                            @media(min-width: 768px) {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }

                &.kill-method,
                &.disguise {
                    border-top: solid 1px #2d2f39;
                    background: #2d2f39;

                    .image {
                        margin: 15px 5px 15px 15px;
                    }

                    .text {
                        text-transform: none;

                        h2 {
                            font-size: 0.75rem;
                            margin-bottom: 0;
                            color: #ff003c;

                            @media(min-width: 768px) {
                                font-size: 1rem;
                            }
                        }

                        h1 {
                            font-size: 1rem;
                            margin-bottom: 0;

                            @media(min-width: 768px) {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }

                &.images {
                    .row {
                        margin-left: 0;
                        margin-right: 0;
                        background-color: #888;

                        .col {
                            padding-left: 0;
                            padding-right: 0;

                            img {
                                max-height: 40%;
                            }
                        }
                    }
                }
            }
        }

        .target-complications {
            background: $card-footer-background-hover;
            color: $card-footer-text;
            padding-top: 5px;
            padding-bottom: 5px;
            display: flex;
            font-size: 20px;

            @media(min-width: 768px) {
                font-size: 36px;
            }

            .image {
                margin-left: 15px;
                margin-right: 5px;

                i {
                    font-size: 32px;

                    @media(min-width: 768px) {
                        font-size: 48px;
                    }
                }
            }


            h2 {
                display: none;
                font-size: 1rem;
                margin-bottom: 0;

                @media(min-width: 768px) {
                    display: block;
                }
            }

            h1 {
                font-size: .9rem;
                margin-bottom: 0;
                font-family: "nimbus_sans_lbold", sans-serif;

                @media(min-width: 768px) {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .score-strip {
        display: flex;
        font-size: 1.3rem;

        .player {
            display: flex;
            flex-grow: 1;
            color: #fff;

            .name {
                flex-grow: 1;
                align-self: center;
            }

            .score {
                margin-left: 30px;
                margin-right: 30px;
            }

            &.player-left {
                /*background: #fb1c3f;*/
                background: $game-button-background;

                .name {
                    text-align: right;
                }
            }

            &.player-right {
                /*background: #4116e7;*/
                background: $game-button-background;
            }

            &.highlight {
                animation: scoring-update-flash 1s linear infinite;
            }
        }

        .info {
            &.white {
                padding: 20px;
                background: #2d2f39;
                color: #fff;
                font-family: 'nimbus_sans_lregular', 'nimbus_sans_lbold', sans-serif;
                text-align: center;
                cursor: pointer;

                b {
                    font-weight: bolder;
                }

                &.pending,
                &.sending,
                &.rejected {
                    cursor: not-allowed;
                }

                &.manual {
                    cursor: default;
                }
            }
        }
    }

    .done-button {
        margin-top: 10px;

        .player {
            display: flex;
            color: #fff;
            text-shadow: 0 3px #000;

            .name {
                flex-grow: 1;
                align-self: center;
            }

            .score {
                margin-left: 30px;
                margin-right: 30px;
            }
        }

        .info {
            &.white {
                padding: 10px;
                background: $game-button-background;
                color: #fff;
                font-family: 'nimbus_sans_lregular', 'nimbus_sans_lbold', sans-serif;
                text-align: center;
                cursor: pointer;

                .header {
                    font-size: 3rem;
                    font-weight: bolder;
                }

                b {
                    font-weight: bolder;
                }

                &.pending,
                &.sending,
                &.rejected {
                    cursor: not-allowed;
                }

                &.manual {
                    cursor: default;
                }
            }
        }
    }

    .blurple {
        color: #7289DA;
    }

    .pretime {
        margin: 10px 20px 0 20px;
        background: rgba(0,0,0,.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300px;

        .travel {
            display: flex;
            color: #fff;

            .travel-icon {
                /* Animation */
                animation: 1s ease-out 0s 1 slideFromLeft;

                i {
                    font-size: 86px;
                }
            }

            .travel-text {
                margin-left: 10px;
                h2 {
                    margin-bottom: 0;
                    animation: .5s ease 0s 1 flashInHeader;
                }

                h1 {
                    margin-bottom: 0;
                    animation: 1s ease 0s 1 flashInLocation;
                }
            }
        }

        hr {
            background: white;
            height: 2px;
            width: 60%;
            box-shadow: 2px 2px #000;

            animation: 1s ease-in-out 0s 1 expandDivider;
        }

        .timer {
            color: white;
            font-size: 40px;

            animation: 1s ease-in-out 0s 1 showTimer;
        }
    }

    @keyframes slideFromLeft {
        0% {
            transform: translateX(-50px);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes flashInHeader {
        0% {
            opacity: 0;
        }
        33% {
            opacity: 1;
        }
        67% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes flashInLocation {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0;
        }
        67% {
            opacity: 1;
        }
        83% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    //noinspection CssUnknownTarget
    @font-face {
        font-family: 'nimbus_sans_lbold';
        src: url('/fonts/NimbusSanL-Bol-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    //noinspection CssUnknownTarget
    @font-face {
        font-family: 'nimbus_sans_lregular';
        src: url('/fonts/NimbusSanL-Reg-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
</style>

<script>
import {Howl, Howler} from 'howler';
import GameIcon from '@/components/GameIcon.vue';
import MatchupClientSettings from './MatchupClientSettings.vue';
import MatchupClientSettingsButton from './MatchupClientSettingsButton.vue';
import AdminMessage from '../components/HitmapsTournaments/AdminMessage.vue';
import TimerHandler from '../components/TimerHandler.ts';
import Loader from '../components/Loader.vue';
import MatchHub from '../components/MatchHub.ts';
import CurrentSpin from '../components/HitmapsTournaments/CurrentSpin.ts';

export default {
    name: 'tourney-participant',
    components: {
        Loader,
        AdminMessage,
        MatchupClientSettingsButton,
        MatchupClientSettings,
        GameIcon
    },
    props: {
        playerId: String,
        matchupId: String
    },
    data() {
        return {
            hitmapsLoadDone: false,
            initError: false,
            matchHub: null,
            wsConnectionLost: false,
            audioEnabled: false,
            hitmapsMissionInfo: {},
            sounds: {},
            matchupData: {
                currentSpin: null,
                matchupId: null,
                timer: {}
            },
            previousTimerFingerprint: null,
            spinTime: null,
            endTime: null,
            currentTime: null,
            timerInterval: null,
            remainingTimeInSeconds: null,
            pretime: {
                inPretime: false,
                remainingPretimeInSeconds: 0,
                inCountdown: false
            },
            tournamentMatchId: null,
            playerOneName: null,
            playerOneScore: 0,
            playerOnePreviousScore: 0,
            playerOneCssClass: '',
            playerTwoName: null,
            playerTwoScore: 0,
            playerTwoPreviousScore: 0,
            playerTwoCssClass: '',
            reverseScore: false,
            completionStatus: null,
            previousShow: null,
            settings: {},
            //region Messaging
            adminMessage: null,
            adminMessageReminder: null
            //endregion
        };
    },
    computed: {
        showTimer() {
            return this.matchupData.timer.startTime !== null && this.matchupData.timer.endTime !== null;
        },
        progressColor() {
            if (this.matchupData.timer.matchDurationInMinutes === null) {
                return '';
            }

            const halfTime = this.matchupData.timer.matchDurationInMinutes * 30; // 60 / 2
            const nearEnd = this.matchupData.timer.matchDurationInMinutes * 10; // 60 / 6

            if (this.remainingTimeInSeconds > halfTime) {
                return 'green';
            }
            if (this.remainingTimeInSeconds > nearEnd) {
                return 'yellow';
            }
            if (this.remainingTimeInSeconds > 60) {
                return 'red';
            }
            if (this.remainingTimeInSeconds > 0) {
                return 'red flash';
            }

            return 'red';
        },
        // tslint:disable-next-line
        progressPercentage: function() {
            if (this.matchupData.timer.matchDurationInMinutes === null || this.remainingTimeInSeconds <= 0) {
                return '0%';
            }

            const duration = this.matchupData.timer.matchDurationInMinutes * 60;
            const percentage = (this.remainingTimeInSeconds / duration * 100).toFixed(2);

            return `${percentage}%`;
        },
    },
    methods: {
        getBackgroundUrl() {
            if (this.settings.showLocationBackground &&
                this.hitmapsMissionInfo &&
                this.matchupData.currentSpin &&
                this.hitmapsMissionInfo[this.matchupData.currentSpin.mission.slug]) {
                return this.hitmapsMissionInfo[this.matchupData.currentSpin.mission.slug].backgroundUrl;
            }

            return 'https://media.hitmaps.com/img/hitman3/backgrounds/menu_bg.jpg';
        },
        getCurrentMission() {
            if (!this.matchupData || !this.matchupData.currentSpin) {
                return null;
            }
            const missionInfo = this.hitmapsMissionInfo[this.matchupData.currentSpin.mission.slug];

            return !missionInfo ? null : missionInfo;
        },
        initAudio() {
            const soundNames = [
                '01_Announcer_MatchInitializedGetReady_ANNOUNCER_VERSUS_001',
                '02_Announcer_MatchInitializedPrepare_ANNOUNCER_VERSUS_001',
                '04_Announcer_MatchIntroDuel10Sec_ANNOUNCER_VERSUS_001',
                '09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_001',
                '09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_002',
                '09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_003',
                '09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_004',
                '09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_005',
                '09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_006',
                '09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_007',
                '09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_008',
                '09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_009',
                '10_Announcer_MatchStartEliminateTarget_ANNOUNCER_VERSUS_001',
                '17_Announcer_TargetDespawn15Sec_ANNOUNCER_VERSUS_001',
                '18_Announcer_TargetDespawn10Sec_ANNOUNCER_VERSUS_001',
                '19_Announcer_TargetLost_ANNOUNCER_VERSUS_001',
                '27_Announcer_TallyStatusPositive_ANNOUNCER_VERSUS_001',
                '28_Announcer_TallyStatusNeutral_ANNOUNCER_VERSUS_001',
                '29_Announcer_TallyStatusNegative_ANNOUNCER_VERSUS_001',
                '30_Announcer_TallyStatusPositiveMatchPoint_ANNOUNCER_VERSUS_001',
                '31_Announcer_TallyStatusNeutralMatchPoint_ANNOUNCER_VERSUS_001',
                '32_Announcer_TallyStatusNegativeMatchPoint_ANNOUNCER_VERSUS_001',
                '33_Announcer_MatchWon_ANNOUNCER_VERSUS_001',
                '34_Announcer_MatchPoint_ANNOUNCER_VERSUS_001',
                '35_Announcer_MatchLost_ANNOUNCER_VERSUS_001',
                '50_Announcer_TallyStatusNeutralMatchPoint2_ANNOUNCER_VERSUS_001',
                '51_Announcer_Score_ANNOUNCER_VERSUS_001',
                '52_Announcer_Score0_ANNOUNCER_VERSUS_001',
                '53_Announcer_Score1_ANNOUNCER_VERSUS_001',
                '54_Announcer_Score2_ANNOUNCER_VERSUS_001',
                '55_Announcer_Score3_ANNOUNCER_VERSUS_001',
                '56_Announcer_Score4_ANNOUNCER_VERSUS_001',
                '57_Announcer_Score5_ANNOUNCER_VERSUS_001',
                '63_Announcer_To0_ANNOUNCER_VERSUS_001',
                '64_Announcer_To1_ANNOUNCER_VERSUS_001',
                '65_Announcer_To2_ANNOUNCER_VERSUS_001',
                '66_Announcer_To3_ANNOUNCER_VERSUS_001',
                '67_Announcer_To4_ANNOUNCER_VERSUS_001',
                '68_Announcer_To5_ANNOUNCER_VERSUS_001',
                'MESSAGE_YOUVE_GOT_MAIL',
                'MESSAGE_REMINDER'
            ];

            Howler.autoSuspend = false;

            for (const soundName of soundNames) {
                this.sounds[soundName] = {
                    name: soundName,
                    file: new Howl({
                        src: [`https://media.hitmaps.com/img/hitmaps-roulette/fake-diana/webm/${soundName}.webm`,
                            `https://media.hitmaps.com/img/hitmaps-roulette/fake-diana/mp3/${soundName}.mp3`]
                    }),
                    ready: false
                };

                const that = this;
                this.sounds[soundName].file.once('load', () => {
                    that.sounds[soundName].ready = true;
                });
            }
        },
        getFormattedTime(time, pretime = false) {
            const pretimeOffset = pretime ? 1 : 0;
            const minutes = parseInt((time + pretimeOffset) / 60, 10);
            const seconds = parseInt((time + pretimeOffset) % 60, 10);

            return `${this.formatTimerValue(minutes)}:${this.formatTimerValue(seconds)}`;
        },
        formatTimerValue(value) {
            if (value < 0) {
                return '00';
            }

            const formattedValue = Math.abs(value);

            return formattedValue < 10 ? `0${formattedValue}` : formattedValue;
        },
        initializeMatchup() {
            this.$http
                .get(`${this.$apiDomain}/api/matchups/${this.matchupId}?playerId=${this.playerId}`)
                .then(resp => {
                    this.handleResponse(resp.data, true);
                    this.initializeHeartbeat();
                })
                .catch(err => {
                    console.error(err);
                    this.initError = true;
                });
            this.$http
                .get(`${this.$apiDomain}/api/matchups/${this.matchupId}/players/${this.playerId}/unread-message`)
                .then(resp => {
                    if (resp.status === 204) {
                        return;
                    }

                    this.processMessage(resp.data);
                })
                .catch(err => {
                    console.error(err);
                });
        },
        initializeHeartbeat() {
            TimerHandler.setInterval(() => {
                this.matchHub.sendHeartbeat(this.matchupId, this.playerId, this.matchupData.timer.fingerprint)
                    .then(resp => {
                        if (resp.state === 'DESYNC') {
                            this.handleResponse(resp.match);
                        }
                    });
            }, 5000);
        },
        handleResponse(resp, initialLoad = false) {
            this.matchupData = {
                currentSpin: resp.currentSpin ? new CurrentSpin(resp.currentSpin) : null,
                matchupId: resp.matchupId,
                timer: resp.timer.fingerprint !== this.previousTimerFingerprint ?
                    resp.timer :
                    this.matchupData.timer
            };
            if (resp.timer.fingerprint !== this.previousTimerFingerprint) {
                this.timerDelta = new Date(this.matchupData.timer.serverTime).getTime() - new Date().getTime();
                this.updateTimer();
            }
            this.previousTimerFingerprint = this.matchupData.timer.fingerprint;

            this.playerOneName = resp.participants.find(x => x.publicId === this.playerId).name;
            this.playerTwoName = resp.participants.find(x => x.publicId !== this.playerId).name;
            this.tournamentMatchId = resp.hitmapsTournamentId;
            const me = resp.participants.find(x => x.publicId === this.playerId);
            this.reverseScore = resp.participants.indexOf(me) !== 0;

            if (me.completeTime !== null) {
                this.completionStatus = 'PENDING';
            } else {
                this.completionStatus = null;
            }

            this.playerOneScore = 0;
            this.playerTwoScore = 0;
            if (resp.participants.some(x => x.forfeit)) {
                if (resp.participants.find(x => x.forfeit).publicId === this.playerId) {
                    this.playerOneScore = 0;
                    this.playerTwoScore = 1;
                } else {
                    this.playerOneScore = 1;
                    this.playerTwoScore = 0;
                }
            } else {
                resp.mapSelections.filter(x => x.complete).forEach(x => {
                    if (x.winnerName === null) {
                        this.playerOneScore++;
                        this.playerTwoScore++;
                    } else if (x.winnerName === this.playerOneName) {
                        this.playerOneScore += 2;
                    } else {
                        this.playerTwoScore += 2;
                    }
                });
            }
            if (!initialLoad) {
                this.playRelevantAudio();
            }
            this.playerOnePreviousScore = this.playerOneScore;
            this.playerTwoPreviousScore = this.playerTwoScore;
        },
        processMessage(resp) {
            this.playSound('MESSAGE_YOUVE_GOT_MAIL');

            this.adminMessage = resp;

            // Mark as received
            this.$http.patch(`${this.$apiDomain}/api/matchups/${this.matchupId}/players/${this.playerId}/messages`, {
                id: this.adminMessage.id,
                action: 'Receive'
            }).then(_ => {
                this.adminMessageReminder = TimerHandler.setInterval(() => this.playSound('MESSAGE_REMINDER'), 30000);
            }).catch(console.error);
        },
        onAcknowledged() {
            this.adminMessage = null;
            TimerHandler.clearInterval(this.adminMessageReminder);
            this.adminMessageReminder = null;
        },
        calculateEndTime(spinTime, matchLength) {
            if (matchLength === 'NO TIME LIMIT') {
                return undefined;
            }

            const actualMatchLengthMinutes = parseInt(matchLength.substr(0, 2), 10);
            const endTime = new Date(spinTime.getTime());
            endTime.setMinutes(endTime.getMinutes() + actualMatchLengthMinutes);

            return endTime;
        },
        setupWebsocketsConnection() {
            this.matchHub = new MatchHub(this.$apiDomain);
            this.matchHub.start();
            this.matchHub.joinMatch(this.matchupId);
            this.matchHub.participantJoinMessage(this.matchupId, this.playerId);
            this.matchHub.on('MatchChange', (args) => this.handleResponse(args));
            this.matchHub.on('NewMessage', (args) => this.processMessage(args));

            this.matchHub.onReconnected(_ => {
                // Disconnect from everything just to have a clean slate
                this.matchHub.leaveMatch(this.matchupId);
                this.matchHub.participantLeaveMessage(this.matchupId, this.playerId);
                this.matchHub.off('MatchChange');
                this.matchHub.off('NewMessage');

                // And now let's reconnect
                this.matchHub.joinMatch(this.matchupId);
                this.matchHub.participantJoinMessage(this.matchupId, this.playerId);
                this.matchHub.on('MatchChange', (args) => this.handleResponse(args));
                this.matchHub.on('NewMessage', (args) => this.processMessage(args));
            });
            this.matchHub.onClose(_ => {
                this.wsConnectionLost = true;
            });
        },
        updateTimer() {
            this.currentTime = new Date(new Date().getTime() + this.timerDelta);

            // tslint:disable-next-line
            this.pretime.inPretime = new Date(this.matchupData.timer.startTime).getTime() - this.currentTime.getTime() > 0;
            this.pretime.remainingPretimeInSeconds = this.getRemainingPretimeInSeconds();
            this.remainingTimeInSeconds = this.getRemainingTimeInSeconds();
            this.timerInterval = TimerHandler.setTimeout(this.updateTimer,
                (this.pretime.inPretime || (this.remainingTimeInSeconds && this.remainingTimeInSeconds < 6)) ?
                    1000 :
                    100);
            this.playRelevantAudio();
        },
        getRemainingTimeInSeconds() {
            if (this.matchupData.timer.endTime === null) {
                return null;
            }

            const diff = new Date(this.matchupData.timer.endTime).getTime() - this.currentTime.getTime();
            return diff / 1000;
        },
        getRemainingPretimeInSeconds() {
            return (new Date(this.matchupData.timer.startTime).getTime() - this.currentTime.getTime()) / 1000;
        },
        playRelevantAudio() {
            //region Pretime countdown
            switch (Math.ceil(this.pretime.remainingPretimeInSeconds)) {
                case 14:
                    const options = ['01_Announcer_MatchInitializedGetReady_ANNOUNCER_VERSUS_001',
                        '02_Announcer_MatchInitializedPrepare_ANNOUNCER_VERSUS_001'];
                    const chosenOption = options[Math.floor(Math.random() * Math.floor(2))];
                    this.playSound(chosenOption);
                    this.pretime.inCountdown = true;
                    break;
                case 12:
                    this.playSound('04_Announcer_MatchIntroDuel10Sec_ANNOUNCER_VERSUS_001');
                    this.pretime.inCountdown = true;
                    break;
                case 9:
                    this.playSound('09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_001');
                    this.pretime.inCountdown = true;
                    break;
                case 8:
                    this.playSound('09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_002');
                    this.pretime.inCountdown = true;
                    break;
                case 7:
                    this.playSound('09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_003');
                    this.pretime.inCountdown = true;
                    break;
                case 6:
                    this.playSound('09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_004');
                    this.pretime.inCountdown = true;
                    break;
                case 5:
                    this.playSound('09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_005');
                    this.pretime.inCountdown = true;
                    break;
                case 4:
                    this.playSound('09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_006');
                    this.pretime.inCountdown = true;
                    break;
                case 3:
                    this.playSound('09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_007');
                    this.pretime.inCountdown = true;
                    break;
                case 2:
                    this.playSound('09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_008');
                    this.pretime.inCountdown = true;
                    break;
                case 1:
                    this.playSound('09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_009');
                    this.pretime.inCountdown = true;
                    break;
                case 0:
                    if (this.pretime.inCountdown) {
                        this.playSound('10_Announcer_MatchStartEliminateTarget_ANNOUNCER_VERSUS_001');
                        this.pretime.inCountdown = false;
                    }
                    break;
                default:
                    break;
            }
            //endregion
            //region Regular Spin countdown
            switch (parseInt(this.remainingTimeInSeconds, 10)) {
                case 15:
                    this.playSound('17_Announcer_TargetDespawn15Sec_ANNOUNCER_VERSUS_001');
                    break;
                case 10:
                    this.playSound('18_Announcer_TargetDespawn10Sec_ANNOUNCER_VERSUS_001');
                    break;
                case 5:
                    this.playSound('09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_005');
                    break;
                case 4:
                    this.playSound('09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_006');
                    break;
                case 3:
                    this.playSound('09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_007');
                    break;
                case 2:
                    this.playSound('09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_008');
                    break;
                case 1:
                    this.playSound('09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_009');
                    break;
                case 0:
                    this.playSound('19_Announcer_TargetLost_ANNOUNCER_VERSUS_001');
                    break;
            }
            //endregion
            //region Score changes
            const scoreToAudio = {
                0: ['52_Announcer_Score0_ANNOUNCER_VERSUS_001', '63_Announcer_To0_ANNOUNCER_VERSUS_001'],
                1: ['53_Announcer_Score1_ANNOUNCER_VERSUS_001', '64_Announcer_To1_ANNOUNCER_VERSUS_001'],
                2: ['54_Announcer_Score2_ANNOUNCER_VERSUS_001', '65_Announcer_To2_ANNOUNCER_VERSUS_001'],
                3: ['55_Announcer_Score3_ANNOUNCER_VERSUS_001', '66_Announcer_To3_ANNOUNCER_VERSUS_001'],
                4: ['56_Announcer_Score4_ANNOUNCER_VERSUS_001', '67_Announcer_To4_ANNOUNCER_VERSUS_001'],
                5: ['57_Announcer_Score5_ANNOUNCER_VERSUS_001', '68_Announcer_To5_ANNOUNCER_VERSUS_001'],
                6: ['09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_004', '09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_004'],
                7: ['09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_003', '09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_003'],
                8: ['09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_002', '09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_002'],
                9: ['09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_001', '09_Announcer_Countdown10Sec_ANNOUNCER_VERSUS_001']
            };
            if ((this.playerOneScore !== this.playerOnePreviousScore) ||
                (this.playerTwoScore !== this.playerTwoPreviousScore)) {

                this.playSound('51_Announcer_Score_ANNOUNCER_VERSUS_001');

                setTimeout(() => {
                    this.playSound(scoreToAudio[this.playerOneScore][0]);
                }, 800);
                setTimeout(() => {
                    this.playSound(scoreToAudio[this.playerTwoScore][1]);
                }, 1500);

                this.playerOnePreviousScore = this.playerOneScore;
                this.playerTwoPreviousScore = this.playerTwoScore;

                /*if (this.playerOneScore > this.playerTwoScore) {
                    let audioFile = '27_Announcer_TallyStatusPositive_ANNOUNCER_VERSUS_001';
                    setTimeout(() => {
                        this.playSound(audioFile);
                    }, 2300);
                } else if (this.playerOneScore === this.playerTwoScore) {
                    let audioFile = '28_Announcer_TallyStatusNeutral_ANNOUNCER_VERSUS_001';
                    setTimeout(() => {
                        this.playSound(audioFile);
                    }, 2300);
                } else {
                    let audioFile = '29_Announcer_TallyStatusNegative_ANNOUNCER_VERSUS_001';

                    setTimeout(() => {
                        this.playSound(audioFile);
                    }, 2300);
                }*/
            }
            //endregion
            //region Victory or Defeat
            if (this.completionStatus === 'VICTORY') {
                this.playSound('33_Announcer_MatchWon_ANNOUNCER_VERSUS_001');
                this.completionStatus = null;
                this.playerOneCssClass = 'highlight';
                setTimeout(() => {
                    this.playerOneCssClass = '';
                }, 2000);
            } else if (this.completionStatus === 'DEFEAT') {
                this.playSound('35_Announcer_MatchLost_ANNOUNCER_VERSUS_001');
                this.completionStatus = null;
                this.playerTwoCssClass = 'highlight';
                setTimeout(() => {
                    this.playerTwoCssClass = '';
                }, 2000);
            }
            //endregion
        },
        playSound(soundName) {
            if (this.sounds[soundName].file.playing() || !this.tournamentMatchId) {
                return;
            }

            Howler.stop();

            this.sounds[soundName].file.play();
        },
        notifyCompletion() {
            if (this.completionStatus !== null ||
                !(this.matchupData && this.matchupData.currentSpin && !this.pretime.inPretime) ||
                this.adminMessage) {
                return;
            }

            this.completionStatus = 'SENDING';
            this.$http.patch(`${this.$apiDomain}/api/matchups/${this.matchupId}/done`, {
                playerPublicId: this.playerId,
                timerFingerprint: this.matchupData.timer.fingerprint
            }).then(_ => {
                this.completionStatus = 'PENDING';
            }).catch(err => {
                console.error(err);
                this.completionStatus = null;
            });
        },
        onSettingsUpdate(newSettings) {
            this.settings = newSettings;

            // noinspection JSCheckFunctionSignatures
            Howler.volume(this.settings.announcerAudioLevel / 100);
        },
        fetchLocationBackgrounds() {
            for (const game of ['hitman', 'hitman2', 'hitman3']) {
                this.$http.get(`${this.$hitmapsDomain}/api/games/${game}/locations`).then(resp => {
                    for (const location of resp.data) {
                        for (const mission of location.missions) {
                            this.hitmapsMissionInfo[mission.slug] = {
                                location: location.destination,
                                mission: mission.name,
                                backgroundUrl: mission.backgroundUrl
                            };
                        }
                    }
                    this.hitmapsLoadDone = true;
                });
            }
        }
    },
    mounted() {
        this.setupWebsocketsConnection();
        this.fetchLocationBackgrounds();
        this.initAudio();
        this.initializeMatchup();
    },
    beforeDestroy() {
        if (!this.matchHub) {
            return;
        }

        this.matchHub.leaveMatch(this.matchupId);
        this.matchHub.stop();
    }
};
</script>
