<template>
    <div class="content" @click="$emit('show-modal')">
        <game-icon icon="settings" font-style="normal" />
        <div>Settings</div>
    </div>
</template>

<script>
    import GameIcon from '../components/GameIcon.vue';
    import Modal from '../components/Modal.vue';
    export default {
        name: 'MatchupClientSettings',
        components: {Modal, GameIcon}
    };
</script>

<style lang="scss" scoped>
    .content {
        display: flex;
        align-items: center;

        div {
            margin-left: 10px;
        }
    }
</style>