<template>
    <div class="body">
        <rr15-slot-doors :score="score"/>
        <hr>
        <div>
            <label for="leftScore">Left Score:</label>
            <input type="text" id="leftScore" v-model="leftScore">
        </div>
        <div>
            <label for="rightScore">Right Score:</label>
            <input type="text" id="rightScore" v-model="rightScore">
        </div>
    </div>

</template>

<script>
import * as animationData from '@/assets/rrwc-2023-animation.json';
import Lottie from "@/components/TournamentOverlay/Lottie.vue";
import Rr15SlotDoors from "@/components/TournamentOverlay/Rr15SlotDoors.vue";
export default {
    name: 'TestSlots',
    components: {Rr15SlotDoors},
    data() {
        return {
            leftScore: 5,
            rightScore: 0
        };
    },
    computed: {
        score: function() {
            return [this.leftScore, this.rightScore];
        }
    }
};
</script>

<style lang="scss" scoped>
    .body {
        background: black;
        height: 100vh;
    }

    label {
        color: white;
        margin-right: 5px;
    }

    hr {
        border-color: white;
    }
</style>