<template>
    <div>
        <lottie :options="animationOptions" :width="500" :height="500" @animCreated="handleAnimation" />
        <button @click="playAnim">Play</button>
        <button @click="testSegment">Test Segments</button>
        <button @click="reverseDirection">Reverse Direction</button>
        <button @click="goToScore(0)">Go to 0</button>
        <button @click="goToScore(1)">Go to 1</button>
        <button @click="goToScore(2)">Go to 2</button>
    </div>
</template>

<script>
import * as animationData from '@/assets/rrwc-2023-animation.json';
import Lottie from "@/components/TournamentOverlay/Lottie.vue";
export default {
    name: 'TestLottieFrames',
    components: {Lottie},
    data() {
        return {
            currentScore: 0,
            direction: 1,
            rouletteRivals5ShineAnimation: null,
            animationOptions: {
                animationData: animationData.default,
                loop: false,
                autoplay: false
            }
        };
    },
    methods: {
        handleAnimation(anim) {
            this.rouletteRivals5ShineAnimation = anim;
        },
        playAnim() {
            this.rouletteRivals5ShineAnimation.play();
        },
        reverseDirection() {
            this.direction *= -1;
            this.rouletteRivals5ShineAnimation.setDirection(this.direction);
        },
        testSegment() {
            this.rouletteRivals5ShineAnimation.playSegments([90, 91], true);
        },
        goToScore(score) {
            if (score === this.currentScore) {
                // Nothing to do
                return;
            }

            // Start/End, Old Glitched, New Glitched
            const lookupTable = [
                [46, 120, 0],
                [166, 240, 121],
                [286, 360, 241],
                [405, 480, 361],
                [525, 600, 481],
                [646, 720, 601],
                [766, 842, 721],
                [888, 962, 843],
                [1008, 1082, 963],
                [1128, 1202, 1083],
                [1248, 1322, 1203],
                [1368, 1442, 1323],
                [1486, 1560, 1442]
            ];
            this.rouletteRivals5ShineAnimation.playSegments([
                lookupTable[this.currentScore][0],
                lookupTable[this.currentScore][1]
            ], true);
            this.rouletteRivals5ShineAnimation.playSegments([
                lookupTable[score][2],
                lookupTable[score][0]
            ]);

            this.currentScore = score;
        }
    }
};
</script>

<style lang="scss" scoped>
    div {
        background: black;
        height: 100vh;
    }
</style>