<template>
    <div class="content">
        <div class="targets" v-if="matchupData && matchupData.currentSpin && !pretime.inPretime">
            <div class="target" v-for="condition in matchupData.currentSpin.allConditions">
                <div>
                    <game-icon :icon="condition.type === 'KILL' ? 'target' : 'objective'" font-style="solid"/>
                    <span class="target-name">{{ condition.target.name }}</span>:
                    <span class="kill-method">
                        <template v-if="condition.killMethod.selectedVariant">
                            {{ condition.killMethod.selectedVariant }}
                        </template>
                        {{ condition.killMethod.name }}
                    </span>
                        <span class="disguise" v-if="condition.disguise && condition.disguise.name !== 'Any Disguise'">
                        / {{ condition.disguise.name }}
                    </span>
                </div>
                <div class="complication" v-for="complication in condition.complications">
                    <game-icon icon="complication" font-style="solid"/>
                    {{ complication.name }}
                </div>
            </div>
            <div class="timer" v-if="showTimer">{{ getFormattedTime(this.remainingTimeInSeconds) }}</div>
            <div class="timer" v-else>
                +{{ getFormattedTime(this.elapsedTimeInSeconds) }}
            </div>
        </div>
        <div class="targets" v-else-if="pretime.inPretime">
            Spin arrives in {{ getFormattedTime(pretime.remainingPretimeInSeconds) }}
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .content {
        color: white;
        text-transform: uppercase;
        text-align: right;
        padding: 10px;
        font-size: 1.3rem;

        i {
            font-size: inherit;
        }

        .target {
            &:not(:first-child) {
                margin-top: 10px;
            }

            .target-name {
                font-weight: bolder;
                margin-left: 3px;
            }
        }
    }

    @font-face {
        font-family: 'nimbus_sans_lbold';
        src: url('/fonts/NimbusSanL-Bol-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'nimbus_sans_lregular';
        src: url('/fonts/NimbusSanL-Reg-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
</style>

<script>
    import CurrentSpin from '../components/HitmapsTournaments/CurrentSpin.ts';
    import MatchHub from '../components/MatchHub.ts';
    import TimerHandler from '../components/TimerHandler.ts';
    import GameIcon from '../components/GameIcon.vue';

    export default {
        name: 'text-only-overlay',
        components: {
            GameIcon
        },
        props: {
            matchupId: String
        },
        data() {
            return {
                backgroundUrls: {},
                previousTimerFingerprint: null,
                matchupData: {
                    currentSpin: null,
                    matchupId: null,
                    timer: {}
                },
                currentTime: null,
                timerInterval: null,
                remainingTimeInSeconds: null,
                elapsedTimeInSeconds: null,
                pretime: {
                    inPretime: false,
                    remainingPretimeInSeconds: 0
                },
                timerDelta: 0
            };
        },
        computed: {
            showTimer() {
                return this.matchupData.timer.startTime !== null && this.matchupData.timer.endTime !== null;
            },
            // tslint:disable-next-line
            progressColor: function() {
                if (this.matchupData.timer.matchDurationInMinutes === null) {
                    return '';
                }

                const halfTime = this.matchupData.timer.matchDurationInMinutes * 30; // 60 / 2
                const nearEnd = this.matchupData.timer.matchDurationInMinutes * 10; // 60 / 6

                if (this.remainingTimeInSeconds > halfTime) {
                    return 'green';
                }
                if (this.remainingTimeInSeconds > nearEnd) {
                    return 'yellow';
                }
                if (this.remainingTimeInSeconds > 60) {
                    return 'red';
                }
                if (this.remainingTimeInSeconds > 0) {
                    return 'red flash';
                }

                return 'red';
            },
            // tslint:disable-next-line
            progressPercentage: function() {
                if (this.matchupData.timer.matchDurationInMinutes === null || this.remainingTimeInSeconds <= 0) {
                    return '0%';
                }

                const duration = this.matchupData.timer.matchDurationInMinutes * 60;
                const percentage = (this.remainingTimeInSeconds / duration * 100).toFixed(2);

                return `${percentage}%`;
            }
        },
        methods: {
            initializeMatchup() {
                this.$http
                    .get(`${this.$apiDomain}/api/matchups/${this.matchupId}`)
                    .then(resp => {
                        this.handleResponse(resp.data);
                    })
                    .catch(err => {
                        console.error(err);
                    });
            },
            handleResponse(resp) {
                this.matchupData = {
                    currentSpin: resp.currentSpin ? new CurrentSpin(resp.currentSpin) : null,
                    matchupId: resp.matchupId,
                    timer: resp.timer.fingerprint !== this.previousTimerFingerprint ?
                        resp.timer :
                        this.matchupData.timer
                };
                if (resp.timer.fingerprint !== this.previousTimerFingerprint) {
                    this.timerDelta = new Date(this.matchupData.timer.serverTime).getTime() - new Date().getTime();
                    this.updateTimer();
                }
                this.previousTimerFingerprint = this.matchupData.timer.fingerprint;
            },
            getFormattedTime(time) {
                const minutes = parseInt(time / 60, 10);
                const seconds = parseInt(time % 60, 10);

                return `${this.formatTimerValue(minutes)}:${this.formatTimerValue(seconds)}`;
            },
            formatTimerValue(value) {
                if (value < 0) {
                    return '00';
                }
                const formattedValue = Math.abs(value);

                return formattedValue < 10 ? `0${formattedValue}` : formattedValue;
            },
            setupWebsocketsConnection() {
                this.matchHub = new MatchHub(this.$apiDomain);
                this.matchHub.start();
                this.matchHub.joinMatch(this.matchupId);
                this.matchHub.on('MatchChange', (args) => this.handleResponse(args));

                this.matchHub.onReconnected(_ => {
                    // Disconnect from everything just to have a clean slate
                    this.matchHub.leaveMatch(this.matchupId);
                    this.matchHub.off('MatchChange');

                    // And now let's reconnect
                    this.matchHub.joinMatch(this.matchupId);
                    this.matchHub.on('MatchChange', (args) => this.handleResponse(args));
                });
            },
            updateTimer() {
                this.currentTime = new Date(new Date().getTime() + this.timerDelta);

                // tslint:disable-next-line
                this.pretime.inPretime = new Date(this.matchupData.timer.startTime).getTime() - this.currentTime.getTime() > 0;
                this.pretime.remainingPretimeInSeconds = this.getRemainingPretimeInSeconds();
                this.remainingTimeInSeconds = this.getRemainingTimeInSeconds();
                this.elapsedTimeInSeconds = this.getElapsedTimeInSeconds();
                this.timerInterval = TimerHandler.setTimeout(this.updateTimer, 100);
            },
            getRemainingTimeInSeconds() {
                if (this.matchupData.timer.endTime === null) {
                    return null;
                }

                const diff = new Date(this.matchupData.timer.endTime).getTime() - this.currentTime.getTime();
                return diff / 1000;
            },
            getElapsedTimeInSeconds() {
                const diff = this.currentTime.getTime() - new Date(this.matchupData.timer.startTime).getTime();
                return diff / 1000;
            },
            getRemainingPretimeInSeconds() {
                return (new Date(this.matchupData.timer.startTime).getTime() - this.currentTime.getTime()) / 1000;
            },
            fetchLocationBackgrounds() {
                for (const game of ['hitman', 'hitman2', 'hitman3']) {
                    this.$http.get(`${this.$hitmapsDomain}/api/games/${game}/locations`).then(resp => {
                        for (const location of resp.data) {
                            for (const mission of location.missions) {
                                this.backgroundUrls[mission.slug] = mission.backgroundUrl;
                            }
                        }
                    });
                }
            }
        },
        mounted() {
            this.initializeMatchup();
            this.setupWebsocketsConnection();
        },
    };
</script>
