<template>
    <div class="body">
        <hitmaps-navbar />
        <nav class="tabs nav nav-pills nav-justified">
            <router-link :to="{ name: 'home' }" class="nav-link">
                <game-icon icon="arrow-left" font-style="normal" />
                Home
            </router-link>
            <router-link :to="{ name: 'hitmaps-tournaments-match' }" class="nav-link">
                <game-icon icon="completion-list" font-style="normal" />
                Match Selector
            </router-link>
            <a class="nav-link active">
                <game-icon icon="challenge" font-style="normal"/>
                Match:
                <template v-for="(player, index) in tourneyData.players">
                    {{ player.name }}
                    <template v-if="index !== tourneyData.players.length - 1"> / </template>
                </template>
            </a>
        </nav>
        <div class="content">
            <div class="match-admin" v-if="tourneyData.tourneyId">
                <map-agenda :map-picks="tourneyData.maps"
                            :score-history="tourneyData.scoreHistory"
                            :points-for-victory="tourneyData.pointsForVictory"
                            :missions="missions" />
                <match-status :roulette-id="tourneyData.rouletteId"
                              :match-complete="tourneyData.matchComplete"
                              :tourney-id="tourneyData.tourneyId"
                              :score-history="tourneyData.scoreHistory"
                              :map-picks="tourneyData.maps"
                              :missions="missions"
                              :timer="tourneyData.timer"
                              :timer-delta="timerDelta"
                              @process-completion="processCompletion"
                              @remove-last-history="removeLastHistory"
                              ref="matchStatus"
                              :participants="tourneyData.players" />
                <div class="spin" :style="{ display: this.tourneyData.matchComplete ? 'none' : 'inherit' }">
                    <div>
                        <spin v-if="selectedMission"
                              ref="spinner"
                              :missions="[selectedMission]"
                              :selected-restrictions="spinRestrictions"
                              :participant-one-name="tourneyData.players[0].name"
                              :participant-two-name="tourneyData.players[1].name"
                              :objectives="objectives"
                              :disable-objectives="disableObjectives"
                              @update-objectives="updateObjectives" />
                        <basic-utility-buttons :spun-at-least-once="spunAtLeastOnce"
                                               :tourney-mode-active="true"
                                               :hitmaps-tournament-mode="true"
                                               @stream-overlay-button-clicked="copyShoutcastOverlayLink"
                                               @do-spin="doSpin"
                                               @show-subtab="showSubtab" />
                        <basic-tourney-buttons :tourney-match-id="tourneyData.id"
                                               :show-participant-link="false"
                                               @clear-spin="clearSpin"
                                               @send-spin="sendSpin(true, true)"
                                               @match-duration="setMatchDuration"
                                               @match-time="setMatchTime" />
                        <tourney-status :status="tourneyData.statusText" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import GameIcon from '@/components/GameIcon.vue';
    import Mission from '@/components/Mission.ts';
    import Spin from '@/components/Spin.vue';
    import Utils from '@/components/Utils.ts';
    import UtilityButton from '@/components/UtilityButton.vue';
    import BasicUtilityButtons from '@/components/BasicUtilityButtons.vue';
    import BasicTourneyButtons from '@/components/BasicTourneyButtons.vue';
    import TourneyStatus from '@/components/TourneyStatus.vue';
    import HitmapsNavbar from '../components/HitmapsNavbar.vue';
    import MatchStatus from '@/components/HitmapsTournaments/MatchStatus.vue';
    import MapAgenda from '@/components/HitmapsTournaments/MapAgenda.vue';
    import TourneyData from '@/components/HitmapsTournaments/TourneyData.ts';
    import Player from '@/components/HitmapsTournaments/Player.ts';
    import MapSelection from '@/components/HitmapsTournaments/MapSelection.ts';
    import MatchHub from '@/components/MatchHub.ts';
    import {useCookies} from "vue3-cookies";

    export default {
        name: 'TourneyAdmin',
        setup() {
            const { cookies } = useCookies();
            return {
                cookies
            }
        },
        components: {
            MapAgenda,
            MatchStatus,
            HitmapsNavbar,
            TourneyStatus,
            BasicTourneyButtons,
            BasicUtilityButtons,
            UtilityButton, Spin, GameIcon
        },
        props: {
            matchupId: String
        },
        data() {
            return {
                tab: 'spin',
                subtab: 'spin-conditions',
                matchHub: null,
                supportedMissions: [],
                missions: [],
                selectedMission: null,
                allMissionInfoFromHitmaps: {},
                spunAtLeastOnce: false,
                spinRestrictions: [
                    'specific-melee',
                    'specific-firearms',
                    'specific-accidents',
                    'require-disguise',
                    'no-target-pacification'
                ],
                tourneyData: new TourneyData(),
                previousTimerFingerprint: null,
                disableObjectives: false,
                timerDelta: null,
                objectives: {
                    '0|1': false,
                    '0|2': false,
                    '1|1': false,
                    '1|2': false,
                    '2|1': false,
                    '2|2': false,
                    '3|1': false,
                    '3|2': false,
                    '4|1': false,
                    '4|2': false
                },
                postResponseForceRespin: false
            };
        },
        mounted() {
            const unsortedMissions = [];
            this.$http.get(`${this.$apiDomain}/api/missions`).then(resp => {
                this.supportedMissions = resp.data;

                const h1Missions = this.seedMissionData('hitman', unsortedMissions);
                const h2Missions = this.seedMissionData('hitman2', unsortedMissions);
                const h3Missions = this.seedMissionData('hitman3', unsortedMissions);

                Promise.all([h1Missions, h2Missions, h3Missions]).then(() => {
                    // Sort missions by (1) game, (2) location, and (3) mission
                    unsortedMissions.sort((a, b) => {
                        if (a.gameOrder - b.gameOrder !== 0) {
                            return a.gameOrder - b.gameOrder;
                        }
                        if (a.locationOrder - b.locationOrder !== 0) {
                            return a.locationOrder - b.locationOrder;
                        }

                        return a.missionOrder - b.missionOrder;
                    });
                    this.missions = unsortedMissions;
                    this.initializeMatchup();
                    this.setupWebsocketsConnection();
                });
            });
        },
        methods: {
            copyShoutcastOverlayLink() {
                Utils.copyToClipboard(`${this.$vueDomain}/tournament-overlay/${this.tourneyData.overlayTheme}/${this.tourneyData.rouletteId}`)
                    .then(() => this.$toastr.s('Copied shoutcast overlay link to clipboard'));
            },
            initializeMatchup() {
                this.$http.get(`${this.$apiDomain}/api/matchups/${this.matchupId}`).then(resp => {
                    this.postResponseForceRespin = true;
                    this.handleResponse(resp.data);
                }).catch(err => {
                    console.error(err);
                    this.$toastr.e(`Failed to fetch matchup data. If the issue persists, please contact HITMAPS.  (${err.message})`);
                });
            },
            handleResponse(resp) {
                this.tourneyData.rouletteId = this.matchupId;
                this.tourneyData.tourneyId = resp.hitmapsTournamentId;
                this.tourneyData.maps = resp.mapSelections.map(mapSelection => new MapSelection(mapSelection));
                this.tourneyData.players = resp.participants.map(participant => new Player(participant));
                // tslint:disable-next-line
                this.tourneyData.overlayTheme = resp.overlayTheme ?? 'default';
                this.tourneyData.pointsForVictory = resp.pointsForVictory;
                this.tourneyData.timer = resp.timer.fingerprint !== this.previousTimerFingerprint ?
                    resp.timer :
                    this.tourneyData.timer;
                if (resp.timer.fingerprint !== this.previousTimerFingerprint) {
                    this.timerDelta = new Date(this.tourneyData.timer.serverTime).getTime() - new Date().getTime();
                    this.$nextTick(() => this.$refs.matchStatus.updateTimer());
                }
                this.previousTimerFingerprint = this.tourneyData.timer.fingerprint;

                for (let i = 0; i < 5; i++) {
                    this.objectives[`${i}|1`] = false;
                    this.objectives[`${i}|2`] = false;
                }
                resp.completedObjectives.forEach(x => {
                    const playerIndex = this.tourneyData.players.findIndex(y => y.name === x.playerName);
                    this.objectives[`${x.objectiveIndex}|${playerIndex + 1}`] = true;
                });

                const currentScoreHistoryLength = this.tourneyData.scoreHistory ? this.tourneyData.scoreHistory.length : 0;
                this.tourneyData.scoreHistory = this.getScoreHistory();

                if (currentScoreHistoryLength !== this.tourneyData.scoreHistory.length || this.postResponseForceRespin) {
                    this.postResponseForceRespin = false;
                    this.setupMap();
                }
            },
            handleObjectives(resp) {
                for (let i = 0; i < 5; i++) {
                    this.objectives[`${i}|1`] = false;
                    this.objectives[`${i}|2`] = false;
                }
                resp.objectives.forEach(x => {
                    console.log(x);
                    const playerIndex = this.tourneyData.players.findIndex(y => y.name === x.playerName);
                    this.objectives[`${x.objectiveIndex}|${playerIndex + 1}`] = x.completed;
                });
            },
            setupWebsocketsConnection() {
                this.matchHub = new MatchHub(this.$apiDomain);
                this.matchHub.start();
                this.listenToEvents();

                this.matchHub.onReconnected(_ => {
                    // Disconnect from everything just to have a clean slate
                    this.matchHub.adminLeaveMatch(this.matchupId);
                    this.matchHub.leaveMatch(this.matchupId);
                    this.matchHub.adminLeaveMessageAck(this.matchupId);
                    this.matchHub.off('SpinComplete');
                    this.matchHub.off('MatchChange');
                    this.matchHub.off('HeartbeatUpdate');
                    this.matchHub.off('MessageAcknowledged');
                    this.matchHub.off('ObjectiveUpdate');

                    // And now let's reconnect
                    this.listenToEvents();
                });
            },
            listenToEvents() {
                this.matchHub.adminJoinMatch(this.matchupId);
                this.matchHub.joinMatch(this.matchupId);
                this.matchHub.adminJoinMessageAck(this.matchupId);
                this.matchHub.on('SpinComplete', (player) => this.processSpinCompleteForPlayer(player));
                this.matchHub.on('MatchChange', (args) => {
                    this.handleResponse(args);
                });
                this.matchHub.on('HeartbeatUpdate', (player) => {
                    this.tourneyData.players.find(x => x.publicId === player.publicId).lastPing = player.lastPing;
                });
                this.matchHub.on('MessageAcknowledged', (args) => {
                    this.$refs.matchStatus.updateMessageAckStatus(args);
                });
                this.matchHub.on('ObjectiveUpdate', (args) => this.handleObjectives(args));
            },
            processSpinCompleteForPlayer(wsPlayer) {
                const player = this.tourneyData.players.find(x => x.publicId === wsPlayer.publicId);
                player.completeTime = wsPlayer.completeTime;
            },
            getScoreHistory() {
                const scoreHistory = [];

                // TODO Support more than 2 players
                if (this.tourneyData.players.some(x => x.forfeit)) {
                    if (this.tourneyData.players[0].forfeit) {
                        scoreHistory.push({
                            score0: 0,
                            score1: 1
                        });
                    } else {
                        scoreHistory.push({
                            score0: 1,
                            score1: 0
                        });
                    }
                    return scoreHistory;
                }

                for (const map of this.tourneyData.maps) {
                    if (!map.complete) {
                        break;
                    }

                    // Draw
                    if (map.winnerName === null) {
                        scoreHistory.push({
                            score0: 1,
                            score1: 1
                        });
                    } else if (map.winnerName === this.tourneyData.players[0].name) {
                        scoreHistory.push({
                            score0: 2,
                            score1: 0
                        });
                    } else {
                        scoreHistory.push({
                            score0: 0,
                            score1: 2
                        });
                    }
                }

                return scoreHistory;
            },
            setupMap() {
                // tslint:disable-next-line
                const pointsForVictory = this.tourneyData.pointsForVictory ?? Number.MAX_SAFE_INTEGER;
                const mapIndex = this.tourneyData.scoreHistory.length;
                const player0Score = this.tourneyData.scoreHistory
                    .map(x => x.score0)
                    .reduce((partialSum, a) => partialSum + a, 0);
                const player1Score = this.tourneyData.scoreHistory
                    .map(x => x.score1)
                    .reduce((partialSum, a) => partialSum + a, 0);
                if (
                    (player0Score >= pointsForVictory || player1Score >= pointsForVictory) ||
                    this.tourneyData.players.some(x => x.forfeit)) {
                    this.tourneyData.matchComplete = true;
                    return;
                } else {
                    this.tourneyData.matchComplete = false;
                }

                if (mapIndex < this.tourneyData.maps.length) {
                    this.selectedMission = this.missions.find(x => x.slug === this.tourneyData.maps[mapIndex].hitmapsSlug && ['professional','standard'].includes(x.variant));
                    this.spinRestrictions = [
                        'specific-melee',
                        'specific-firearms',
                        'specific-accidents',
                        'require-disguise',
                        'unique-target-kills',
                        'no-target-pacification'
                    ];

                    this.doSpin();
                } else if (mapIndex === this.tourneyData.maps.length && pointsForVictory === Number.MAX_SAFE_INTEGER) {
                    this.tourneyData.matchComplete = true;
                } else {
                    this.$toastr.e('Well, the roulette never expected to get here. ' +
                            'Mind letting us know what you did for this message to appear?');
                }
            },
            processCompletion({ playerIndex, state }) {
                // Wins are +2
                // Losses are +/- 0
                // Draws are +1 each
                if (state === 'Forfeit') {
                    this.$http.put(`${this.$apiDomain}/api/matchups/${this.matchupId}/players/${this.tourneyData.players[playerIndex].publicId}/forfeit`,
                        {
                            forfeit: true
                        }, Utils.getDiscordHeader(this.cookies))
                        .then(resp => {
                            this.postResponseForceRespin = true;
                            this.handleResponse(resp.data);
                        }).catch(console.error);
                } else {
                    const payload = {
                        mapSelectionId: this.tourneyData.maps[this.getScoreHistory().length].id,
                        playerPublicId: state === 'Draw' ? null : this.tourneyData.players[playerIndex].publicId,
                        verifyResult: state
                    };
                    this.$http.patch(`${this.$apiDomain}/api/matchups/${this.matchupId}/verify`, payload,
                        Utils.getDiscordHeader(this.cookies))
                        .then(resp => this.handleResponse(resp.data))
                        .catch(err => console.error(err));
                }
            },
            //region OLD LOGIC
            showSubtab(subtab) {
                this.subtab = subtab;
            },
            seedMissionData(game, unsortedMissions) {
                const gameToOrder = ['hitman', 'hitman2', 'hitman3'];
                return this.$http
                    .get(`${this.$hitmapsDomain}/api/games/${game}/locations`)
                    .then(resp => {
                        // Response is grouped by location
                        resp.data.forEach(location => {
                            location.missions
                                .filter(x => this.supportedMissions.find(y => y.slug === x.slug) !== undefined)
                                .forEach(mission => {
                                    mission.variants
                                        .filter(variant => this.supportedMissions.find(y => y.slug === mission.slug && y.variantSlug === variant.slug) !== undefined)
                                        .forEach(variant => {
                                            let gameOrder = gameToOrder.indexOf(game);
                                            let locationOrder = location.order;
                                            let missionOrder = mission.order;
                                            if (variant.icon === 'elusive') {
                                                gameOrder = gameToOrder.indexOf('elusive-targets');
                                                locationOrder = 1;
                                                missionOrder = (gameToOrder.indexOf(game) * 100) + mission.order;
                                            }

                                            unsortedMissions.push(new Mission({
                                                id: mission.id,
                                                gameOrder: gameOrder,
                                                locationOrder: locationOrder,
                                                missionOrder: missionOrder,
                                                gameUri: game,
                                                name: variant.icon === 'mission' ? mission.name : variant.name,
                                                slug: mission.slug,
                                                tileUrl: variant.tileUrl ?? mission.tileUrl,
                                                location: location.slug,
                                                locationName: location.destination,
                                                variant: variant.slug,
                                                locationTileUrl: location.backgroundUrl,
                                                missionType: variant.icon === 'elusive' ? 'Elusive Target' : mission.missionType
                                            }))
                                        });
                                });
                        });
                    });
            },
            doSpin() {
                this.$nextTick(() => {
                    this.$refs.spinner.spin();
                    this.spunAtLeastOnce = true;
                });
            },
            /* region BasicTournamentMode */
            setMatchDuration(matchDuration) {
                this.tourneyData.matchDuration = matchDuration;
            },
            setMatchTime(matchTime) {
                this.tourneyData.matchTime = matchTime;
            },
            sendSpin() {
                const payload = {
                    startTime: this.tourneyData.matchTime.toISOString(),
                    spinDuration: this.tourneyData.matchDuration === '-1' ? null : this.tourneyData.matchDuration,
                    spin: {
                        mission: {
                            slug: this.$refs.spinner.selectedMission.slug,
                            variantSlug: this.$refs.spinner.selectedMission.variant
                        },
                        targetConditions: this.$refs.spinner.spinResults.filter(x => x.type === 'KILL'),
                        additionalObjectives: this.$refs.spinner.spinResults
                            .filter(x => x.type === 'OBJECTIVE')
                            .map(x => x.convertToAdditionalObjectiveForApi())
                    }
                };

                this.$http.put(`${this.$apiDomain}/api/matchups/${this.tourneyData.rouletteId}/send-spin`, payload,
                    Utils.getDiscordHeader(this.cookies))
                    .then(_ => {
                        this.tourneyData.spinSendTime = new Date();
                        this.tourneyData.statusText = `${this.tourneyData.spinSendTime.toLocaleString('en-US')} | Spin sent to participants`;
                    });
            },
            clearSpin() {
                this.$http.put(`${this.$apiDomain}/api/matchups/${this.tourneyData.rouletteId}/clear-spin`, {},
                    Utils.getDiscordHeader(this.cookies))
                    .then(_ => {
                        this.tourneyData.spinSendTime = new Date();
                        this.tourneyData.statusText = `${this.tourneyData.spinSendTime.toLocaleString('en-US')} | Spin cleared`;
                    });
            },
            getTourneyData() {
                return {
                    spinResults: this.$refs.spinner.spinResults,
                    requireDisguise: true,
                    missionName: this.selectedMission.name,
                    locationName: this.selectedMission.locationName,
                    locationTileUrl: this.selectedMission.locationTileUrl,
                    showSpin: this.tourneyData.showSpin,
                    matchDuration: this.tourneyData.matchDuration,
                    matchTime: this.tourneyData.matchTime.toISOString()
                };
            },
            /* endregion */
            removeLastHistory() {
                if (this.tourneyData.players.some(x => x.forfeit)) {
                    // We're actually reversing a forfeit
                    const forfeitPlayer = this.tourneyData.players.find(x => x.forfeit);

                    this.$http.put(`${this.$apiDomain}/api/matchups/${this.matchupId}/players/${forfeitPlayer.publicId}/forfeit`, {
                        forfeit: false
                    }, Utils.getDiscordHeader(this.cookies))
                        .then(resp => {
                            this.postResponseForceRespin = true;
                            this.handleResponse(resp.data);
                        }).catch(console.error);
                    return;
                }

                this.$http.delete(`${this.$apiDomain}/api/matchups/${this.matchupId}/map-result/${this.tourneyData.maps[this.getScoreHistory().length - 1].id}`,
                    Utils.getDiscordHeader(this.cookies)).then(resp => {
                        this.handleResponse(resp.data);
                    }).catch(err => console.error(err));
            },
            copyStreamOverlayLink(overlayType) {
                Utils.copyToClipboard(`${this.$vueDomain}/${overlayType}/${this.tourneyData.id}`)
                    .then(_ => this.$toastr.s('Copied overlay link to clipboard'));
            },
            confirmTourneyId() {
                if (this.tourneyData.id !== null) {
                    return;
                }

                // Backwards compat with the API layer
                const matchupData = {
                    playerOneName: 'STREAM OVERLAY',
                    playerTwoName: 'STREAM OVERLAY',
                    tournamentMatchId: null
                };
                this.$http.post(`${this.$domain}/api/matchups`, matchupData)
                    .then(resp => {
                        this.tourneyData.id = resp.data.matchupId;
                        this.tourneyData.matchDuration = -1;

                        // Send the initial spin up so that users can hop in right away
                        this.sendSpin(true, false);
                    });
            },
            updateObjectives() {
                const objectivesBackup = {
                    ...this.objectives
                };
                const payload = {
                    objectives: this.transformObjectives()
                };

                this.disableObjectives = true;
                this.$http.patch(`${this.$apiDomain}/api/matchups/${this.tourneyData.rouletteId}/objectives`,
                    payload, Utils.getDiscordHeader(this.cookies))
                    .then(_ => this.disableObjectives = false)
                    .catch(_ => {
                        alert('Yikes, it looks like updating the objectives failed.');
                        this.objectives = objectivesBackup;
                        this.disableObjectives = false;
                    });
            },
            transformObjectives() {
                const transformed = [];
                for (const prop in this.objectives) {
                    if (!Object.prototype.hasOwnProperty.call(this.objectives, prop)) {
                        continue;
                    }

                    const splitProp = prop.split('|');
                    transformed.push({
                        objectiveIndex: parseInt(splitProp[0], 10),
                        playerName: this.tourneyData.players[parseInt(splitProp[1], 10) - 1].name,
                        completed: this.objectives[prop]
                    });
                }

                return transformed;
            }
            //endregion
        }
    };
</script>

<style lang="scss" scoped>
    .body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        height: 100%;
        font-family: 'nimbus_sans_lregular', sans-serif;
        background: url('https://media.hitmaps.com/img/hitman3/backgrounds/menu_bg.jpg') center center / cover no-repeat fixed;

        .tabs {
            background: rgba(0, 0, 0, .5);
            color: white;
            display: flex;
            justify-content: center;

            a {
                color: white;

                &:hover {
                    color: white;
                }
            }

            .active {
                border-radius: 0;
                background-color: $card-footer-background-hover;

                i {
                    background-color: $card-footer-text;
                    color: $card-footer-background-hover;
                }
            }

            .nav-link {
                flex-grow: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                i {
                    margin-right: 10px;
                }
            }
        }

        .spin {
            padding: 20px;

            .row {
                &.utilities {
                    margin-top: 10px;
                }
            }
        }
    }
</style>