<template>
    <div class="body">
        <div class="targets" v-if="matchupData && matchupData.currentSpin && !pretime.inPretime">
            <div class="row overlay normal" v-if="matchupData.currentSpin.allConditions.length < 3">
                <div class="overlay-targets">
                    <div class="row">
                        <div class="target" v-if="matchupData.currentSpin.allConditions.length === 1" :style="{
                            background: `url('${backgroundUrls[matchupData.currentSpin.mission.slug]}') center center / cover no-repeat`
                        }">
                        </div>
                        <div class="target" v-for="(condition, index) in matchupData.currentSpin.allConditions">
                            <div class="hitman-card" :style="{
                                    background: `url(${condition.target.tileUrl}) center -30px no-repeat`
                                }">
                                <div class="white-panel target-info">
                                    <div class="image">
                                        <game-icon v-if="condition.type === 'KILL'" icon="target" font-style="solid" style="color: white" />
                                        <game-icon v-else-if="condition.type === 'OBJECTIVE'" icon="objective" font-style="solid" style="color: white" />
                                    </div>
                                    <div class="text">
                                        <h2 v-if="condition.type === 'KILL'">Target</h2>
                                        <h2 v-else-if="condition.type === 'OBJECTIVE'">Objective</h2>
                                        <h1>{{ condition.target.name }}</h1>
                                    </div>
                                </div>
                                <div class="white-panel kill-method">
                                    <div class="image">
                                        <game-icon v-if="condition.type === 'KILL'" icon="difficulty-casual" font-style="solid" style="color: black" />
                                        <game-icon v-else-if="condition.type === 'OBJECTIVE'" icon="objective" font-style="solid" style="color: black" />
                                    </div>
                                    <div class="text">
                                        <h2 v-if="condition.type === 'KILL'">Eliminate Using</h2>
                                        <h1>
                                            <template v-if="condition.killMethod.selectedVariant">
                                                {{ condition.killMethod.selectedVariant }}
                                            </template>
                                            {{ condition.killMethod.name }}
                                        </h1>
                                    </div>
                                </div>
                                <div class="white-panel disguise">
                                    <div class="image">
                                        <game-icon icon="disguise" font-style="solid" style="color: black" />
                                    </div>
                                    <div class="text">
                                        <h2>Wear Disguise</h2>
                                        <h1>{{ condition.disguise.name }}</h1>
                                    </div>
                                </div>
                                <div class="white-panel images" :class="condition.complications.length > 0 ? 'with-complications' : ''">
                                    <div class="kill-method" :style="{
                                        background: `url('${condition.killMethod.tileUrl}') center center / cover no-repeat`
                                    }">
                                        &nbsp;
                                    </div>
                                    <div class="disguise" :style="{
                                        background: `url('${condition.disguise.tileUrl}') center -20px / cover no-repeat`
                                    }">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="white-panel complications" v-if="condition.complications.length > 0">
                                    <game-icon icon="complication" font-style="solid"/>
                                    <span>{{ condition.complications.map(x => x.name).join(', ') }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row overlay compact" v-else-if="matchupData.currentSpin.allConditions.length < 5">
                <div class="overlay-targets">
                    <div class="row">
                        <div class="target" v-for="(condition, index) in matchupData.currentSpin.allConditions">
                            <div class="hitman-card landscape" :style="{
                                    background: `url(${condition.target.tileUrl}) -200px center no-repeat`
                                }">
                                <div class="white-panel target-info" :class="condition.complications.length ? 'with-complications' : ''">
                                    <div style="display: flex">
                                        <div class="image">
                                            <game-icon v-if="condition.type === 'KILL'" icon="target" font-style="solid" style="color: white" />
                                            <game-icon v-else-if="condition.type === 'OBJECTIVE'" icon="objective" font-style="solid" style="color: white" />
                                        </div>
                                        <div class="text">
                                            <h2 v-if="condition.type === 'KILL'">Target</h2>
                                            <h2 v-else-if="condition.type === 'OBJECTIVE'">Objective</h2>
                                            <h1>{{ condition.target.name }}</h1>
                                        </div>
                                    </div>
                                    <div style="display: flex" class="complications" v-if="condition.complications.length">
                                        <game-icon icon="complication" font-style="solid"/>
                                        <span>{{ condition.complications.map(x => x.name).join(', ') }}</span>
                                    </div>
                                </div>
                                <div style="flex-grow: 1">
                                    <div class="white-panel kill-method">
                                        <div class="image">
                                            <game-icon v-if="condition.type === 'KILL'" icon="difficulty-casual" font-style="solid" style="color: black" />
                                            <game-icon v-else-if="condition.type === 'OBJECTIVE'" icon="objective" font-style="solid" style="color: black" />
                                        </div>
                                        <div class="text">
                                            <h2 v-if="condition.type === 'KILL'">Eliminate Using</h2>
                                            <h1>
                                                <template v-if="condition.killMethod.selectedVariant">
                                                    {{ condition.killMethod.selectedVariant }}
                                                </template>
                                                {{ condition.killMethod.name }}
                                            </h1>
                                        </div>
                                    </div>
                                    <div class="white-panel disguise">
                                        <div class="image">
                                            <game-icon icon="disguise" font-style="solid" style="color: black" />
                                        </div>
                                        <div class="text">
                                            <h2>Wear Disguise</h2>
                                            <h1>{{ condition.disguise.name }}</h1>
                                        </div>
                                    </div>
                                    <div class="white-panel images">
                                        <div class="kill-method" :style="{
                                            background: `url('${condition.killMethod.tileUrl}') center center / cover no-repeat`
                                        }">
                                            &nbsp;
                                        </div>
                                        <div class="disguise" :style="{
                                            background: `url('${condition.disguise.tileUrl}') center center / cover no-repeat`
                                        }">
                                            &nbsp;
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="target" v-if="matchupData.currentSpin.allConditions.length === 3" :style="{
                            background: `url('${backgroundUrls[matchupData.currentSpin.mission.slug]}') center center / cover no-repeat`
                        }">
                            <div class="hitman-card"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row overlay uber-compact" v-else-if="matchupData.currentSpin.allConditions.length === 5">
                <div class="overlay-targets">
                    <div class="row">
                        <div class="target" v-for="(condition, index) in matchupData.currentSpin.allConditions">
                            <div class="hitman-card landscape">
                                <div style="flex-grow: 1">
                                    <div class="white-panel target-info" :style="{
                                        background: `url(${condition.target.tileUrl}) center center / cover no-repeat`
                                    }">
                                        <div class="image">
                                            <game-icon v-if="condition.type === 'KILL'" icon="target" font-style="solid" style="color: white" />
                                            <game-icon v-else-if="condition.type === 'OBJECTIVE'" icon="objective" font-style="solid" style="color: white" />
                                        </div>
                                        <div class="text">
                                            <h2 v-if="condition.type === 'KILL'">Target</h2>
                                            <h2 v-else-if="condition.type === 'OBJECTIVE'">Objective</h2>
                                            <h1>{{ condition.target.name }}</h1>
                                        </div>
                                        <div class="complication" v-if="condition.complications.length">
                                            <game-icon icon="complication" font-style="solid" />
                                        </div>
                                    </div>
                                    <div class="white-panel kill-method">
                                        <div class="image">
                                            <game-icon v-if="condition.type === 'KILL'" icon="difficulty-casual" font-style="solid" style="color: black" />
                                            <game-icon v-else-if="condition.type === 'OBJECTIVE'" icon="objective" font-style="solid" style="color: black" />
                                        </div>
                                        <div class="text">
                                            <h2 v-if="condition.type === 'KILL'">Eliminate Using</h2>
                                            <h1>
                                                <template v-if="condition.killMethod.selectedVariant">
                                                    {{ condition.killMethod.selectedVariant }}
                                                </template>
                                                {{ condition.killMethod.name }}
                                            </h1>
                                        </div>
                                        <div class="other-image">
                                            <img :src="condition.killMethod.tileUrl" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="white-panel disguise">
                                        <div class="image">
                                            <game-icon icon="disguise" font-style="solid" style="color: black; font-size: 48px" />
                                        </div>
                                        <div class="text">
                                            <h2>Wear Disguise</h2>
                                            <h1>{{ condition.disguise.name }}</h1>
                                        </div>
                                        <div class="other-image">
                                            <img :src="condition.disguise.tileUrl" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="target">
                            <div class="hitman-card landscape" :style="`background: url('${backgroundUrls[matchupData.currentSpin.mission.slug]}') no-repeat center center / cover`">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row timer">
                <div class="overlay-timer above" :class="progressColor" :style="'width: ' + progressPercentage"><!-- Intentionally left blank --></div>
                <div class="overlay-timer below">
                    <div class="row remaining-time">
                        <div class="col">
                            <div class="text">
                                <div class="timer" v-if="showTimer">{{ getFormattedTime(this.remainingTimeInSeconds) }}</div>
                                <div class="timer" v-else>
                                    +{{ getFormattedTime(this.elapsedTimeInSeconds) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="targets" v-else-if="pretime.inPretime">
            <div class="row overlay waiting" :style="{
                background: `url(${backgroundUrls[matchupData.currentSpin.mission.slug]}) center center / cover no-repeat`
            }">
                <div class="players pretime">
                    <div class="col">
                        <i class="fad fa-hourglass"></i>
                        <div class="text">
                            <p>SPIN ARRIVES IN</p>
                            <div class="timer">{{ getFormattedTime(pretime.remainingPretimeInSeconds, true) }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="targets" v-else>
            <div class="row overlay waiting logo-only">
                <div>&nbsp;</div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .body {
        display: flex;
        flex-direction: column;
        height: 100vh;
        font-family: 'nimbus_sans_lbold', sans-serif;
        margin-left: 5px;
    }

    @keyframes flash {
        0%,
        49% {
            visibility: visible;
        }
        50%,
        100% {
            visibility: hidden;
        }
    }

    .flash {
        animation: flash 2s linear infinite;
    }

    .row {
        &.overlay {
            min-width: 1300px;
            max-width: 1300px;

            &.solo {
                min-width: 1300px;
                max-width: 1300px;

                .overlay-targets {
                    min-width: 1300px;
                    max-width: 1300px;

                    .target .hitman-card {
                        width: 443px;
                        height: 500px;

                        &.compact {
                            width: 443px;
                        }

                        .white-panel {
                            &.target-info {
                                height: 500px;
                            }

                            &.kill-method, &.disguise {
                                height: 250px;
                            }

                            &.images {
                                height: 250px;
                                width: 443px;

                                /*.kill-method, .disguise {
                                    height: 250px;
                                    width: 443px;
                                }*/
                            }
                        }
                    }
                }
            }

            .white-panel {
                &.images {
                    height: 144px;

                    .kill-method, .disguise {
                        height: 144px;
                        width: 325px;
                    }

                    &.with-complications {
                        height: 100px;

                        .kill-method, .disguise {
                            height: 100px;
                            width: 325px;
                        }
                    }
                }

                &.complications {
                    background: $card-footer-background-hover;
                    color: $card-footer-text;

                    i {
                        font-size: 36px;
                        margin-left: 15px;
                        margin-right: 5px;
                    }
                    height: 44px;
                    display: flex;
                    align-items: center;

                    span {
                        font-size: 20px;
                    }
                }

            }

            &.compact {
                .target .hitman-card {
                    min-height: 250px;
                    max-height: 250px;
                    min-width: 650px;
                    max-width: 650px;

                    &.landscape {
                        flex-direction: row;

                        .target-info {
                            height: 250px;
                            width: 300px;

                            flex-direction: column;
                            justify-content: flex-end;
                            align-items: inherit;

                            &.with-complications {
                                padding-bottom: 0;
                            }

                            .complications {
                                display: flex;
                                background: $card-footer-background-hover;
                                color: $card-footer-text;
                                margin-left: -15px;
                                margin-right: -15px;
                                margin-top: 5px;
                                padding: 5px 15px;

                                font-size: 20px;

                                i {
                                    font-size: 36px;
                                    margin-right: 5px;
                                }
                            }
                        }

                        .white-panel.images {
                            height: 92px;

                            .kill-method, .disguise {
                                height: 92px;
                                width: 175px;
                            }
                        }
                    }
                }
            }

            &.uber-compact {
                .target .hitman-card {
                    min-height: 248px;
                    max-height: 248px;
                    min-width: 433px;
                    max-width: 433px;

                    &.landscape {
                        flex-direction: row;

                        .target-info {
                            height: 82px;
                            width: 433px;

                            .complication {
                                background: red;
                                color: white;
                                margin: -15px;
                                padding: 17px;
                            }
                        }

                        .kill-method, .disguise {
                            height: 82px;
                        }

                        .other-image > img {
                            max-height: 82px;
                        }
                    }
                }
            }

            &.waiting {
                display: flex;
                flex-direction: column;
                justify-content: center;
                min-width: 1300px;
                max-width: 1300px;
                height: 600px;
                font-size: 50px;
                position: relative;
                overflow: hidden;
                font-family: 'GoBold', sans-serif;
                background: url('https://media.hitmaps.com/img/hitman3/backgrounds/menu_bg.jpg') center center / cover no-repeat;
                color: white;
                text-shadow: 0 0 10px #000;

                &.logo-only {
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        z-index: 0;
                        background: url('/img/overlay-logo.png') no-repeat center center;
                    }
                }

                > div {
                    &.players {
                        text-align: center;
                    }

                    .spinner-grow {
                        vertical-align: middle;
                    }
                }

                .pretime {
                    height: 100%;
                    color: white;
                    text-shadow: 0 0 10px #000;

                    .col {
                        display: flex;
                        position: relative;
                        flex-direction: column;
                        justify-content: center;
                        padding: 0;
                        height: 100%;

                        .fa-hourglass {
                            position: absolute;
                            z-index: 0;
                            left: 543px;
                            top: 142px;
                            color: rgba(255, 255, 255, .8);
                            font-size: 300px;
                            transition: color 0.5s ease;

                            &.hourglass-green {
                                color: rgba(0, 255, 0, .1);
                            }

                            &.hourglass-yellow {
                                color: rgba(212, 175, 55, .4);
                            }

                            &.hourglass-red {
                                color: rgba(255, 0, 0, .2);

                                &.flash {
                                    animation: flash 2s linear infinite;
                                }

                                &.shake {
                                    animation: shake .25s linear infinite;
                                }
                            }
                        }
                    }

                    > div {
                        text-align: center;

                        .timer {
                            font-size: 115px;
                        }

                        .text {
                            z-index: 2;

                            p {
                                text-transform: uppercase;
                                margin: 0;
                                font-size: 50px;
                            }
                        }
                    }
                }
            }

            &.normal {
                .overlay-targets {
                    min-width: 1300px;
                    max-width: 1300px;

                    .row {
                        flex-wrap: nowrap;

                        .target {
                            width: 650px;
                            height: 500px;
                        }
                    }
                }
            }
        }

        &.timer {
            min-width: 1300px;
            max-width: 1300px;
            min-height: 100px;
            max-height: 100px;
            text-align: center;
            position: relative;
            background: lime;

            .record-info {
                font-size: 30px;
            }

            &.compact {
                min-height: 248px;
                max-height: 248px;
                min-width: 433px;
                max-width: 433px;

                .overlay-timer {
                    &.above {
                        height: 248px;
                    }

                    &.below {
                        height: 248px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .remaining-time {
                        font-size: 70px;
                    }
                }
            }

            .overlay-timer {
                &.above {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transition: background .1s ease-in-out;

                    &.green {
                        background: green;
                    }

                    &.yellow {
                        background: orange;
                    }

                    &.red {
                        background: red;
                    }
                }

                &.below {
                    width: 100%;
                    background: #292929;
                    color: white;
                    height: 100px;
                }

                .remaining-time {
                    font-size: 60px;
                }
            }

            img {
                margin-top: 10px;
                height: 80px;
            }
        }
    }

    .targets {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .row {
            margin-left: 0;
            margin-right: 0;

            .col-lg-4, .col-xl-3, .col-md-6, .col-xs-12 {
                padding-right: 0;
                padding-left: 0;
            }

            .target {
                display: flex;
            }
        }

        .hitman-card {
            display: flex;
            flex-direction: column;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            flex-grow: 1;

            > p:first-child {
                flex-grow: 1;
            }

            .white-panel {
                color: #000;
                display: flex;

                .image {
                    margin-right: 5px;

                    img {
                        height: 48px;
                        width: 48px;
                    }
                }

                .text {
                    text-transform: uppercase;
                    flex-grow: 1;
                    align-self: center;
                }

                .divider {
                    border-left: solid 1px #ddd;
                }

                .respin {
                    align-self: center;

                    > a {
                        padding: 29px 15px 29px;
                        color: #000;

                        &:hover {
                            background: rgba(0,0,0,.05);
                        }
                    }
                }

                &.target-info {
                    padding: 15px;
                    border-right: solid 1px #ddd;
                    height: 198px;
                    align-items: flex-end;

                    .text {
                        align-self: inherit;
                        text-shadow: 0 0 20px #000;

                        h2 {
                            font-size: 16px;
                            margin-bottom: 0;
                            color: white;
                        }

                        h1 {
                            font-size: 20px;
                            margin-bottom: 0;
                            color: white;
                        }
                    }
                }

                &.kill-method,
                &.disguise {
                    border-top: solid 1px #ccc;
                    border-right: solid 1px #ddd;
                    background: #eee;

                    .image {
                        margin: 15px 5px 15px 15px;
                    }

                    .text {
                        text-transform: none;

                        h2 {
                            font-size: 16px;
                            margin-bottom: 0;
                            color: #ff003c;
                        }

                        h1 {
                            font-size: 20px;
                            margin-bottom: 0;
                        }
                    }
                }

                &.images {
                    .row {
                        margin-left: 0;
                        margin-right: 0;
                        background-color: #888;

                        .col {
                            padding-left: 0;
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }

    @font-face {
        font-family: 'nimbus_sans_lbold';
        src: url('/fonts/NimbusSanL-Bol-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'nimbus_sans_lregular';
        src: url('/fonts/NimbusSanL-Reg-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'GoBold';
        src: url('/fonts/gobold.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
</style>

<script>
    import GameIcon from '@/components/GameIcon.vue';
    import TimerHandler from '../components/TimerHandler.ts';
    import MatchHub from '../components/MatchHub.ts';
    import CurrentSpin from '../components/HitmapsTournaments/CurrentSpin.ts';
    export default {
        name: 'wide-overlay',
        components: {
            GameIcon
        },
        props: {
            matchupId: String
        },
        data() {
            return {
                backgroundUrls: {},
                previousTimerFingerprint: null,
                matchupData: {
                    currentSpin: null,
                    matchupId: null,
                    timer: {}
                },
                currentTime: null,
                timerInterval: null,
                remainingTimeInSeconds: null,
                elapsedTimeInSeconds: null,
                pretime: {
                    inPretime: false,
                    remainingPretimeInSeconds: 0
                },
                timerDelta: 0
            };
        },
        computed: {
            showTimer() {
                return this.matchupData.timer.startTime !== null && this.matchupData.timer.endTime !== null;
            },
            // tslint:disable-next-line
            progressColor: function() {
                if (this.matchupData.timer.matchDurationInMinutes === null) {
                    return '';
                }

                const halfTime = this.matchupData.timer.matchDurationInMinutes * 30; // 60 / 2
                const nearEnd = this.matchupData.timer.matchDurationInMinutes * 10; // 60 / 6

                if (this.remainingTimeInSeconds > halfTime) {
                    return 'green';
                }
                if (this.remainingTimeInSeconds > nearEnd) {
                    return 'yellow';
                }
                if (this.remainingTimeInSeconds > 60) {
                    return 'red';
                }
                if (this.remainingTimeInSeconds > 0) {
                    return 'red flash';
                }

                return 'red';
            },
            // tslint:disable-next-line
            progressPercentage: function() {
                if (this.matchupData.timer.matchDurationInMinutes === null || this.remainingTimeInSeconds <= 0) {
                    return '0%';
                }

                const duration = this.matchupData.timer.matchDurationInMinutes * 60;
                const percentage = (this.remainingTimeInSeconds / duration * 100).toFixed(2);

                return `${percentage}%`;
            }
        },
        methods: {
            initializeMatchup() {
                this.$http
                    .get(`${this.$apiDomain}/api/matchups/${this.matchupId}`)
                    .then(resp => {
                        this.handleResponse(resp.data);
                    })
                    .catch(err => {
                        console.error(err);
                    });
            },
            handleResponse(resp) {
                this.matchupData = {
                    currentSpin: resp.currentSpin ? new CurrentSpin(resp.currentSpin) : null,
                    matchupId: resp.matchupId,
                    timer: resp.timer.fingerprint !== this.previousTimerFingerprint ?
                        resp.timer :
                        this.matchupData.timer
                };
                if (resp.timer.fingerprint !== this.previousTimerFingerprint) {
                    this.timerDelta = new Date(this.matchupData.timer.serverTime).getTime() - new Date().getTime();
                    this.updateTimer();
                }
                this.previousTimerFingerprint = this.matchupData.timer.fingerprint;
            },
            getFormattedTime(time, pretime = false) {
                const pretimeOffset = pretime ? 1 : 0;
                const minutes = parseInt((time + pretimeOffset) / 60, 10);
                const seconds = parseInt((time + pretimeOffset) % 60, 10);

                return `${this.formatTimerValue(minutes)}:${this.formatTimerValue(seconds)}`;
            },
            formatTimerValue(value) {
                if (value < 0) {
                    return '00';
                }
                const formattedValue = Math.abs(value);

                return formattedValue < 10 ? `0${formattedValue}` : formattedValue;
            },
            setupWebsocketsConnection() {
                this.matchHub = new MatchHub(this.$apiDomain);
                this.matchHub.start();
                this.matchHub.joinMatch(this.matchupId);
                this.matchHub.on('MatchChange', (args) => this.handleResponse(args));

                this.matchHub.onReconnected(_ => {
                    // Disconnect from everything just to have a clean slate
                    this.matchHub.leaveMatch(this.matchupId);
                    this.matchHub.off('MatchChange');

                    // And now let's reconnect
                    this.matchHub.joinMatch(this.matchupId);
                    this.matchHub.on('MatchChange', (args) => this.handleResponse(args));
                });
            },
            updateTimer() {
                this.currentTime = new Date(new Date().getTime() + this.timerDelta);

                // tslint:disable-next-line
                this.pretime.inPretime = new Date(this.matchupData.timer.startTime).getTime() - this.currentTime.getTime() > 0;
                this.pretime.remainingPretimeInSeconds = this.getRemainingPretimeInSeconds();
                this.remainingTimeInSeconds = this.getRemainingTimeInSeconds();
                this.elapsedTimeInSeconds = this.getElapsedTimeInSeconds();
                this.timerInterval = TimerHandler.setTimeout(this.updateTimer, 100);
            },
            getRemainingTimeInSeconds() {
                if (this.matchupData.timer.endTime === null) {
                    return null;
                }

                const diff = new Date(this.matchupData.timer.endTime).getTime() - this.currentTime.getTime();
                return diff / 1000;
            },
            getElapsedTimeInSeconds() {
                const diff = this.currentTime.getTime() - new Date(this.matchupData.timer.startTime).getTime();
                return diff / 1000;
            },
            getRemainingPretimeInSeconds() {
                return (new Date(this.matchupData.timer.startTime).getTime() - this.currentTime.getTime()) / 1000;
            },
            fetchLocationBackgrounds() {
                for (const game of ['hitman', 'hitman2', 'hitman3']) {
                    this.$http.get(`${this.$hitmapsDomain}/api/games/${game}/locations`).then(resp => {
                        for (const location of resp.data) {
                            for (const mission of location.missions) {
                                this.backgroundUrls[mission.slug] = mission.backgroundUrl;
                            }
                        }
                    });
                }
            }
        },
        mounted() {
            this.fetchLocationBackgrounds();
            this.initializeMatchup();
            this.setupWebsocketsConnection();
        },
    };
</script>
