<template>
    <div class="row utilities">
            <div class="col">
                <utility-button theme="dark" @click="$emit('clear-spin')">
                    <game-icon icon="trash" font-style="solid" />
                    Clear Spin
                </utility-button>
            </div>
            <div class="col" v-if="showParticipantLink">
                <utility-button theme="light" @click="copyParticipantLink">
                    <game-icon icon="tag" font-style="solid" />
                    Copy Participant Link to Clipboard
                </utility-button>
            </div>
            <div class="col match-duration">
                <utility-button theme="light" no-hover>
                    <game-icon font-style="solid" icon="timed" />
                    <div class="row" style="font-size: 1.4rem; text-transform: uppercase">
                        <div class="col">
                            <div class="header">Match Length</div>
                            <select v-model="matchDuration" @change="$emit('match-duration', matchDuration)">
                                <option value="60">1 hour</option>
                                <option value="47">47 minutes</option>
                                <option value="45">45 minutes</option>
                                <option value="30">30 minutes</option>
                                <option value="20">20 minutes</option>
                                <option value="-1">No time limit</option>
                            </select>
                        </div>
                        <div class="col">
                            <div class="header">
                                Match Time <span class="timezone">({{ Utils.formatDateTime(new Date(), 'z') }})</span>
                            </div>
                            <date-picker type="datetime"
                                         :disabled-date="(date) => date <= new Date().setDate(new Date().getDate() - 1)"
                                         :show-second="false"
                                         format="YYYY-MM-DD HH:mm"
                                         @change="$emit('match-time', matchTime)"
                                         v-model:value="matchTime"
                                         :clearable="false" />
                            <span class="help-block">To display the spin immediately, select a time in the past</span>
                        </div>
                    </div>
                </utility-button>
            </div>
            <div class="col">
                <utility-button theme="dark" @click="$emit('send-spin')">
                    <game-icon icon="play" font-style="solid" />
                    Send Spin
                </utility-button>
            </div>
    </div>
</template>

<script>
    import UtilityButton from './UtilityButton.vue';
    import GameIcon from './GameIcon.vue';
    import DatePicker from 'vue-datepicker-next';
    import Utils from '@/components/Utils.ts';
    import Moment from "@/components/Moment.vue";
    export default {
        name: 'BasicTourneyButtons',
        computed: {
            Utils() {
                return Utils
            }
        },
        components: {Moment, GameIcon, UtilityButton, DatePicker},
        props: {
            tourneyMatchId: String,
            showParticipantLink: Boolean
        },
        data() {
            return {
                matchDuration: 30,
                matchTime: this.getCurrentTimeAtZeroSeconds()
            };
        },
        mounted() {
            this.$emit('match-duration', this.matchDuration);
            this.$emit('match-time', this.matchTime);
        },
        methods: {
            getCurrentTimeAtZeroSeconds() {
                const current = new Date();
                current.setUTCSeconds(0, 0);
                current.setUTCMinutes(current.getUTCMinutes() + 1);

                return current;
            },
            copyParticipantLink() {
                Utils.copyToClipboard(`${this.$vueDomain}/matchup/${this.tourneyMatchId}`)
                    .then(() => this.$toastr.s('Copied participant link to clipboard'));
            }
        }
    };
</script>

<style lang="scss" scoped>
    .match-duration {
        text-align: center;

        .header {
            font-size: .9rem;

            .timezone {
                font-size: .8rem;
            }
        }

        .help-block {
            display: block;
            font-size: .7rem;
            font-style: italic;
        }
    }

    i {
        font-size: 5em;
    }
</style>
