<template>
    <div class="row utilities">
        <div class="col" v-if="spunAtLeastOnce && queueMode" @click="$emit('previous-map')">
            <utility-button theme="dark" :disabled="disablePreviousMap || disableSpinButton">
                <game-icon icon="toggle-left"/>
                Previous Map
            </utility-button>
        </div>
        <div class="col">
            <utility-button :disabled="disableSpinButton" theme="dark" @click="$emit('do-spin')">
                <game-icon icon="reset" />
                Generate Spin
            </utility-button>
        </div>
        <template v-if="spunAtLeastOnce">
            <div class="col" v-if="!hitmapsTournamentMode">
                <utility-button theme="dark" :disabled="disableSpinButton" @click="$emit('manual-mode-button-clicked')">
                    <game-icon icon="edit" />
                    <span v-if="manualModeEnabled">Disable Manual Mode</span>
                    <span v-else>Enable Manual Mode</span>
                </utility-button>
            </div>
            <div class="col" v-if="!tourneyModeActive">
                <utility-button v-if="existingSharedId"
                                theme="light"
                                :disabled="disableShareButton || disableSpinButton"
                                @click="$emit('share-button-clicked')">
                    <game-icon icon="tag" />
                    Copy Spin ID ({{ existingSharedId }})
                </utility-button>
                <utility-button v-else
                                theme="dark"
                                :disabled="disableShareButton || disableSpinButton"
                                @click="$emit('share-button-clicked')">
                    <i style="font-size: 48px" class="fas fa-share"></i>
                    Share Spin
                </utility-button>
            </div>
        </template>
        <div class="col" v-if="!queueMode">
            <utility-button theme="dark" data-toggle="modal" :disabled="disableSpinButton" data-target="#load-spin-modal">
                <game-icon icon="load"/>
                Load Spin
            </utility-button>
        </div>
        <template v-if="spunAtLeastOnce">
            <div class="col">
                <utility-button @click="$emit('stream-overlay-button-clicked')" theme="dark" data-toggle="modal" data-target="#stream-overlay-modal">
                    <game-icon icon="online" />
                    {{ hitmapsTournamentMode ? 'Copy Shoutcast Overlay Link' : 'Stream Overlay' }}
                </utility-button>
            </div>
        </template>
        <div class="col" v-if="spunAtLeastOnce && !hitmapsTournamentMode">
            <utility-button theme="dark" @click="handleTourneyModeClick">
                <game-icon icon="challenge" />
                <template v-if="tourneyModeActive">Disable Tournament Mode</template>
                <template v-else>Enable Tournament Mode</template>
            </utility-button>
        </div>
        <div class="col" v-if="spunAtLeastOnce && queueMode" @click="$emit('next-map')">
            <utility-button theme="dark" :disabled="disableNextMap || disableSpinButton">
                <game-icon icon="toggle-right"/>
                Next Map
            </utility-button>
        </div>
    </div>
</template>

<script>
    import UtilityButton from './UtilityButton.vue';
    import GameIcon from './GameIcon.vue';
    export default {
        name: 'BasicUtilityButtons',
        components: {GameIcon, UtilityButton},
        props: {
            spunAtLeastOnce: Boolean,
            tourneyModeActive: Boolean,
            hitmapsTournamentMode: Boolean,
            disableSpinButton: Boolean,
            manualModeEnabled: Boolean,
            queueMode: Boolean,
            disablePreviousMap: Boolean,
            disableNextMap: Boolean,
            disableShareButton: Boolean,
            existingSharedId: String|null
        },
        methods: {
            handleTourneyModeClick() {
                if (this.tourneyModeActive) {
                    this.$emit('disable-basic-tourney-mode');
                } else {
                    this.$emit('show-subtab', 'tourney-mode-setup');
                }
            }
        }
    };
</script>

<style scoped lang="scss">
</style>