<template>
    <modal id="completion-methods-modal" modal-title="Select Method" dismissable fullscreen>
        <div class="row">
            <div class="col">
                <div v-if="!completionMethods.length">
                    <loader/>
                </div>
                <div class="row" v-else>
                    <template v-for="individualCompletionMethod in completionMethods">
                        <div class="col-md-3">
                            <div class="completion-option">
                                <div class="image">
                                    <img :src="`${individualCompletionMethod.tileUrl}?h=80`" :alt="individualCompletionMethod.name">
                                </div>
                                <div class="text" :class="individualCompletionMethod.variants && individualCompletionMethod.variants.length ? 'has-variants' : ''">
                                    <div class="name selectable" @click="selectCompletionMethod(individualCompletionMethod)">
                                        {{ individualCompletionMethod.name }}
                                    </div>
                                    <div class="variants" v-if="individualCompletionMethod.variants && individualCompletionMethod.variants.length">
                                        <div class="variant" v-for="variant in individualCompletionMethod.variants">
                                            <div class="selectable" @click="selectCompletionMethod(individualCompletionMethod, variant)">
                                                {{ variant.name }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
        <template v-slot:modal-footer>
            <game-button ref="closeButton" data-dismiss="modal">
                <game-icon icon="failed" font-style="normal" />
                Close
            </game-button>
        </template>
    </modal>
</template>

<script>
    import Modal from './Modal.vue';
    import GameIcon from '@/components/GameIcon.vue';
    import SvgFontIcon from '@/components/SvgFontIcon.vue';
    import Alert from '@/components/Alert.vue';
    import GameButton from '@/components/GameButton.vue';
    import Loader from '@/components/Loader.vue';
    export default {
        name: 'CompletionMethodsModal',
        components: {Loader, GameButton, Alert, SvgFontIcon, GameIcon, Modal},
        props: {
            completionMethods: Array,
            spinResult: Object
        },
        data() {
            return {
            };
        },
        methods: {
            selectCompletionMethod(completionMethod, variant) {
                this.spinResult.killMethod = completionMethod;

                if (variant) {
                    this.spinResult.killMethod.selectedVariant = variant.name;
                    if (variant.imageOverride) {
                        this.spinResult.killMethod.tileUrl = variant.imageOverride;
                    }
                }

                this.$refs.closeButton.$el.click();
                this.$emit('selected-specific-condition');
            }
        }
    };
</script>

<style lang="scss" scoped>
    .header {
        font-size: 1.3rem;
        font-family: 'nimbus_sans_lbold', sans-serif;
    }

    .completion-option {
        display: flex;

        .image {

            img {
                height: 75px;
            }
        }

        .text {
            display: flex;
            align-self: center;
            font-size: 1.3rem;
            flex-direction: column;
            flex-grow: 1;
            line-height: 75px;

            &.first {
                line-height: 37.5px;
            }

            &.has-variants {
                text-align: center;
                line-height: 36.5px;

                .name {
                    border-bottom: solid 1px rgba(0,0,0,.3);
                }
            }

            .variants {
                display: flex;

                .variant {
                    flex-basis: 0;
                    flex-grow: 1;
                    max-width: 100%;

                    border-bottom: solid 1px rgba(0,0,0,.3);

                    &:not(:last-child) {
                        border-right: solid 1px rgba(0,0,0,.3);
                    }
                }
            }

            .selectable {
                padding-left: 10px;

                &:hover {
                    cursor: pointer;
                    background: $game-button-background-hover;
                }
            }
        }
    }
</style>