<template>
    <div class="content">
        <slot />
    </div>
</template>

<script>
    export default {
        name: 'DigitalBoard'
    };
</script>

<style lang="scss" scoped>
    @font-face {
        font-family: 'ArcadeRR';
        src: url('../assets/css/arcade.regular.ttf');
    }

    .content {
        font-family: 'ArcadeRR', sans-serif;
        font-size: 75px;
        color: orange;
        margin-bottom: -40px;
    }
</style>