<template>
    <modal id="disguise-restrictions-modal" modal-title="Select Disguise Restriction" dismissable fullscreen>
        <div class="row">
            <div class="col">
                <div v-if="!disguises.length">
                    <loader/>
                </div>
                <div class="row" v-else>
                    <div class="col-md-3" v-if="suit">
                        <div class="disguise-option" @click="selectDisguise(suit)">
                            <div class="image">
                                <img :src="`${suit.image}?h=80`" alt="Suit">
                            </div>
                            <div class="text">
                                Suit
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" v-for="disguise in disguises.filter(x => !x.suit)">
                        <div class="disguise-option" @click="selectDisguise(disguise)">
                            <div class="image">
                                <img :src="`${disguise.image}?h=80`" :alt="disguise.name">
                            </div>
                            <div class="text">
                                {{ disguise.name }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <template v-slot:modal-footer>
            <game-button ref="closeButton" data-dismiss="modal">
                <game-icon icon="failed" font-style="normal" />
                Close
            </game-button>
        </template>
    </modal>
</template>

<script>
    import Modal from './Modal.vue';
    import GameIcon from '@/components/GameIcon.vue';
    import SvgFontIcon from '@/components/SvgFontIcon.vue';
    import Alert from '@/components/Alert.vue';
    import GameButton from '@/components/GameButton.vue';
    import Loader from '@/components/Loader.vue';
    export default {
        name: 'DisguiseRestrictionsModal',
        components: {Loader, GameButton, Alert, SvgFontIcon, GameIcon, Modal},
        props: {
            spinResult: Object,
            disguises: Array
        },
        data() {
            return {
            };
        },
        computed: {
            suit() {
                return this.disguises.find(x => x.suit);
            }
        },
        methods: {
            selectDisguise(disguise) {
                this.spinResult.disguise = disguise.toRouletteFormat();

                this.$refs.closeButton.$el.click();
                this.$emit('selected-specific-condition');
            }
        }
    };
</script>

<style lang="scss" scoped>
    .header {
        font-size: 1.3rem;
        font-family: 'nimbus_sans_lbold', sans-serif;
    }

    .disguise-option {
        display: flex;

        .image {

            img {
                height: 75px;
            }
        }

        .text {
            margin-left: 10px;
            display: flex;
            align-self: center;
            font-size: 1.3rem;
        }

        &:hover {
            cursor: pointer;
            background: $game-button-background-hover;
        }
    }
</style>