<template>
    <nav class="navbar navbar-expand-lg">
        <img src="@/assets/logo.png" class="img-fluid mr-auto">
        <div class="powered-by d-none d-xl-block">
            <span>Powered by</span>
            <a href="https://www.hitmaps.com" target="_blank">
                <img src="https://media.hitmaps.com/img/hitmaps-custom/site/webp/logos/hitmaps.webp" alt="HITMAPS&trade; Logo" class="hitmaps-logo img-fluid">
            </a>
        </div>
    </nav>
</template>

<script>
    export default {
        name: 'HitmapsNavbar'
    };
</script>

<style lang="scss" scoped>
    .navbar {
        flex: 0 1 auto;
        background: black;

        @media(max-width: $tablet) {
            justify-content: center;
        }

        #navbarNav {
            justify-content: flex-end;

            .nav-item {
                border-bottom: none;

                .nav-link {
                    background: transparent;
                    color: #fff;
                }
            }
        }

        .powered-by {
            color: #fff;
            font-size: 1.2rem;
            text-transform: uppercase;

            span {
                margin-right: 10px;
                vertical-align: middle;
            }
        }

        img {
            max-height: 50px;
        }
    }
</style>