<template>
    <div class="in-game-roulette">
        <p>Introducing the In-Game HITMAPS&trade; Roulette. Now you can enjoy the majority of features directly
            in HITMAN&trade; 3. Due to technical reasons, this is only available on PC.</p>
        <h3>Setup Instructions</h3>
        <ol>
            <li>Download the latest version of the LocalGhost patcher: <a
                    href="https://gitlab.com/grappigegovert/localghost/-/jobs/artifacts/master/download?job=build_patcher"
                    target="_blank">Download Here</a></li>
            <li>In the LocalGhost patcher, select <code>gm.hitmaps.com</code> as the server</li>
            <li>Launch HITMAN 3. If you connected to HITMAPS' server, you will see a "HITMAPS Roulette" tile
                where the "Story" tile normally is
            </li>
        </ol>
        <h3>Switching Back to IOI's Servers</h3>
        <p>When you are done on the HITMAPS server, simply exit <b>both</b> HITMAN 3 and the LocalGhost patcher.
            Then, re-launch HITMAN 3 to connect to IOI's servers.</p>
        <p>NOTE: Do NOT attempt to switch to IOI's server without exiting HITMAN 3; issues may occur.</p>
        <h3>Frequently Asked Questions</h3>
        <p><b>"All of my progression is gone!"</b> - This is normal when on HITMAPS' server. We do not look at
            any
            information from IOI, so your experience (inventory, etc) will look different. Don't worry; all of
            your progression is still on IOI's servers and will be visible next time you return to the official
            servers.</p>
        <p><b>"There aren't any leaderboards!"</b> - Leaderboards are still being worked on at this time.</p>
        <p><b>"I ran into an issue!"</b> - Let MrMike know on the HITMAPS Discord, and he will look into it.</p>
        <h3>Legal</h3>
        <p>The In-Game HITMAPS&trade; Roulette is not an official game mode, and has not been endorsed or
            sponsored by IO Interactive in any way.</p>
    </div>
</template>

<script>
    export default {
        name: 'InGameRoulette'
    };
</script>

<style lang="scss" scoped>
    .in-game-roulette {
        margin: 10px;
        padding: 10px;
        color: #fff;
        background: $card-footer-background;

        h3 {
            font-family: 'nimbus_sans_lbold', sans-serif;
        }
    }
</style>