<template>
    <modal id="load-spin-modal" modal-title="Load Spin" dismissable fullscreen>
        <div class="row">
            <div class="col">
                <p>Enter spin ID below.</p>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="#-##-#######-##" v-model="spinId" @keyup="checkSpinId">
                </div>
            </div>
        </div>
        <template v-slot:modal-footer>
            <game-button :disabled="validationFailed" @click="emitLoad" data-dismiss="modal">
                <game-icon icon="load" font-style="normal" />
                Load Spin
            </game-button>
            <game-button ref="closeButton" data-dismiss="modal">
                <game-icon icon="failed" font-style="normal" />
                Close
            </game-button>
        </template>
    </modal>
</template>

<script>
    import Modal from './Modal.vue';
    import GameIcon from '@/components/GameIcon.vue';
    import SvgFontIcon from '@/components/SvgFontIcon.vue';
    import Alert from '@/components/Alert.vue';
    import GameButton from '@/components/GameButton.vue';
    export default {
        name: 'LoadSpinModal',
        components: {GameButton, GameIcon, Modal},
        data() {
            return {
                spinId: null,
                validationFailed: true
            };
        },
        methods: {
            checkSpinId() {
                this.spinId = this.spinId.replaceAll(/[^0123456789-]/g, '');
                this.validationFailed = this.spinId.replaceAll('-', '').length !== 12;
            },
            emitLoad() {
                this.$emit('load-spin', this.spinId);
                this.spinId = null;
            }
        }
    };
</script>

<style lang="scss" scoped>
    .header {
        font-size: 1.3rem;
        font-family: 'nimbus_sans_lbold', sans-serif;
    }
</style>