<template>
    <div>
        <div class="missions">
            <div class="row select-deselect-all">
                <div class="col-12" :class="missionMode === 'RANDOM-POOL' ? 'col-md-2' : ''">
                    <button class="btn" @click="toggleMode">
                        <game-icon :icon="missionMode === 'RANDOM-POOL' ? `add-to-list` : 'reset'" font-style="solid" />
                        Switch to {{ missionMode === 'RANDOM-POOL' ? 'Queue Mode' : 'Default Mode' }}
                    </button>
                </div>
                <div class="col-12 col-md-5" v-if="missionMode === 'RANDOM-POOL'">
                    <button class="btn" @click="selectAll">
                        <game-icon icon="check" font-style="solid" />
                        Select All
                    </button>
                </div>
                <div class="col-12 col-md-5" v-if="missionMode === 'RANDOM-POOL'">
                    <button class="btn" @click="deselectAll">
                        <game-icon icon="failed" font-style="solid" />
                        Deselect All
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-12 header">Mission Groups</div>
                <div class="mission col-xl-2 col-lg-4 col-md-6 col-12" v-for="missionGroup in missionGroups"
                     :style="`background: url('${missionGroup.tileUrl}') center center / cover no-repeat`"
                     @click="toggleMissionGroup(missionGroup)">
                    <div class="info-bar" :class="missionMode === 'RANDOM-POOL' && !missionGroup.enabled ? 'inactive' : ''">
                        <div class="selector">
                            <game-icon icon="add-to-list" font-style="normal" v-if="missionMode === 'QUEUE'"/>
                            <template v-else>
                                <game-icon icon="check" font-style="normal" v-if="missionGroup.enabled" />
                                <game-icon icon="failed" font-style="normal" v-else />
                            </template>
                        </div>
                        <div class="text">
                            <div class="mission-type">{{ missionGroup.missionType }}</div>
                            <div class="mission-name">{{ missionGroup.name }}</div>
                        </div>
                    </div>
                </div>
                <template v-for="(mission, index) in availableMissions">
                    <div class="col-12 header" v-if="shouldRenderTitle(mission, index)">{{ renderTitle(mission) }}</div>
                    <div class="mission col-xl-2 col-lg-4 col-md-6 col-12"
                         :style="`background: url('${mission.tileUrl}') center center / cover no-repeat`"
                         @click="toggleMission(mission)">
                        <div class="info-bar" :class="missionMode === 'RANDOM-POOL' && !selectedMissions.includes(mission) ? 'inactive' : ''">
                            <div class="selector">
                                <game-icon icon="add-to-list" font-style="normal" v-if="missionMode === 'QUEUE'"/>
                                <template v-else>
                                    <game-icon icon="check" font-style="normal" v-if="selectedMissions.includes(mission)" />
                                    <game-icon icon="failed" font-style="normal" v-else />
                                </template>
                            </div>
                            <div class="text">
                                <div class="mission-type">{{ mission.missionType }}</div>
                                <div class="mission-name">{{ mission.name }}</div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
</template>

<script>
    import GameIcon from '@/components/GameIcon.vue';
    import Alert from '@/components/Alert.vue';
    export default {
        name: 'MissionSelect',
        components: {Alert, GameIcon},
        props: {
            availableMissions: Array,
            missions: Array,
            missionMode: String
        },
        data() {
            return {
                selectedMissions: [],
                missionGroups: [
                    {
                        tileUrl: 'https://media.hitmaps.com/img/hitmaps-custom/roulette-wheel.png',
                        missionType: 'Roulette Rivals',
                        name: 'Trilogy Roulette',
                        toggleExpression: mission => mission.missionType === 'Mission' &&
                            ['the-showstopper', 'world-of-tomorrow', 'a-gilded-cage', 'club-27', 'freedom-fighters', 'situs-inversus',
                             'finish-line', 'three-headed-serpent', 'chasing-a-ghost', 'another-life', 'ark-society', 'golden-handshake', 'the-last-resort',
                             'on-top-of-the-world', 'death-in-the-family', 'apex-predator', 'end-of-an-era', 'the-farewell', 'shadows-in-the-water'
                            ].includes(mission.slug),
                        enabled: false
                    },
                    {
                        tileUrl: 'https://media.hitmaps.com/img/hitman3/story/background_training.jpg',
                        missionType: 'Tutorial',
                        name: 'Prologue',
                        toggleExpression: mission => mission.missionType === 'Prologue' &&
                            ['freeform-training', 'the-final-test'].includes(mission.slug),
                        enabled: false
                    },
                    {
                        tileUrl: 'https://media.hitmaps.com/img/hitman3/story/background_season1.jpg',
                        missionType: 'Campaign',
                        name: 'HITMAN™',
                        toggleExpression: mission => mission.missionType === 'Mission' &&
                            ['the-showstopper', 'world-of-tomorrow', 'a-gilded-cage', 'club-27', 'freedom-fighters', 'situs-inversus'].includes(mission.slug),
                        enabled: false
                    },
                    {
                        tileUrl: 'https://media.hitmaps.com/img/hitman3/store/episode_dlc_03.jpg',
                        missionType: 'Bonus Missions',
                        name: 'HITMAN™ Bonus Missions',
                        toggleExpression: mission => mission.missionType === 'Bonus Mission' &&
                            ['landslide', 'the-icon', 'a-house-built-on-sand'].includes(mission.slug),
                        enabled: false
                    },
                    {
                        tileUrl: 'https://media.hitmaps.com/img/hitman3/story/background_sarajevosix.jpg',
                        missionType: 'Campaign',
                        name: 'Sarajevo Six',
                        toggleExpression: mission => mission.missionType === 'Sarajevo Six' &&
                            ['the-showstopper', 'world-of-tomorrow', 'a-gilded-cage', 'club-27', 'freedom-fighters', 'situs-inversus'].includes(mission.slug)
                    },
                    {
                        tileUrl: 'https://media.hitmaps.com/img/hitman3/story/background_whitespider.jpg',
                        missionType: 'Campaign',
                        name: 'Patient Zero',
                        toggleExpression: mission => mission.missionType === 'Patient Zero' &&
                            ['the-source', 'the-author', 'patient-zero'].includes(mission.slug),
                        enabled: false
                    },
                    {
                        tileUrl: 'https://media.hitmaps.com/img/hitman3/story/background_season2.jpg',
                        missionType: 'Campaign',
                        name: 'HITMAN™ 2',
                        toggleExpression: mission => mission.missionType === 'Mission' &&
                            ['nightcall', 'finish-line', 'three-headed-serpent', 'chasing-a-ghost', 'another-life',
                                'ark-society', 'golden-handshake', 'the-last-resort'].includes(mission.slug),
                        enabled: false
                    },
                    {
                        tileUrl: 'https://media.hitmaps.com/img/hitman3/story/background_special_assignments.jpg',
                        missionType: 'Side Missions',
                        name: 'Special Assignments',
                        toggleExpression: mission => mission.missionType === 'Special Assignment' &&
                            ['embrace-of-the-serpent', 'illusions-of-grandeur', 'a-silver-tongue', 'a-bitter-pill'].includes(mission.slug),
                        enabled: false
                    },
                    {
                        tileUrl: 'https://media.hitmaps.com/img/hitman3/story/background_season3.jpg',
                        missionType: 'Campaign',
                        name: 'HITMAN™ 3',
                        toggleExpression: mission => mission.missionType === 'Mission' &&
                            ['on-top-of-the-world', 'death-in-the-family', 'apex-predator', 'end-of-an-era',
                                'the-farewell', 'untouchable', 'shadows-in-the-water'].includes(mission.slug),
                        enabled: false
                    }/*,
                    {
                        tileUrl: 'https://media.hitmaps.com/img/hitman3/backgrounds/career_elusive.jpg',
                        missionType: 'Elusive Targets',
                        name: 'Elusive Targets',
                        toggleExpression: mission => mission.missionType === 'Elusive Target',
                        enabled: false
                    }*/
                ]
            };
        },
        methods: {
            setInitialMissions() {
                for (const missionSlugOrObject of this.missions) {
                    const mission = this.availableMissions.find(x => [x, x.slug].includes(missionSlugOrObject));
                    if (!mission) {
                        console.warn(`Could not find mission '${missionSlugOrObject}'. Skipping.`);
                        continue;
                    }

                    this.selectedMissions.push(mission);
                }
                this.updateMissionGroups();
            },
            shouldRenderTitle(mission, index) {
                return index === 0 || mission.gameOrder !== this.availableMissions[index - 1].gameOrder;
            },
            renderTitle(mission) {
                return ['HITMAN™', 'HITMAN™ 2', 'HITMAN™ 3', 'Elusive Targets'][mission.gameOrder];
            },
            selectAll() {
                this.selectedMissions = [];
                for (const mission of this.availableMissions) {
                    this.selectedMissions.push(mission);
                }
                this.updateMissionGroups();
                this.$emit('mission-selection', this.selectedMissions);
            },
            deselectAll() {
                this.selectedMissions = [];
                this.updateMissionGroups();
                this.$emit('mission-selection', this.selectedMissions);
            },
            toggleMission(mission) {
                if (this.missionMode === 'QUEUE') {
                    this.$emit('push-to-queue', mission);
                    return;
                }

                if (this.selectedMissions.includes(mission)) {
                    this.selectedMissions.splice(this.selectedMissions.indexOf(mission), 1);
                } else {
                    this.selectedMissions.push(mission);
                }

                this.updateMissionGroups();
                this.$emit('mission-selection', this.selectedMissions);
            },
            toggleMissionGroup(missionGroup) {
                let affectedMissions = 0;
                for (const mission of this.availableMissions) {
                    if (missionGroup.toggleExpression(mission)) {
                        if (this.missionMode === 'QUEUE') {
                            this.$emit('push-to-queue', mission);
                            continue;
                        }

                        if (missionGroup.enabled) {
                            this.selectedMissions.splice(this.selectedMissions.indexOf(mission), 1);
                        } else {
                            this.selectedMissions.push(mission);
                        }
                    }
                }

                if (this.missionMode === 'RANDOM-POOL') {
                    this.updateMissionGroups();
                    this.$emit('mission-selection', this.selectedMissions);
                } else {
                    this.$toastr.s('Added mission(s) to queue');
                }
            },
            updateMissionGroups() {
                for (const missionGroup of this.missionGroups) {
                    let result = true;
                    for (const mission of this.availableMissions) {
                        if (missionGroup.toggleExpression(mission) && !this.selectedMissions.includes(mission)){
                            result = false;
                            break;
                        }
                    }

                    missionGroup.enabled = result;
                }
            },
            toggleMode() {
                const emitGroupUpdate = this.missionMode === 'QUEUE';

                this.$emit('swap-mode');
                if (emitGroupUpdate) {
                    this.updateMissionGroups();
                    this.$emit('mission-selection', this.selectedMissions);
                }
            }
        }
    };
</script>

<style lang="scss" scoped>
    .missions {
        .row {
            margin-left: 0;
            margin-right: 0;

            .header {
                font-family: 'nimbus_sans_lbold', sans-serif;
                color: white;
                font-size: 2rem;
            }

            &.select-deselect-all {
                margin-top: 10px;

                button {
                    width: 100%;
                    background: rgba(0, 0, 0, .5);
                    color: #fff;
                    border-radius: 0;

                    i {
                        font-size: 20px;
                    }

                    &:hover {
                        opacity: 1;
                        background: $card-footer-background-hover;
                    }
                }
            }

            .mission {
                font-family: 'nimbus_sans_lbold', sans-serif;
                height: 200px;
                padding: 0;

                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                cursor: pointer;

                @media(max-width: $tablet) {
                    height: inherit;

                    &:not(:last-child) {
                        margin-bottom: 5px;
                    }
                }

                .info-bar {
                    background: rgba(0, 0, 0, .5);
                    color: white;
                    font-size: 17px;
                    display: flex;
                    padding: 10px;
                    text-transform: uppercase;
                    align-items: center;

                    &.inactive {
                        color: rgba(255, 255, 255, .6);

                        .selector {
                            i {
                                border-color: rgba(255, 255, 255, .6);
                            }
                        }
                    }

                    .selector {
                        i {
                            font-size: 32px;
                        }
                        margin-right: 5px;
                    }

                    .mission-type {
                        font-family: 'nimbus_sans_lregular', sans-serif;
                        font-size: 13px;
                    }
                }

                &:hover {
                    .info-bar {
                        background: $card-footer-background-hover;
                        color: $card-footer-text;

                        i {
                            background-color: $card-footer-text;
                            color: $card-footer-background-hover;
                        }
                    }
                }
            }
        }
    }
</style>
