<template>
    <div class="options">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-12">
                        <h2>
                            <game-icon icon="target" font-style="normal" />
                            Target Conditions
                        </h2>
                    </div>
                    <div class="option col-xl-6 col-12"
                         v-for="option in options.filter(x => x.type === 'target')"
                         @click="toggleOption(option)"
                         :class="!selectedOptions.includes(option) ? 'inactive' : ''">
                        <div class="icon">
                            <game-icon v-for="icon in option.icons" :key="icon" :icon="icon" font-style="solid" />
                        </div>
                        <div class="info-bar">
                            <div class="selector">
                                <game-icon icon="check" font-style="normal" v-if="selectedOptions.includes(option)" />
                                <game-icon icon="failed" font-style="normal" v-else />
                            </div>
                            <div class="text">
                                <div class="mission-name">{{ option.name }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-12">
                        <h2>
                            <game-icon icon="objective" font-style="normal"/>
                            Additional Objectives
                        </h2>
                    </div>
                    <div class="option col-xl-6 col-12"
                         v-for="option in options.filter(x => x.type === 'additional-objective')"
                         @click="toggleOption(option)"
                         :class="!selectedOptions.includes(option) ? 'inactive' : ''">
                        <div class="icon">
                            <game-icon v-for="icon in option.icons" :key="icon" :icon="icon" font-style="solid" />
                        </div>
                        <div class="info-bar">
                            <div class="selector">
                                <game-icon icon="check" font-style="normal" v-if="selectedOptions.includes(option)" />
                                <game-icon icon="failed" font-style="normal" v-else />
                            </div>
                            <div class="text">
                                <div class="mission-name">{{ option.name }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h2>
                            <game-icon icon="complication" font-style="normal"/>
                            Target-Specific Complications
                        </h2>
                    </div>
                    <div class="option col-xl-6 col-12"
                         v-for="option in options.filter(x => x.type === 'target-complication')"
                         @click="toggleOption(option)"
                         :class="!selectedOptions.includes(option) ? 'inactive' : ''">
                        <div class="icon">
                            <game-icon v-for="icon in option.icons" :key="icon" :icon="icon" font-style="solid" />
                        </div>
                        <div class="info-bar">
                            <div class="selector">
                                <game-icon icon="check" font-style="normal" v-if="selectedOptions.includes(option)" />
                                <game-icon icon="failed" font-style="normal" v-else />
                            </div>
                            <div class="text">
                                <div class="mission-name">{{ option.name }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import GameIcon from './GameIcon.vue';
    export default {
        name: 'Options',
        components: {GameIcon},
        props: {
            restrictions: Array
        },
        data() {
            return {
                selectedOptions: [],
                options: [
                    {
                        name: 'Include Specific Melee Weapons',
                        flag: 'specific-melee',
                        icons: ['melee'],
                        type: 'target'
                    },
                    {
                        name: 'Include Specific Firearms',
                        flag: 'specific-firearms',
                        icons: ['concealed-weapon'],
                        type: 'target'
                    },
                    {
                        name: 'Include Specific Accidents / Poison Kills',
                        flag: 'specific-accidents',
                        icons: ['explosive', 'poison'],
                        type: 'target'
                    },
                    {
                        name: 'Include Generic Kills',
                        flag: 'generic-kills',
                        icons: ['difficulty-casual'],
                        type: 'target'
                    },
                    {
                        name: 'Require Specific Disguises',
                        flag: 'require-disguise',
                        icons: ['disguise'],
                        type: 'target'
                    },
                    {
                        name: 'Include Unique Target Kills',
                        flag: 'unique-target-kills',
                        icons: ['challenge-category-assassination'],
                        type: 'target'
                    },
                    {
                        name: 'Include Highly Difficult / Impossible Kills',
                        flag: 'difficult-impossible-kills',
                        icons: ['failed'],
                        type: 'target'
                    },
                    {
                        name: 'Include Additional Objectives',
                        flag: 'additional-objectives',
                        icons: ['objective'],
                        type: 'additional-objective'
                    },
                    {
                        name: 'Require Specific Disguises',
                        flag: 'additional-objective-disguise',
                        icons: ['disguise'],
                        type: 'additional-objective'
                    },
                    {
                        name: 'No Target Pacification',
                        flag: 'no-target-pacification',
                        icons: ['knock-down'],
                        type: 'target-complication'
                    }
                ]
            };
        },
        mounted() {
            this.setInitialRestrictions();
        },
        methods: {
            setInitialRestrictions() {
                for (const restrictionFlag of this.restrictions) {
                    const restriction = this.options.find(x => x.flag === restrictionFlag);
                    if (!restriction) {
                        console.warn(`Could not find restriction with flag '${restrictionFlag}'. Skipping.`);
                        continue;
                    }

                    this.selectedOptions.push(restriction);
                }
            },
            toggleOption(restriction) {
                if (this.selectedOptions.includes(restriction)) {
                    this.selectedOptions.splice(this.selectedOptions.indexOf(restriction), 1);
                } else {
                    this.selectedOptions.push(restriction);
                }

                this.$emit('restriction-selection', this.transformSelectedOptions());
            },
            transformSelectedOptions() {
                return this.selectedOptions.map(x => x.flag);
            }
        }
    };
</script>

<style lang="scss" scoped>
    .row {
        margin-left: 0;
        margin-right: 0;
        margin-top: 10px;

        h2 {
            font-family: 'nimbus_sans_lbold', sans-serif;
            color: white;
            font-size: 2rem;
        }

        .option {
            font-family: 'nimbus_sans_lbold', sans-serif;
            height: 200px;
            padding: 0;

            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            cursor: pointer;

            @media(max-width: $tablet) {
                height: inherit;

                &:not(:last-child) {
                    margin-bottom: 5px;
                }
            }

            .icon {
                flex-grow: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                background: rgb(62, 65, 72);

                i {
                    font-size: 60px;

                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                }
            }

            .info-bar {
                background: rgba(0, 0, 0, .5);
                color: white;
                font-size: 17px;
                display: flex;
                padding: 10px;
                text-transform: uppercase;
                align-items: center;

                .selector {
                    i {
                        font-size: 32px;
                    }
                    margin-right: 5px;
                }

                .mission-type {
                    font-family: 'nimbus_sans_lregular', sans-serif;
                    font-size: 13px;
                }
            }

            &.inactive {
                .icon {
                    background: rgba(62, 65, 72, .5);
                    color: rgba(255, 255, 255, .5);
                }

                .info-bar {
                    color: rgba(255, 255, 255, .6);

                    .selector {
                        i {
                            border-color: rgba(255, 255, 255, .6);
                        }
                    }
                }
            }

            &:hover {
                .info-bar {
                    background: $card-footer-background-hover;
                    color: $card-footer-text;

                    i {
                        background-color: $card-footer-text;
                        color: $card-footer-background-hover;
                    }
                }
            }
        }
    }
</style>