<script setup>
import {computed, ref} from "vue";
import GameIcon from "@/components/GameIcon.vue";
import ArrayHelpers from "@/components/ArrayHelpers";

const props = defineProps({
    queue: Array
});
const emit = defineEmits(['change-current-mission']);
const expanded = ref(false);
const currentQueueIndex = ref(0);
const queueLength = computed(() => {
    return props.queue?.length ?? 0;
});

function atBeginning() {
    return currentQueueIndex.value === 0;
}

function atEnd() {
    return currentQueueIndex.value === props.queue.length - 1;
}
function goToNext() {
    setMissionIndex(currentQueueIndex.value + 1);
}
function goToPrevious() {
    setMissionIndex(currentQueueIndex.value - 1);
}

function toggleTray() {
    expanded.value = !expanded.value;
}
function moveDown(index) {
    ArrayHelpers.moveElement(props.queue, index, index + 1);
    if (currentQueueIndex.value === index) {
        setMissionIndex(index + 1, false);
    } else if (currentQueueIndex.value === index + 1) {
        setMissionIndex(index, false);
    }
}
function moveUp(index) {
    ArrayHelpers.moveElement(props.queue, index, index - 1);
    if (currentQueueIndex.value === index) {
        setMissionIndex(index - 1, false);
    } else if (currentQueueIndex.value === index - 1) {
        setMissionIndex(index, false);
    }
}
function remove(index) {
    ArrayHelpers.deleteElementByIndex(props.queue, index);
    if (currentQueueIndex.value === index) {
        setMissionIndex(index, true, true);
    }
}
function setMissionIndex(index, doEmit = true, forceSelect = false) {
    if (currentQueueIndex.value === index && !forceSelect) {
        return;
    }

    currentQueueIndex.value = index;
    if (doEmit) {
        emit('change-current-mission', props.queue[index]);
    }
}

defineExpose({
    atBeginning,
    atEnd,
    goToPrevious,
    goToNext
});
</script>

<template>
<div class="queue-tray" :class="expanded ? 'expanded' : ''">
    <div class="queue-header" @click="toggleTray">
        <div class="name-and-count">
            Queue
            <template v-if="queueLength > 0">
                ({{ currentQueueIndex + 1 }} / {{ queueLength }})
            </template>
        </div>
        <div class="caret">
            <i class="fas" :class="expanded ? 'fa-caret-up' : 'fa-caret-down'"></i>
        </div>
    </div>
    <div class="queue-contents">
        <div class="empty" v-if="queueLength === 0">Your queue is empty.</div>
        <div v-for="(item, index) in queue" class="entry" v-else>
            <div class="entry-contents" :class="index === currentQueueIndex ? 'selected' : ''">
                <img :src="item.tileUrl" height="40" alt="Mission tile">
                <span class="mission-name" @click="setMissionIndex(index)">{{ item.name }}</span>
                <game-icon :class="index === queue?.length - 1 ? 'hidden' : ''" icon="arrow-down" @click="moveDown(index)" font-style="solid" />
                <game-icon :class="index === 0 ? 'hidden' : ''" icon="arrow-up" @click="moveUp(index)" font-style="solid" />
                <game-icon icon="trash" @click="remove(index)" font-style="solid" />
            </div>

        </div>
    </div>
</div>
</template>

<style scoped lang="scss">
.queue-tray {
    position: fixed;
    bottom: 38px;
    right: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, .7);
    font-size: 1.2rem;
    color: black;
    transition: transform 0.3s ease-in-out, bottom 0.3s ease-in-out;
    transform: translateY(100%);
    overflow: hidden;
    cursor: pointer;

    @media(min-width: 600px) {
        right: 40px;
        width: 400px;
    }

    .queue-header {
        padding: 5px 8px;
        display: flex;

        .name-and-count {
            flex-grow: 1;
        }
    }

    &.expanded {
        transform: translateY(0);
        bottom: 0;
    }

    .tray-toggle {
        background-color: pink;
        color: #000;
        text-align: center;
        padding: 10px;
        cursor: pointer;
    }

    .queue-contents {
        height: 400px;
        overflow: auto;

        .empty {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .entry-contents {
        display: flex;
        align-items: center;

        &.selected {
            background: $game-button-background-hover;
        }

        .mission-name {
            padding-left: 5px;
            flex-grow: 1;
        }

        i.game-icon {
            font-size: 2rem;

            &.hidden {
                visibility: hidden;
            }

            &:not(:last-child) {
                padding-right: 3px;
            }
        }
    }
}


</style>