<template>
    <div class="targets">
        <div class="row" v-if="showLoader">
            <div class="col-12 justify-content-center" style="color: black">
                <loader/>
            </div>
        </div>
        <div v-else>
            <div class="row mission-header" v-if="selectedMission">
                <div class="col-12">
                    <div class="icon">
                        <game-icon :icon="selectedMission.missionType === 'Elusive Target' ? 'elusive' : 'mission'" font-style="normal" />
                    </div>
                    <div class="name">
                        <div class="upper">{{ selectedMission.missionType }} / {{ selectedMission.locationName }}</div>
                        <div class="lower">{{ selectedMission.name }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-12 target" v-for="(spinResult, index) in spinResults">
                    <spin-objective :spin-result="spinResult"
                                    :index="index"
                                    :require-disguise="selectedRestrictions.includes('require-disguise')"
                                    :display-objectives-tracker="displayObjectivesTracker"
                                    :objectives="objectives"
                                    :disable-objectives="disableObjectives"
                                    :participant-one-name="participantOneName"
                                    :participant-two-name="participantTwoName"
                                    :manual-mode="manualModeEnabled"
                                    :show-hitmaps-link="showHitmapsLink"
                                    :selected-mission="selectedMission"
                                    @request-kill-methods="handleRequestKillMethods"
                                    @request-completion-methods="handleRequestCompletionMethods"
                                    @request-disguises="handleRequestDisguises"
                                    @update-objectives="$emit('update-objectives')"
                                    @selected-specific-condition="onSelectedSpecificCondition"
                                    @respin-specific-condition="respinSpecificCondition" />
                </div>
                <div class="col-xl-6 col-lg-12 objective-clearer" v-if="selectedMission && displayObjectivesTracker">
                    <div>
                        <utility-button theme="dark" :disabled="disableObjectives" @click="clearAllObjectives(participantOneName)">
                            <game-icon icon="trash" />
                            Clear all objectives for {{ participantOneName }}
                        </utility-button>
                        <utility-button theme="dark" :disabled="disableObjectives" @click="clearAllObjectives(participantTwoName)">
                            <game-icon icon="trash" />
                            Clear all objectives for {{ participantTwoName }}
                        </utility-button>
                    </div>
                </div>
            </div>
        </div>
        <completion-methods-modal :spin-result="manualModeSelectedSpinResult" :completion-methods="availableCompletionMethods"
                            @selected-specific-condition="onSelectedSpecificCondition" />
        <disguise-restrictions-modal :spin-result="manualModeSelectedSpinResult" :disguises="availableDisguises"
                                     @selected-specific-condition="onSelectedSpecificCondition" />
    </div>
</template>

<script>
    import GameIcon from './GameIcon.vue';
    import SpinResult from './SpinResult';
    import SpinObjective from '@/components/SpinObjective.vue';
    import CompletionMethodsModal from '@/components/CompletionMethodsModal.vue';
    import DisguiseRestrictionsModal from '@/components/DisguiseRestrictionsModal.vue';
    import Condition from '@/components/Condition.ts';
    import Loader from '@/components/Loader.vue';
    import LockedConditions from '@/components/LockedConditions.ts';
    import HitmapsApiDisguise from '@/components/HitmapsApiDisguise.ts';
    import Complication from "@/components/Complication";
    import UtilityButton from "@/components/UtilityButton.vue";
    export default {
        name: 'Spin',
        components: {UtilityButton, Loader, DisguiseRestrictionsModal, CompletionMethodsModal, SpinObjective, GameIcon},
        props: {
            selectedRestrictions: Array,
            missions: Array,
            participantOneName: String,
            participantTwoName: String,
            objectives: Object,
            disableObjectives: Boolean,
            manualModeEnabled: Boolean,
            showHitmapsLink: {
                type: Boolean,
                default: false,
                required: false
            }
        },
        data() {
            return {
                showLoader: false,
                availableCompletionMethods: [],
                availableDisguises: [],
                spinResults: [],
                selectedMission: null,
                usedLargeWeapon: false,
                manualModeSelectedSpinResult: null
            };
        },
        computed: {
            displayObjectivesTracker() {
                return this.participantOneName && this.participantTwoName && this.selectedMission.name === 'Apex Predator';
            }
        },
        methods: {
            respinSpecificCondition({ spinResult, objectiveType }) {
                const lockedTargetConditions = this.spinResults.filter(x => x.target !== spinResult.target && x.type === 'KILL');
                const lockedAdditionalObjectives = this.spinResults.filter(x => x.target !== spinResult.target && x.type === 'OBJECTIVE');

                const clonedResult = JSON.parse(JSON.stringify(spinResult));
                if (spinResult.type === 'KILL') {
                    if (objectiveType === 'KILL') {
                        clonedResult.killMethod = null;
                        spinResult.killMethod.selectedVariant = null;
                        spinResult.killMethod.name = 'Spinning...';
                        spinResult.killMethod.tileUrl = null;
                    } else {
                        clonedResult.disguise = null;
                        spinResult.disguise.name = 'Spinning...';
                        spinResult.disguise.tileUrl = null;
                    }

                    lockedTargetConditions.push(clonedResult);
                } else if (spinResult.type === 'OBJECTIVE') {
                    if (objectiveType === 'OBJECTIVE') {
                        clonedResult.killMethod = null;
                        spinResult.killMethod.name = 'Spinning...';
                        spinResult.killMethod.tileUrl = null;
                    } else {
                        clonedResult.disguise = null;
                        spinResult.disguise.name = 'Spinning...';
                        spinResult.disguise.tileUrl = null;
                    }

                    lockedAdditionalObjectives.push(clonedResult);
                }


                this.spin(new LockedConditions({
                    lockedTargetConditions,
                    lockedAdditionalObjectives
                })).then(() => this.$emit('respun-specific-condition'));
            },
            spin(lockedConditions = new LockedConditions()) {
                if (!this.missions.length) {
                    return;
                }

                if (lockedConditions.isEmpty()) {
                    this.showLoader = true;
                }

                const complications = [];
                if (this.selectedRestrictions.includes('no-target-pacification')) {
                    complications.push({
                        complicationType: 'No Target Pacification',
                        oddsOfReceivingComplication: 0.25
                    })
                }
                const requestBody = {
                    missionPool: lockedConditions.isNotEmpty() || lockedConditions.lockMission ?
                        [`${this.selectedMission.gameUri}|${this.selectedMission.location}|${this.selectedMission.slug}|${this.selectedMission.variant}`] :
                        this.missions.map(x => `${x.gameUri}|${x.location}|${x.slug}|${x.variant}`),
                    criteriaFilters: {
                        specificDisguises: this.selectedRestrictions.includes('require-disguise'),
                        specificMelee: this.selectedRestrictions.includes('specific-melee'),
                        specificFirearms: this.selectedRestrictions.includes('specific-firearms'),
                        specificAccidents: this.selectedRestrictions.includes('specific-accidents'),
                        uniqueTargetKills: this.selectedRestrictions.includes('unique-target-kills'),
                        genericKills: this.selectedRestrictions.includes('generic-kills'),
                        impossibleOrDifficultKills: this.selectedRestrictions.includes('difficult-impossible-kills'),
                        additionalObjectives: this.selectedRestrictions.includes('additional-objectives'),
                        additionalObjectiveDisguises: this.selectedRestrictions.includes('additional-objective-disguise'),
                        potentialComplications: complications
                    },
                    lockedTargetConditions: lockedConditions.lockedTargetConditions,
                    lockedAdditionalObjectives: lockedConditions.getAdditionalObjectivesForApiRequest()
                };

                return this.$http.post(`${this.$apiDomain}/api/spins`, requestBody)
                    .then(resp => {
                        this.handleSpinResults(resp.data);
                        this.showLoader = false;
                    }).catch(err => {
                        console.error(err);
                        this.showLoader = false;
                    });
            },
            loadSpecificSpin(publicId) {
                this.showLoader = true;
                return this.$http.get(`${this.$apiDomain}/api/spins?publicId=${publicId}`)
                    .then(resp => {
                        this.handleSpinResults(resp.data);
                        this.showLoader = false;
                    }).catch(err => {
                        console.error(err);
                        this.showLoader = false;
                    });
            },
            handleSpinResults(response) {
                this.spinResults = [];
                this.selectedMission = this.missions.find(x => x.slug === response.mission.slug && x.variant === response.mission.variantSlug);
                for (const result of response.targetConditions) {
                    this.spinResults.push(new SpinResult({
                        target: result.target,
                        killMethod: new Condition(result.killMethod),
                        disguise: new Condition(result.disguise),
                        complications: result.complications.map(x => new Complication(x))
                    }));
                }
                for (const result of response.additionalObjectives) {
                    this.spinResults.push(new SpinResult({
                        type: 'OBJECTIVE',
                        target: result.objective,
                        killMethod: new Condition(result.completionMethod),
                        disguise: new Condition(result.disguise)
                    }));
                }
            },
            handleRequestKillMethods(spinResult) {
                const queryParameters = [
                    `missionGame=${this.selectedMission.gameUri}`,
                    `missionLocation=${this.selectedMission.location}`,
                    `missionSlug=${this.selectedMission.slug}`,
                    `missionVariant=${this.selectedMission.variant}`,
                    `specificDisguises=${this.selectedRestrictions.includes('require-disguise')}`,
                    `specificMelee=${this.selectedRestrictions.includes('specific-melee')}`,
                    `specificFirearms=${this.selectedRestrictions.includes('specific-firearms')}`,
                    `specificAccidents=${this.selectedRestrictions.includes('specific-accidents')}`,
                    `uniqueTargetKills=${this.selectedRestrictions.includes('unique-target-kills')}`,
                    `genericKills=${this.selectedRestrictions.includes('generic-kills')}`,
                    `impossibleOrDifficultKills=${this.selectedRestrictions.includes('difficult-impossible-kills')}`,
                    `targetName=${encodeURIComponent(spinResult.target.name)}`
                ];
                this.availableCompletionMethods = [];
                this.$http.get(`${this.$apiDomain}/api/spins/kill-conditions?${queryParameters.join('&')}`)
                    .then(resp => {
                        this.availableCompletionMethods = resp.data;
                        this.manualModeSelectedSpinResult = spinResult;
                    })
                    .catch(err => {
                        console.error(err);
                        alert('Unable to fetch kill conditions!');
                    });
            },
            handleRequestCompletionMethods(spinResult) {
                const queryParameters = [
                    `missionGame=${this.selectedMission.gameUri}`,
                    `missionLocation=${this.selectedMission.location}`,
                    `missionSlug=${this.selectedMission.slug}`,
                    `objectiveName=${spinResult.target.name}`
                ];
                this.availableCompletionMethods = [];
                this.$http.get(`${this.$apiDomain}/api/spins/additional-objectives?${queryParameters.join('&')}`)
                    .then(resp => {
                        this.availableCompletionMethods = resp.data;
                        this.manualModeSelectedSpinResult = spinResult;
                    })
                    .catch(err => {
                        console.error(err);
                        alert('Unable to fetch additional objectives!');
                    });
            },
            handleRequestDisguises(spinResult) {
                const url = `https://api.hitmaps.com/api/games/${this.selectedMission.gameUri}` +
                    `/locations/${this.selectedMission.location}/missions/${this.selectedMission.slug}/disguises`;
                this.$http.get(url).then(resp => {
                    this.availableDisguises = resp.data.disguises.map(x => new HitmapsApiDisguise(x));
                    this.manualModeSelectedSpinResult = spinResult;
                }).catch(err => {
                    console.error(err);
                    alert('Unable to fetch disguises!');
                });
            },
            onSelectedSpecificCondition() {
                this.$emit('respun-specific-condition');
            },
            clearAllObjectives(playerName) {
                const playerIndex = this.participantOneName === playerName ? 1 : 2;
                for (let i = 0; i < 5; i++) {
                    this.objectives[`${i}|${playerIndex}`] = false;
                }
                this.$emit('update-objectives');
            }
        }
    };
</script>

<style lang="scss" scoped>
    .col-12 {
        display: flex;
        color: white;
        text-transform: uppercase;

        .icon {
            margin-right: 10px;
        }

        .name {
            display: flex;
            flex-direction: column;
            line-height: 1.4;

            .lower {
                font-family: 'nimbus_sans_lbold', sans-serif;
                font-size: 1.3rem;
            }
        }
    }

    .target {
        margin-top: 10px;
    }

    .objective-clearer {
        margin-top: 10px;
        margin-bottom: 10px;

        button + button {
            margin-top: 10px;
        }

        i {
            display: inline;
            font-size: 20px;
        }
    }
</style>