<template>
    <modal id="stream-overlay-modal" modal-title="Stream Overlay" dismissable fullscreen>
        <div class="row">
            <div class="col">
                <div class="header">
                    <svg-font-icon icon="obs" />
                    Browser Source
                </div>
                <div class="content">
                    This browser source allows you to display spin conditions on-screen using a Browser Source in your
                    favorite streaming software, such as OBS, StreamLabs OBS (aka SLOBS), or XSplit. There are two
                    layouts available:
                    <ul>
                        <li><b>Wide</b>: This overlay lays out targets in a 2x2 configuration (except for Berlin which is a 2x3 configuration)</li>
                        <li><b>Vertical</b>: This overlay lays out targets vertically, with one target per row</li>
                        <li><b>Text Only</b>: This overlay shows conditions in a text-based format, with no images.  Text is right-aligned.</li>
                    </ul>
                    Dimensions are provided in the dropdown to assist in setting up the browser source.

                    <select class="form-control" v-model="overlayType">
                        <option value="overlay" selected>Wide (1300px x 600px)</option>
                        <option value="vertical-overlay">Vertical (650px x 1100px)</option>
                        <option value="text-overlay">Text Only</option>
                    </select>
                    <game-button :disabled="!enableCopyOverlayButton" @click="$emit('copy-overlay-link', overlayType)">
                        <game-icon icon="arrow-right" font-style="normal" />
                        Copy to Clipboard
                    </game-button>
                </div>
            </div>
            <div class="col" v-if="showTwitchPanel">
                <div class="header">
                    <svg-font-icon icon="twitch" />
                    Twitch Panel
                </div>
                <div class="content">
                    The HITMAPS&trade; Roulette Twitch panel is <b>currently under development</b>. Once complete, you can use this panel to:
                    <ul>
                        <li>Display spin conditions using the panel (thus removing the need for the browser source)</li>
                        <li>Allow users to request specific spins, which will be placed into a queue for the streamer to pull from</li>
                    </ul>
                    <p>Keep an eye on this as development progresses!</p>
                </div>
            </div>
        </div>
        <template v-slot:modal-footer>
            <game-button data-dismiss="modal">
                <game-icon icon="failed" font-style="normal" />
                Close
            </game-button>
        </template>
    </modal>
</template>

<script>
    import Modal from './Modal.vue';
    import GameIcon from '@/components/GameIcon.vue';
    import SvgFontIcon from '@/components/SvgFontIcon.vue';
    import Alert from '@/components/Alert.vue';
    import GameButton from '@/components/GameButton.vue';
    export default {
        name: 'StreamOverlayModal',
        components: {GameButton, Alert, SvgFontIcon, GameIcon, Modal},
        props: {
            rouletteMatchupId: String,
            showTwitchPanel: Boolean,
            enableCopyOverlayButton: Boolean
        },
        data() {
            return {
                overlayType: 'overlay'
            };
        }
    };
</script>

<style lang="scss" scoped>
    .header {
        font-size: 1.3rem;
        font-family: 'nimbus_sans_lbold', sans-serif;
    }
</style>