<template>
    <div class="row utilities">
        <div class="col">
            <div class="status">
                <div class="header">Match Status</div>
                <p>{{ status }}</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'TourneyStatus',
        props: {
            status: String
        }
    };
</script>

<style lang="scss" scoped>
    .status {
        .header {
            font-size: 1.5rem;
            font-family: 'nimbus_sans_lbold', sans-serif;
        }

        padding: 10px;
        background: $game-button-background;
        color: $card-footer-text;
    }
</style>