<template>
    <div class="tourney-mode-setup">
        <div class="row">
            <div class="col-12 header">
                <h2>Select Tournament Mode</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="subheader">
                    <h3>Basic</h3>
                    <h4>(Formerly Ad-Hoc)</h4>
                </div>
                <div class="details">
                    <ul>
                        <li>Useful for running a community Roulette Rivals match</li>
                        <li>Provides ability to set a spin countdown</li>
                        <li>Provides ability to set a spin timer for match duration</li>
                        <li>Provides link to a read-only version of a spin details page</li>
                    </ul>
                    <game-button @click="$emit('start-basic-tourney-match')">
                        <game-icon icon="arrow-right" font-style="normal" />
                        Start Basic Match
                    </game-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import GameButton from '@/components/GameButton.vue';
import GameIcon from '@/components/GameIcon.vue';
import Utils from '@/components/Utils.ts';
import {useCookies} from "vue3-cookies";
export default {
    name: 'TourneyModeSetup',
    setup() {
        const { cookies } = useCookies();
        return {
            cookies
        }
    },
    components: {GameIcon, GameButton}
};
</script>

<style lang="scss" scoped>
    .tourney-mode-setup {
        background: $modal-background;
        color: $modal-text-color;
        padding: 10px;

        h2, h3 {
            font-family: 'nimbus_sans_lbold', sans-serif;
        }

        h4 {
            font-size: 0.9rem;
        }

        .subheader {
            h3 {
                display: inline-block;
            }

            h4 {
                display: inline-block;
                margin-left: 5px;
            }
        }

        .col-md-6 {
            display: flex;
            flex-direction: column;

            .details {
                flex-grow: 1;
                display: flex;
                flex-direction: column;

                ul {
                    flex-grow: 1;
                }

                .fab {
                    font-size: 32px;
                }
            }

            a:hover {
                text-decoration: none;
            }
        }
    }
</style>