<template>
    <button type="button"
            :class="`theme-${theme} nohover-${noHover}`"
            v-bind="$attrs">
        <slot></slot>
    </button>
</template>

<script>
    export default {
        name: 'UtilityButton',
        props: {
            theme: String,
            noHover: Boolean
        }
    };
</script>

<style lang="scss" scoped>
    button {
        &.theme-dark {
            background: $game-button-background;
            color: white;

            &:disabled {
                background: $game-button-background-disabled;
                cursor: not-allowed;

                &:hover {
                    background: $game-button-background-disabled;
                }
            }

            &.nohover-true:hover {
                background: $game-button-background;
                cursor: default;
            }
        }

        &.theme-light {
            background: white;

            &.nohover-false:hover {
                color: white;
            }

            &.nohover-true:hover {
                background: white;
                cursor: default;
            }
        }

        font-family: 'nimbus_sans_lbold', sans-serif;
        text-transform: uppercase;
        border: none;
        width: 100%;
        height: 100%;
        padding: 15px;

        &.nohover-false:hover {
            background: $game-button-background-hover;
        }

        &:deep(i) {
            display: block;
            margin-bottom: 15px;
        }
    }
</style>