<template>
    <div class="targets">
        <div class="target" :class="`target-${index}`" v-for="(targetCondition, index) in targetConditions">
            <div class="target-image" :style="{
                background: `url(https://media.hitmaps.com/img/hitmaps-roulette/berlin-${index + 1}.jpg) center center / cover no-repeat`
            }">
                <div class="player1-complete" v-if="objectives[`${index}|1`]">&nbsp;</div>
                <div class="player2-complete" v-if="objectives[`${index}|2`]">&nbsp;</div>
                <div class="no-target-ko" v-if="targetCondition.complications.length">
                    <game-icon icon="complication" font-style="solid"/>
                    No Target KO
                </div>
            </div>
            <div class="restrictions">
                <div class="restriction">
                    <div class="image">
                        <game-icon icon="difficulty-casual" font-style="solid" />
                    </div>
                    <div class="text">
                        <h2>Eliminate Using</h2>
                        <h1>
                            <template v-if="targetCondition.killMethod.selectedVariant">
                                {{ targetCondition.killMethod.selectedVariant }}
                            </template>
                            {{ targetCondition.killMethod.name }}
                        </h1>
                    </div>
                </div>
                <div class="restriction">
                    <div class="image">
                        <game-icon icon="disguise" font-style="solid" />
                    </div>
                    <div class="text">
                        <h2>Wear Disguise</h2>
                        <h1>{{ targetCondition.disguise.name }}</h1>
                    </div>
                </div>
                <div class="images">
                    <div class="kill-method" :style="{
                    background: `url('${targetCondition.killMethod.tileUrl}') center center / cover no-repeat`
                }">
                        &nbsp;
                    </div>
                    <div class="disguise" :style="{
                    background: `url('${targetCondition.disguise.tileUrl}') center center / cover no-repeat`
                }">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import GameIcon from '@/components/GameIcon.vue';
    export default {
        name: 'FiveTargets',
        components: {GameIcon},
        props: {
            targetConditions: null,
            objectives: {}
        }
    };
</script>

<style lang="scss" scoped>
    .targets {
        display: flex;

        .target {
            display: flex;

            &.target-0 {
                animation: 1s ease-in-out 0s 1 slide0;
            }

            &.target-1 {
                animation: 1s ease-in-out 0s 1 slide1;
            }

            &.target-2 {
                animation: 1s ease-in-out 0s 1 slide2;
            }

            &.target-3 {
                animation: 1s ease-in-out 0s 1 slide3;
            }

            &.target-4 {
                animation: 1s ease-in-out 0s 1 slide4;
            }

            .target-image {
                width: 158px;
                height: 186px;
                display: flex;
                flex-direction: column;
                position: relative;

                .player1-complete {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 40px;
                    height: 40px;
                    border-style: solid;
                    border-width: 0 0 40px 40px;
                    border-color: transparent transparent transparent red;
                }

                .player2-complete {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 40px;
                    height: 40px;
                    border-style: solid;
                    border-width: 0 40px 40px 0;
                    border-color: transparent blue transparent transparent;
                }

                .no-target-ko {
                    background: red;
                    display: flex;
                    align-items: center;
                    color: #fff;
                    margin-top: auto;
                    padding: 5px;
                    opacity: .85;

                    i {
                        font-size: 30px;
                        margin-right: 5px;
                    }
                }

                .target-info {
                    display: flex;
                    color: white;
                    text-transform: uppercase;

                    .image {
                        margin-left: 5px;

                        i {
                            font-size: 34px;
                        }
                    }

                    .text {
                        margin-left: 5px;

                        h2 {
                            font-size: 12px;
                            font-family: 'nimbus_sans_lregular', sans-serif;
                            margin-bottom: 0;
                        }

                        h1 {
                            font-size: 16px;
                        }
                    }
                }

                p {
                    flex-grow: 1;
                }
            }

            .restrictions {
                .restriction {
                    height: 62px;
                    width: 226px;
                    display: flex;
                    align-items: center;
                    padding-left: 10px;
                    color: white;
                    background: rgba(0,0,0,.3);

                    .image i {
                        font-size: 30px;
                    }

                    .text {
                        margin-left: 5px;

                        h2 {
                            font-size: 12px;
                            font-family: 'nimbus_sans_lregular', sans-serif;
                            margin-bottom: 0;
                        }

                        h1 {
                            font-size: 16px;
                            margin-bottom: 0;
                        }
                    }
                }

                .images {
                    width: 226px;
                    height: 62px;
                    display: flex;

                    .kill-method, .disguise {
                        width: 113px;
                        height: 62px;
                    }
                }
            }
        }
    }

    @keyframes slide0 {
        0% {
            transform: translateY(260px);
        }
        77% {
            transform: translateY(-15px);
        }
        80% {
            transform: translateY(0);
        }
    }

    @keyframes slide1 {
        0% {
            transform: translateY(260px);
        }
        20% {
            transform: translateY(260px);
        }
        82% {
            transform: translateY(-15px);
        }
        85% {
            transform: translateY(0);
        }
    }

    @keyframes slide2 {
        0% {
            transform: translateY(260px);
        }
        30% {
            transform: translateY(260px);
        }
        87% {
            transform: translateY(-15px);
        }
        90% {
            transform: translateY(0);
        }
    }

    @keyframes slide3 {
        0% {
            transform: translateY(260px);
        }
        40% {
            transform: translateY(260px);
        }
        92% {
            transform: translateY(-15px);
        }
        95% {
            transform: translateY(0);
        }
    }

    @keyframes slide4 {
        0% {
            transform: translateY(260px);
        }
        50% {
            transform: translateY(260px);
        }
        97% {
            transform: translateY(-15px);
        }
        100% {
            transform: translateY(0);
        }
    }

    @keyframes slideFromLeft {
        0% {
            transform: translateX(-960px);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes slideFromRight {
        0% {
            transform: translateX(960px);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes from-bottom {
        0% {
            transform: translateY(260px);
        }
        100% {
            transform: translateY(0);
        }
    }
</style>