<script>
import {defineComponent} from 'vue'

export default defineComponent({
    name: "FinishedDelta",
    props: {
        finishTime: String
    },
    data() {
        return {
            interval: null,
            currentDelta: 0
        }
    },
    mounted() {
        this.interval = setInterval(this.doCalc, 50);
    },
    unmounted() {
        clearInterval(this.interval);
    },
    computed: {
        displayValue() {
            return `+${(this.currentDelta / 1000).toFixed(1)}s`;
        }
    },
    methods: {
        doCalc() {
            this.currentDelta = new Date() - new Date(this.finishTime);
        }
    }
})
</script>

<template>
    <span>{{ displayValue }}</span>
</template>

<style lang="scss" scoped>
span {
    font-family: monospace;
}
</style>