<template>
    <lottie :options="animationOptions" :width="120" :height="114" @animCreated="handleAnimation" />
</template>

<script>
import * as animationData from '../../assets/rr12.json';
import Lottie from "@/components/TournamentOverlay/Lottie.vue";

export default {
    name: 'LottieScore',
    components: {Lottie},
    props: {
        score: Number
    },
    data() {
        return {
            displayedScore: null,
            animationOptions: {
                animationData: animationData.default,
                loop: false,
                autoplay: false
            },
            animation: null,
            currentScoreMultiplier: 1
        };
    },
    mounted() {
        this.goToScore();
    },
    methods: {
        handleAnimation(anim) {
            this.animation = anim;
        },
        goToScore() {
            if (this.score === this.displayedScore) {
                // Nothing to do
                return;
            }

            // 0 -> 15  ("0" to right before "1")
            // 30 -> 45 ("1" to right before "2")
            // Start at the current score and go to the middle
            const sourceScoreMultiplier = this.displayedScore + 1;
            this.animation.playSegments([30 * sourceScoreMultiplier, (30 * sourceScoreMultiplier) + 15], true);

            // Now go to the new score's "middle" end and end up at the number
            const targetScoreMultiplier = this.score + 1;
            this.animation.playSegments([(30 * targetScoreMultiplier) - 15, 30 * targetScoreMultiplier]);

            this.displayedScore = this.score;
            this.currentScoreMultiplier = targetScoreMultiplier;
        }
    },
    watch: {
        score(newScore, oldScore) {
            if (newScore === oldScore) {
                return;
            }

            this.goToScore();
        }
    }
};
</script>

<style lang="scss">
path[stroke-linecap="butt"][stroke-linejoin="round"][stroke-miterlimit="4"] {
    stroke: black;
    stroke-width: 2px;
}
</style>