<template>
    <lottie :options="animationOptions" :width="1000" :height="1000" @animCreated="handleAnimation" />
</template>

<script>
import * as animationData from '../../assets/rr14-animation.json';
import Lottie from "@/components/TournamentOverlay/Lottie.vue";

export default {
    name: 'Rr10LottieScore',
    components: {Lottie},
    props: {
        score: Number
    },
    data() {
        return {
            displayedScore: null,
            animationOptions: {
                animationData: animationData.default,
                loop: false,
                autoplay: false
            },
            animation: null
        };
    },
    mounted() {
        this.goToScore();
    },
    methods: {
        handleAnimation(anim) {
            this.animation = anim;
        },
        goToScore() {
            if (this.score === this.displayedScore) {
                // Nothing to do
                return;
            }

            // Start/End, Old Glitched, New Glitched
            const lookupTable = [
                [24, 44, 0],
                [69, 90, 46],
                [114, 135, 91],
                [159, 180, 136],
                [204, 225, 181],
                [249, 270, 226],
                [294, 315, 271],
                [384, 405, 361], // THIS IS ACTUALLY 8
                [339, 360, 316], // THIS IS ACTUALLY 7   (Blame Obs)
                [429, 450, 406],
                [474, 495, 451],
                [519, 540, 496],
                [564, 585, 541],
                [609, 630, 586]
            ];

            if (this.displayedScore !== null) {
                this.animation.playSegments([
                    lookupTable[this.displayedScore][0],
                    lookupTable[this.displayedScore][1]
                ], true);
            }

            // Now go to the new score's "middle" end and end up at the number
            this.animation.playSegments([
                lookupTable[this.score][2],
                lookupTable[this.score][0]
            ], this.displayedScore === null);

            this.displayedScore = this.score;
        }
    },
    watch: {
        score(newScore, oldScore) {
            if (newScore === oldScore) {
                return;
            }

            this.goToScore();
        }
    }
};
</script>

<style lang="scss">
</style>