<script>
import {defineComponent} from 'vue'
import ArrayHelpers from "@/components/ArrayHelpers";

export default defineComponent({
    name: "Rr15SlotDoors",
    props: {
        score: Array
    },
    data() {
        return {
            scopeId: null,
            shownValue: 0,
            slotNumbers: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
            previousScore: [0, 0]
        }
    },
    mounted() {
        if (this.score.length === 2) {
            this.spin(this.score, [0,0]);
        }
    },
    computed: {
        hasLargeNumber: function() {
            return this.score[0] > 9 || this.score[1] > 9;
        }
    },
    methods: {
        async spin(newScore, oldScore) {
            this.buildDoors(newScore, oldScore);

            const doors = document.querySelectorAll('.door');
            for (const door of doors) {
                const boxes = door.querySelector('.boxes');
                const duration = parseInt(boxes.style.transitionDuration);
                boxes.style.transform = 'translateY(0)';
                await new Promise((resolve) => setTimeout(resolve, duration * 100));
            }
        },
        buildDoors(newScore, oldScore) {
            const doors = document.querySelectorAll('.door');
            let index = 0;
            for (const door of doors) {
                const valueToUse = index === 0 ? newScore[0] : newScore[1];
                const boxes = door.querySelector('.boxes');
                const boxesClone = boxes.cloneNode(false);
                const pool = [index === 0 ? oldScore[0] : oldScore[1]];
                const arr = this.buildArray(valueToUse);
                pool.push(...arr);

                boxesClone.addEventListener('transitionstart', function() {
                    this.querySelectorAll('.box').forEach(box => {
                        box.style.filter = 'blur(1px)';
                    });
                }, { once: true });

                boxesClone.addEventListener('transitionend', function() {
                    this.querySelectorAll('.box').forEach((box, index) => {
                        box.style.filter = 'blur(0)';
                        if (index > 0) {
                            this.removeChild(box);
                        }
                    });
                }, { once: true });

                for (let i = pool.length - 1; i >= 0; i--) {
                    const box = document.createElement('div');
                    box.setAttribute(this.$options.__scopeId, '');
                    box.classList.add('box');

                    box.textContent = pool[i];
                    boxesClone.appendChild(box);
                }
                boxesClone.style.transitionDuration = '1.5s';
                boxesClone.style.transform = `translateY(-${door.clientHeight * (pool.length - 1)}px)`;
                door.replaceChild(boxesClone, boxes);

                index++;
            }
        },
        buildArray(finalValue) {
            // Remove the value from the array, shuffle the other items, and tack the final value back onto the end
            let newArray = ArrayHelpers.deleteElementByIndex(this.slotNumbers, finalValue);
            newArray = this.shuffle(newArray);
            newArray.push(finalValue);

            return newArray;
        },
        shuffle(values) {
            let remainingLength = values.length;
            while (remainingLength) {
                const index = Math.floor(Math.random() * remainingLength--);
                [values[remainingLength], values[index]] = [values[index], values[remainingLength]];
            }

            return values;
        }
    },
    watch: {
        score(newScore, oldScore) {
            // Make sure our arrays have 2 elements and they're different
            if ((newScore.length !== 2 || oldScore.length !== 2) ||
                (newScore[0] === oldScore[0] && newScore[1] === oldScore[1])) {
                return;
            }

            console.log(`NEW: ${newScore} | OLD: ${oldScore}`);
            this.spin(newScore, oldScore);
        }
    }
})
</script>

<template>
    <div class="doors" :class="hasLargeNumber ? 'large-number' : ''">
        <div class="door">
            <div class="boxes">
                <!--<div class="box">?</div>-->
            </div>
        </div>
        <div class="fake-door">
            <div class="fake-boxes">
                <div class="box">-</div>
            </div>
        </div>
        <div class="door">
            <div class="boxes">
                <!--<div class="box">?</div>-->
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">
.doors {
    display: flex;
    font-family: 'slots-text', sans-serif;
    color: #ffbf46;
    -webkit-text-stroke: 2px #000;
    position: absolute;
    top: 87px;
    left: 22px;
    font-size: 6rem;

    &.large-number {
        font-size: 5rem;
    }
}

@font-face {
    font-family: 'slots-text';
    src: url("/fonts/rr15/nt-wagner.woff") format('woff'),
    url("/fonts/rr15/nt-wagner.woff2") format('woff2');
    font-weight:normal;
    font-style:normal;
}

.door, .fake-door {
    background: transparent;
    width: 90px;
    height: 130px;
    overflow: hidden;
    border-radius: 7px;
    margin-right: 16px;
}

.boxes, .fake-boxes {
    /* transform: translateY(0); */
    transition: transform 1s ease-in-out;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 130px;
}
</style>