<script setup lang="ts">
</script>
<script lang="ts">
export default {
    name: 'App'
}
</script>
<style lang="scss">
@font-face {
    font-family: 'nimbus_sans_lbold';
    src: url('/fonts/NimbusSanL-Bol-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nimbus_sans_lregular';
    src: url('/fonts/NimbusSanL-Reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
</style>

<template>
    <router-view/>
</template>
